In [4]:
import os
import sys
experiment_path = '..\..'

path = os.path.abspath('')
module_path = os.path.join(path, experiment_path)
if module_path not in sys.path:
    sys.path.append(module_path+"\\functions")

from dataset_utils import DatasetEvaluator

<>:3: SyntaxWarning: invalid escape sequence '\.'
<>:3: SyntaxWarning: invalid escape sequence '\.'
C:\Users\Tahsin\AppData\Local\Temp\ipykernel_21408\516626944.py:3: SyntaxWarning: invalid escape sequence '\.'
  experiment_path = '..\..'

In [ ]:
def get_schema(FILE_NAME_PATH):
    if "mondial_gpt" in FILE_NAME_PATH:
        return "mondial_gpt"
    elif "mondial" in FILE_NAME_PATH:
        return "mondial"
    return ""

def get_dataset_evaluator(FILE_NAME_PATH):
    SCHEMA = get_schema(FILE_NAME_PATH)  
    PREFIX = SCHEMA  
    if SCHEMA == "mondial_gpt":
        PREFIX = "mondial"
    print(PREFIX)
    print(SCHEMA)
    dataset_eval = DatasetEvaluator(dataset_file_path=f"../../datasets/{PREFIX}/{PREFIX}_dataset.json",
                                dataset_tables_path=f"../../datasets/{PREFIX}/result_tables/",
                                db_connection_file=f"../../datasets/{SCHEMA}_db_connection.json",
                                dataset_name=SCHEMA)
    return dataset_eval

In [5]:
evaluator = dataset_eval = DatasetEvaluator(dataset_file_path=f"../../datasets/mondial/mondial_dataset.json",
                                dataset_tables_path=f"../../datasets/mondial/result_tables/",
                                db_connection_file=f"../../datasets/mondial_db_connection.json",
                                dataset_name="mondial")

{'DB_HOST': 'localhost', 'DB_PORT': '1522', 'DB_USER_NAME': 'MONDIAL_GPT', 'DB_PASS': 'TextDB123', 'DB_NAME': '', 'SQL_DRIVER': 'oracle+oracledb', 'SERVICE_NAME': 'xepdb1', 'SCHEMA': 'MONDIAL_GPT', 'KEYWORD_SEARCH_API_URL': ''}

In [7]:
gold_df = evaluator.run_sql_query("SELECT name FROM mountain WHERE name IN (SELECT mountain FROM mountainonisland WHERE island = (SELECT island FROM islandin WHERE island = 'Borneo'))")
predicted_df = evaluator.run_sql_query("SELECT COUNT(cityothername.city) FROM cityothername JOIN country ON cityothername.country = country.code WHERE country.area > 30000")
print(gold_df)
print(predicted_df)
print(evaluator.df_content_equal(gold_df, predicted_df))

c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\C3+\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)

DatabaseError: Execution failed on sql 'SELECT name FROM mountain WHERE name IN (SELECT mountain FROM mountainonisland WHERE island = (SELECT island FROM islandin WHERE island = 'Borneo'))': ORA-01427: single-row subquery returns more than one row
Help: https://docs.oracle.com/error-help/db/ora-01427/