In [2]:

from dotenv import load_dotenv
import os
import sys
import json
import pandas as pd
import time
import datetime
load_dotenv()

path = os.path.abspath('')
module_path = os.path.join(path,'..\..')
print(module_path)
if module_path not in sys.path:
    sys.path.append(module_path+"\\functions")


from dataset_utils import DatasetEvaluator

c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..

<>:11: SyntaxWarning: invalid escape sequence '\.'
<>:11: SyntaxWarning: invalid escape sequence '\.'
C:\Users\Tahsin\AppData\Local\Temp\ipykernel_6812\2745404199.py:11: SyntaxWarning: invalid escape sequence '\.'
  module_path = os.path.join(path,'..\..')

In [3]:
DEFAULT_PATH = "results/"
EXPERIMENT_RESULT_PATH = f"{DEFAULT_PATH}sql_query_chain_result_files.txt"
EXPERIMENT = "SQLQueryChain"
TARGET_PATH = f"evaluator_results/{EXPERIMENT}_results.csv"
TARGET_PATH_FK = f"evaluator_results/{EXPERIMENT}_foreign_key_results.csv"

Useful functions

In [4]:
def save_queries(queries, FILE_NAME_PATH):
    data = {"queries":queries}
    with open(FILE_NAME_PATH, "w") as arquivo_json:
        json.dump(data, arquivo_json, indent=4) 

def read_queries(FILE_NAME_PATH):
    with open(FILE_NAME_PATH, encoding="utf-8", errors="ignore") as json_data:
        data = json.load(json_data, strict=False)
    queries = data["queries"]
    return queries

def read_files():
    with open(EXPERIMENT_RESULT_PATH, "r") as f:
        files = f.readlines()
    files = [f"{DEFAULT_PATH}{x.strip()}" for x in files]
    return files

def get_schema(FILE_NAME_PATH):
    if "mondial_gpt" in FILE_NAME_PATH:
        return "mondial_gpt"
    elif "mondial" in FILE_NAME_PATH:
        return "mondial"

    return ""

def get_count_query_type(queries):
    count_types = {}
    for item in queries:
        type = item["type"]
        if type in count_types:
            count_types[type] += 1
        else:
            count_types[type] = 1
    count_types['total'] = len(queries)
    return count_types

def get_dataset_evaluator(FILE_NAME_PATH):
    SCHEMA = get_schema(FILE_NAME_PATH)  
    PREFIX = SCHEMA  
    if SCHEMA == "mondial_gpt":
        PREFIX = "mondial"
    print(PREFIX)
    print(SCHEMA)
    dataset_eval = DatasetEvaluator(dataset_file_path=f"../../datasets/{PREFIX}/{PREFIX}_dataset.json",
                                dataset_tables_path=f"../../datasets/{PREFIX}/result_tables/",
                                db_connection_file=f"../../datasets/{SCHEMA}_db_connection.json",
                                dataset_name=SCHEMA)
    return dataset_eval

def get_files_in_folder():
    files = []
    for r, d, f in os.walk(DEFAULT_PATH):
        for file in f:
            if '.json' in file and 'erro' not in file:
                files.append(os.path.join(r, file))
    return sorted(files)

def evaluate_query(queries, dataset_eval, FILE_NAME_PATH):
    result = {'simple': 0, 'medium': 0, 'complex': 0, 'total': 0}

    for q in queries:
        evaluate_result = False
        q['similarity'] = 0
        try:
            if q["query_string"].strip() != "":
                evaluate_result, similarity, column_matching_index = dataset_eval.evaluate_dataset_query(q["query_string"], q["id"], query_type="sql")
                q['column_matching_index'] = column_matching_index
                q['similarity']=similarity
            
        except Exception as e:
            print(str(e))
            
        q['result'] = evaluate_result
        
        if evaluate_result==True:
            result['total'] += 1
            result[q["type"]] += 1
        
    save_queries(queries, FILE_NAME_PATH)   
    return result

def get_file_name(FILE_NAME_PATH):
    parts = FILE_NAME_PATH.split("/")
    last_element = parts[-1]
    file_name = last_element.replace(".json", "")
    return file_name

def get_experiment_name(filename):
    schema = get_schema(filename).upper()
    experiment_name = f"{EXPERIMENT} - {schema}"
    if "chatgpt4" in filename:
        experiment_name += " - GPT-4"
    elif "chatgpt_" in filename:
        experiment_name += " - GPT-3.5"
    elif "llama" in filename:
        experiment_name += " - LLAMA"
    
    if "rag" in filename:
        experiment_name += " - RAG"
        
    if "turbo" in filename:
        experiment_name += " - Turbo"
                        
    if "instances" in filename:
        experiment_name += " - Passing database instances"
        
    if "_fk" in filename:
        experiment_name += " - FK"
        
    return experiment_name


def compute_cost(filename):
    queries = read_queries(filename)
    total_costs = 0
    total_tokens = 0
    input_tokens = 0
    output_tokens = 0
    for q in queries:
        total_tokens += q.get('total_tokens', 0)
        total_costs += q.get('total_cost', 0)
        input_tokens += q.get('prompt_tokens', 0)
        output_tokens += q.get('completion_tokens', 0)

    print(total_tokens)
    print(round(total_costs, 2))
    print(input_tokens, output_tokens)
    return total_tokens, round(total_costs, 2), input_tokens, output_tokens

def compute_time(filename):
    queries = read_queries(filename)
    total_time = 0
    for q in queries:
        total_time += q.get('time', 0)
    print(total_time)
    return str(datetime.timedelta(seconds=round(total_time)))

In [5]:
def run(result_files = [], result_final = [], compute_costs = True):
    
    if result_files == [] :
        result_files = get_files_in_folder()
    else:
        result_files = sorted(result_files)
        
    
    for file in result_files:
        queries = read_queries(file)
        dataset_eval = get_dataset_evaluator(file)
        count_query_type = get_count_query_type(queries)
        result = evaluate_query(queries, dataset_eval, file)
        
        overall_by_type = {}
        for item in result:
            overall_by_type[f"overall_{item}"] = round(result[item] / count_query_type[item], 4)
        
        result['experiment'] = get_file_name(file)
        result = {**result, **overall_by_type}
        result['total_tokens'], result['total_cost'], result['average_tokens_by_query'] = 0, 0, 0
        if compute_costs:
            result['total_tokens'], result['total_cost'], result['input_tokens'], result['output_tokens'] = compute_cost(file)

        result['total_time'] = compute_time(file)
        
        result_final.append(result)
        time.sleep(5)
    return result_final

## Validation with mondial - Foreign Keys

In [6]:
results_fk = run(['sql_queries_chatgpt_mschema_mondial_gpt.json'], [])

mondial
mondial_gpt
{'DB_HOST': 'localhost', 'DB_PORT': '1522', 'DB_USER_NAME': 'MONDIAL_GPT', 'DB_PASS': 'TextDB123', 'DB_NAME': '', 'SQL_DRIVER': 'oracle+oracledb', 'SERVICE_NAME': 'xepdb1', 'SCHEMA': 'MONDIAL_GPT', 'KEYWORD_SEARCH_API_URL': ''}
SELECT max(area) FROM mondial_country where name  = 'Thailand'

c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)

SELECT area FROM country WHERE name = 'Thailand'
True cols: Index(['MAX(AREA)'], dtype='object')
Adj. True cols: Index(['MAX(AREA)'], dtype='object')
Predicted cols: Index(['AREA'], dtype='object')
Adj. Predicted cols: Index(['AREA'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name FROM mondial_province where area > 10000
SELECT name
FROM province
WHERE area > 10000
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT mondial_language.name FROM mondial_language INNER JOIN mondial_country ON mondial_language.country = mondial_country.code WHERE mondial_country.name = 'Poland'
SELECT name
FROM language
WHERE country = 'PL'
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT depth FROM mondial_lake where name LIKE '%Lake Kariba%'
SELECT depth FROM lake WHERE name = 'Lake Kariba'
True cols: Index(['DEPTH'], dtype='object')
Adj. True cols: Index(['DEPTH'], dtype='object')
Predicted cols: Index(['DEPTH'], dtype='object')
Adj. Predicted cols: Index(['DEPTH'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT count(*) FROM mondial_province p INNER JOIN mondial_country c ON p.country = c.code WHERE c.name = 'Netherlands'
SELECT COUNT(*) FROM province WHERE country = 'NL'
True cols: Index(['COUNT(*)'], dtype='object')
Adj. True cols: Index(['COUNT(*)'], dtype='object')
Predicted cols: Index(['COUNT(*)'], dtype='object')
Adj. Predicted cols: Index(['COUNT(*)'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT r.percentage FROM mondial_religion r INNER JOIN mondial_country c ON r.country = c.code WHERE c.name = 'Thailand' AND r.name LIKE '%Hindu%'
SELECT percentage
FROM religion
WHERE country = 'TH' AND name = 'Hindu'
True cols: Index(['PERCENTAGE'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['PERCENTAGE'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT river.name, COUNT(DISTINCT geo_river.province) FROM river JOIN geo_river ON river.name = geo_river.river GROUP BY river.name
SELECT river.name, COUNT(DISTINCT located.province) AS num_provinces
FROM river
JOIN located ON river.name = located.river
GROUP BY river.name
ORDER BY num_provinces DESC
True cols: Index(['NAME', 'COUNT(DISTINCTGEO_RIVER.PROVINCE)'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['NAME', 'NUM_PROVINCES'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT c.name FROM mondial_country c
INNER JOIN mondial_politics p ON c.code = p.country
WHERE independence > DATE '1910-08-01' AND independence < DATE '1950-08-01'
SELECT name
FROM politics
WHERE independence BETWEEN TO_DATE('8/1/1910', 'MM/DD/YYYY') AND TO_DATE('8/1/1950', 'MM/DD/YYYY')
Error: Execution failed on sql 'SELECT name
FROM politics
WHERE independence BETWEEN TO_DATE('8/1/1910', 'MM/DD/YYYY') AND TO_DATE('8/1/1950', 'MM/DD/YYYY')': ORA-00904: "NAME": invalid identifier
Help: https://docs.oracle.com/error-help/db/ora-00904/
SELECT * FROM mondial_city ci INNER JOIN mondial_country c on ci.country = c.code where c.name = 'Cuba'
SELECT name FROM city WHERE country = 'CUB'
True cols: Index(['NAME', 'COUNTRY', 'PROVINCE', 'POPULATION', 'LATITUDE', 'LONGITUDE',
       'ELEVATION', 'META_REPCOL', 'NAME', 'CODE', 'CAPITAL', 'PROVINCE',
       'AREA', 'POPULATION', 'META_REPCOL'],
      dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT capital FROM mondial_country WHERE name = 'Georgia'
SELECT capital FROM country WHERE name = 'Georgia'
True cols: Index(['CAPITAL'], dtype='object')
Adj. True cols: Index(['CAPITAL'], dtype='object')
Predicted cols: Index(['CAPITAL'], dtype='object')
Adj. Predicted cols: Index(['CAPITAL'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT count(p.name) FROM mondial_province p INNER JOIN mondial_country c on p.country = c.code where c.name = 'Niger' AND p.area > 1000
SELECT COUNT(*)
FROM province
WHERE country = 'NG' AND area > 1000
True cols: Index(['COUNT(P.NAME)'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['COUNT(*)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT name FROM mondial_country GROUP BY name ORDER BY max(area) DESC FETCH FIRST 1 ROWS ONLY;
SELECT name, area
FROM country
ORDER BY area DESC
FETCH FIRST 1 ROWS ONLY;
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME', 'AREA'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT o.province, o.established  FROM mondial_organization o WHERE o.name LIKE '%International Energy Agency%'
SELECT province, established
FROM organization
WHERE name = 'International Energy Agency'
True cols: Index(['PROVINCE', 'ESTABLISHED'], dtype='object')
Adj. True cols: Index(['PROVINCE', 'ESTABLISHED'], dtype='object')
Predicted cols: Index(['PROVINCE', 'ESTABLISHED'], dtype='object')
Adj. Predicted cols: Index(['PROVINCE', 'ESTABLISHED'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name FROM mondial_mountain WHERE elevation > 1000.0
SELECT name
FROM mountain
WHERE elevation > 1000
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT DISTINCT e.* FROM mondial_economy e
INNER JOIN mondial_country c ON e.country = c.code
INNER JOIN mondial_geo_sea gs ON gs.country = c.code
INNER JOIN mondial_sea s ON s.name = gs.sea
WHERE s.name LIKE '%Caribbean Sea%'
SELECT * FROM economy WHERE country IN (SELECT country FROM sea WHERE name = 'Caribbean Sea')
True cols: Index(['COUNTRY', 'GDP', 'AGRICULTURE', 'SERVICE', 'INDUSTRY', 'INFLATION',
       'UNEMPLOYMENT', 'META_REPCOL'],
      dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['COUNTRY', 'GDP', 'AGRICULTURE', 'SERVICE', 'INDUSTRY', 'INFLATION',
       'UNEMPLOYMENT'],
      dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT name FROM mondial_city WHERE longitude BETWEEN 0 AND 6

c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)

SELECT name, longitude
FROM city
WHERE longitude BETWEEN 0 AND 6
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME', 'LONGITUDE'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT ci.name FROM mondial_city ci
INNER JOIN mondial_country c ON c.code = ci.country
INNER JOIN mondial_population p ON p.country = c.code
WHERE ci.population > 100000 AND ci.elevation > 2500 AND
p.population_growth > 1
SELECT city.name
FROM city
JOIN country ON city.country = country.code
WHERE city.population > 100000
AND city.elevation > 2500
AND country.population_growth > 1
Error: Execution failed on sql 'SELECT city.name
FROM city
JOIN country ON city.country = country.code
WHERE city.population > 100000
AND city.elevation > 2500
AND country.population_growth > 1': ORA-00904: "COUNTRY"."POPULATION_GROWTH": invalid identifier
Help: https://docs.oracle.com/error-help/db/ora-00904/
SELECT DISTINCT government FROM mondial_politics
SELECT DISTINCT government FROM politics
True cols: Index(['GOVERNMENT'], dtype='object')
Adj. True cols: Index(['GOVERNMENT'], dtype='object')
Predicted cols: Index(['GOVERNMENT'], dtype='object')
Adj. Predicted cols: Index(['GOVERNMENT'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT p.name FROM mondial_province p INNER JOIN mondial_country c ON p.country = c.code  WHERE c.name = 'Germany'
SELECT name
FROM province
WHERE country = 'D'
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT eg.percentage FROM mondial_ethnicgroup eg INNER JOIN mondial_country c ON c.code = eg.country WHERE c.name = 'Brazil' AND eg.name LIKE '%Mulatto%'
SELECT percentage
FROM ethnicgroup
WHERE country = 'BR' AND name = 'Mulatto'
True cols: Index(['PERCENTAGE'], dtype='object')
Adj. True cols: Index(['PERCENTAGE'], dtype='object')
Predicted cols: Index(['PERCENTAGE'], dtype='object')
Adj. Predicted cols: Index(['PERCENTAGE'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT count(*) FROM mondial_city WHERE population < 1000
SELECT COUNT(*) FROM city WHERE population < 1000
True cols: Index(['COUNT(*)'], dtype='object')
Adj. True cols: Index(['COUNT(*)'], dtype='object')
Predicted cols: Index(['COUNT(*)'], dtype='object')
Adj. Predicted cols: Index(['COUNT(*)'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT avg(a.elevation) FROM mondial_airport a
INNER JOIN mondial_country c ON c.code = a.country
INNER JOIN mondial_encompasses e ON e.country = c.code
INNER JOIN mondial_continent co ON co.name = e.continent
WHERE co.name = 'America'
SELECT AVG(elevation) FROM airport WHERE country = 'USA'
True cols: Index(['AVG(A.ELEVATION)'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['AVG(ELEVATION)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT COUNT(DISTINCT ec.country) AS number_of_countries
FROM mondial_geo_sea gs
JOIN mondial_encompasses ec ON gs.country = ec.country
WHERE gs.sea = 'Caribbean Sea';
SELECT COUNT(*)
FROM encompasses
WHERE continent = 'America' AND percentage > 0
True cols: Index(['NUMBER_OF_COUNTRIES'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['COUNT(*)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT SUM(DISTINCT c.area) AS total_area
FROM mondial_Country c
JOIN mondial_encompasses e ON c.code = e.country
JOIN mondial_geo_sea gs ON e.country = gs.country
WHERE gs.sea = 'Caribbean Sea';
SELECT SUM(c.area)
FROM country c
JOIN encompasses e ON c.code = e.country
JOIN sea s ON e.continent = s.name
WHERE s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Car
Error: Execution failed on sql 'SELECT SUM(c.area)
FROM country c
JOIN encompasses e ON c.code = e.country
JOIN sea s ON e.continent = s.name
WHERE s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Car': DPY-2041: missing ending quote (')
SELECT c.name AS country_name, SUM(c1.population) AS total_neighbor_population
FROM mondial_Country c
JOIN mondial_Borders b ON c.code = b.country1
JOIN mondial_Country c1 ON b.country2 = c1.code
GROUP BY c.name;
SELECT c1.name AS country, SUM(c2.population) AS total_population
FROM country c1
JOIN borders b ON c1.code = b.country1
JOIN country c2 ON b.country2 = c2.code
GROUP BY c1.name
ORDER BY c1.name ASC
True cols: Index(['COUNTRY_NAME', 'TOTAL_NEIGHBOR_POPULATION'], dtype='object')
Adj. True cols: Index(['COUNTRY_NAME', 'TOTAL_NEIGHBOR_POPULATION'], dtype='object')
Predicted cols: Index(['COUNTRY', 'TOTAL_POPULATION'], dtype='object')
Adj. Predicted cols: Index(['COUNTRY', 'TOTAL_POPULATION'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT mountain FROM mondial_mountainonisland WHERE island LIKE '%Borneo%'
SELECT mountain
FROM mondial_mountainonisland
WHERE island = 'Borneo'
True cols: Index(['MOUNTAIN'], dtype='object')
Adj. True cols: Index(['MOUNTAIN'], dtype='object')
Predicted cols: Index(['MOUNTAIN'], dtype='object')
Adj. Predicted cols: Index(['MOUNTAIN'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name, population FROM mondial_country ORDER BY area ASC FETCH FIRST 1 ROWS ONLY;
SELECT name, population
FROM country
WHERE area = (SELECT MIN(area) FROM country)
True cols: Index(['NAME', 'POPULATION'], dtype='object')
Adj. True cols: Index(['NAME', 'POPULATION'], dtype='object')
Predicted cols: Index(['NAME', 'POPULATION'], dtype='object')
Adj. Predicted cols: Index(['NAME', 'POPULATION'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT DISTINCT s.country
FROM mondial_geo_estuary e, mondial_borders b, mondial_geo_source s
WHERE ((e.country = b.country1 AND s.country = b.country2)
OR (e.country = b.country2 AND s.country = b.country1))
AND e.river = s.river;
SELECT DISTINCT c.code
FROM country c
JOIN river r ON c.code = r.country
JOIN geo_estuary ge ON r.name = ge.river
JOIN country nc ON ge.country = nc.code
WHERE c.code <> nc.code
ORDER BY c.code
Error: Execution failed on sql 'SELECT DISTINCT c.code
FROM country c
JOIN river r ON c.code = r.country
JOIN geo_estuary ge ON r.name = ge.river
JOIN country nc ON ge.country = nc.code
WHERE c.code <> nc.code
ORDER BY c.code': ORA-00904: "R"."COUNTRY": invalid identifier
Help: https://docs.oracle.com/error-help/db/ora-00904/
SELECT code FROM mondial_country
WHERE code NOT IN (
SELECT p.country FROM (
SELECT name, country
FROM mondial_province
WHERE (name, country) NOT IN (SELECT province, country FROM mondial_geo_mountain)) p);
SELECT DISTINCT c.code
FROM country c
JOIN province p ON c.code = p.country
JOIN geo_mountain gm ON p.name = gm.province AND c.code = gm.country
GROUP BY c.code
HAVING COUNT(DISTINCT p.name) = (SELECT COUNT(DISTINCT province) FROM geo_mountain)
ORDER BY c.code ASC
True cols: Index(['CODE'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['CODE'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT b.country1, sum(b.length)
FROM (SELECT country1, length FROM mondial_borders
UNION ALL
SELECT country2, length FROM mondial_borders
) b
GROUP BY b.country1;
SELECT country.code, SUM(borders.length) AS total_border_length
FROM country
JOIN borders ON country.code = borders.country1
GROUP BY country.code
ORDER BY total_border_length DESC
True cols: Index(['COUNTRY1', 'SUM(B.LENGTH)'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['CODE', 'TOTAL_BORDER_LENGTH'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT DISTINCT c.name, c.code
FROM mondial_country c, mondial_geo_source g
WHERE c.code = g.country;
SELECT DISTINCT country.name, country.code
FROM country
JOIN river ON country.code = river.country
WHERE river.source IS NOT NULL
ORDER BY country.name ASC
Error: Execution failed on sql 'SELECT DISTINCT country.name, country.code
FROM country
JOIN river ON country.code = river.country
WHERE river.source IS NOT NULL
ORDER BY country.name ASC': ORA-00904: "RIVER"."COUNTRY": invalid identifier
Help: https://docs.oracle.com/error-help/db/ora-00904/
SELECT c.name, r.area FROM mondial_geo_river gr
INNER JOIN mondial_country c ON c.code = gr.country
INNER JOIN mondial_river r ON r.name = gr.river
WHERE r.name = 'Chatanga'
SELECT area, country
FROM river
WHERE name = 'Chatanga'
Error: Execution failed on sql 'SELECT area, country
FROM river
WHERE name = 'Chatanga'': ORA-00904: "COUNTRY": invalid identifier
Help: https://docs.oracle.com/error-help/db/ora-00904/
SELECT name FROM mondial_airport WHERE elevation > 3000.0
SELECT name, elevation
FROM airport
WHERE elevation > 3000
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME', 'ELEVATION'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT r.name FROM mondial_religion r INNER JOIN mondial_country c ON c.code = r.country WHERE c.name = 'Mexico'
SELECT name FROM religion WHERE country = 'MEX'
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name FROM mondial_River WHERE sea IS NULL;
SELECT name
FROM river
WHERE sea IS NULL
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT c.name, COUNT(b.country2) AS num_neighbors FROM mondial_country c INNER JOIN mondial_borders b ON c.code = b.country1
INNER JOIN mondial_encompasses e ON c.code = e.country
INNER JOIN mondial_continent co ON e.continent = co.name
WHERE co.name = 'Africa' GROUP BY c.name ORDER BY num_neighbors DESC;

c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)

SELECT c.name, COUNT(b.country2) AS num_neighbors
FROM country c
JOIN borders b ON c.code = b.country1
WHERE c.continent = 'Africa'
GROUP BY c.name
ORDER BY num_neighbors DESC;
Error: Execution failed on sql 'SELECT c.name, COUNT(b.country2) AS num_neighbors
FROM country c
JOIN borders b ON c.code = b.country1
WHERE c.continent = 'Africa'
GROUP BY c.name
ORDER BY num_neighbors DESC': ORA-00904: "C"."CONTINENT": invalid identifier
Help: https://docs.oracle.com/error-help/db/ora-00904/
SELECT c.name AS continent, AVG(p.infant_mortality) AS avg_infant_mortality
FROM mondial_continent c
JOIN mondial_encompasses e ON c.name = e.continent
JOIN mondial_population p ON e.country = p.country
GROUP BY c.name;
SELECT continent.name, AVG(population.infant_mortality) AS average_infant_mortality
FROM continent
JOIN country ON continent.name = encompasses.continent
JOIN population ON country.code = population.country
GROUP BY continent.name
Error: Execution failed on sql 'SELECT continent.name, AVG(population.infant_mortality) AS average_infant_mortality
FROM continent
JOIN country ON continent.name = encompasses.continent
JOIN population ON country.code = population.country
GROUP BY continent.name': ORA-00904: "ENCOMPASSES"."CONTINENT": invalid identifier
Help: https://docs.oracle.com/error-help/db/ora-00904/
SELECT AVG(p.infant_mortality) AS avg_infant_mortality
FROM mondial_Country c
JOIN mondial_Population p ON c.code = p.country
JOIN mondial_encompasses e ON c.code = e.country
JOIN mondial_Continent ct ON e.continent = ct.name
WHERE ct.name = 'America' AND c.name != 'Brazil';
SELECT AVG(population.infant_mortality)
FROM population
JOIN country ON population.country = country.code
JOIN encompasses ON country.code = encompasses.country
JOIN continent ON encompasses.continent = continent.name
WHERE continent.name = 'America' AND country.name != 'Brazil'
True cols: Index(['AVG_INFANT_MORTALITY'], dtype='object')
Adj. True cols: Index(['AVG_INFANT_MORTALITY'], dtype='object')
Predicted cols: Index(['AVG(POPULATION.INFANT_MORTALITY)'], dtype='object')
Adj. Predicted cols: Index(['AVG(POPULATION.INFANT_MORTALITY)'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name FROM mondial_sea WHERE area > 8000 AND depth < 100
SELECT name
FROM sea
WHERE area > 8000 AND depth < 100
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT count(DISTINCT m.name) FROM mondial_mountain m
INNER JOIN mondial_geo_mountain gm ON m.name = gm.mountain
INNER JOIN mondial_country c ON c.code = gm.country
INNER JOIN mondial_encompasses e ON e.country = c.code
INNER JOIN mondial_continent co ON co.name = e.continent
WHERE co.name = 'Asia'
SELECT COUNT(*) FROM mondial_geo_mountain WHERE country = 'AS'
True cols: Index(['COUNT(DISTINCTM.NAME)'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['COUNT(*)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT count(DISTINCT c.name) FROM mondial_country c
INNER JOIN mondial_geo_sea gs ON gs.country = c.code
INNER JOIN mondial_sea s ON gs.sea = s.name
WHERE s.name = 'Mediterranean Sea'
SELECT COUNT(*)
FROM encompasses
WHERE continent = 'Europe' AND percentage > 0
True cols: Index(['COUNT(DISTINCTC.NAME)'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['COUNT(*)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT government, count(government) FROM mondial_politics GROUP BY government
SELECT government, COUNT(*) AS total
FROM politics
GROUP BY government
True cols: Index(['GOVERNMENT', 'COUNT(GOVERNMENT)'], dtype='object')
Adj. True cols: Index(['GOVERNMENT', 'COUNT(GOVERNMENT)'], dtype='object')
Predicted cols: Index(['GOVERNMENT', 'TOTAL'], dtype='object')
Adj. Predicted cols: Index(['GOVERNMENT', 'TOTAL'], dtype='object')
True: query matches sql (Similarity: 0.975609756097561, column match: 1.0)
SELECT province FROM mondial_geo_desert gd
INNER JOIN mondial_desert d ON gd.desert = d.name ORDER BY d.area DESC FETCH FIRST 1 ROWS ONLY;
SELECT province
FROM mondial_geo_desert
WHERE area = (SELECT MAX(area) FROM mondial_geo_desert)
Error: Execution failed on sql 'SELECT province
FROM mondial_geo_desert
WHERE area = (SELECT MAX(area) FROM mondial_geo_desert)': ORA-06553: PLS-306: wrong number or types of arguments in call to 'OGC_AREA'
Help: https://docs.oracle.com/error-help/db/ora-06553/
SELECT name FROM mondial_desert ORDER BY area DESC FETCH FIRST 1 ROWS ONLY;
SELECT name, area FROM desert ORDER BY area DESC
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['NAME', 'AREA'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT co.name, count(gd.desert) FROM mondial_geo_desert gd
INNER JOIN mondial_country c ON c.code = gd.country
INNER JOIN mondial_encompasses e ON e.country = c.code
INNER JOIN mondial_continent co ON co.name = e.continent
GROUP BY co.name
SELECT continent.name, COUNT(desert.name) AS desert_count
FROM continent
JOIN mondial_geo_desert ON continent.name = mondial_geo_desert.continent
GROUP BY continent.name
ORDER BY desert_count DESC;
Error: Execution failed on sql 'SELECT continent.name, COUNT(desert.name) AS desert_count
FROM continent
JOIN mondial_geo_desert ON continent.name = mondial_geo_desert.continent
GROUP BY continent.name
ORDER BY desert_count DESC': ORA-00904: "MONDIAL_GEO_DESERT"."CONTINENT": invalid identifier
Help: https://docs.oracle.com/error-help/db/ora-00904/
SELECT sea2 FROM mergeswith WHERE sea1 = 'Banda Sea' UNION SELECT sea1 FROM mergeswith WHERE sea2 = 'Banda Sea'
SELECT sea2
FROM mergeswith
WHERE sea1 = 'Banda Sea'
True cols: Index(['SEA2'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['SEA2'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT c.capital FROM mondial_country c
INNER JOIN mondial_encompasses e ON e.country = c.code
INNER JOIN mondial_continent co ON co.name = e.continent
WHERE co.name = 'Europe'
SELECT country.capital
FROM country
JOIN continent ON encompasses.country = country.code
WHERE continent.name = 'Europe'
Answer: The capitals of European countries are [Tirana, Andorra la Vella, Yerevan, Vienna, Baku, Minsk, Brussels, Sarajevo, Sofia, Zagreb, Nicosia, Prague, Copenhagen, Tallinn, Helsinki, Paris, Tbilisi, Berlin, Athens, Budapest, Reykjavik, Dublin, Rome, Astana, Pristina, Riga, Vaduz, Vilnius, Luxembourg, Skopje, Valletta, Chisinau, Monaco, Podgorica, Amsterdam, Oslo, Warsaw, Lisbon, Bucharest, Moscow, San Marino, Belgrade, Bratislava, Ljubljana, Madrid, Stockholm, Bern, Ankara, Kyiv, London, Vatican City]
Error: Execution failed on sql 'SELECT country.capital
FROM country
JOIN continent ON encompasses.country = country.code
WHERE continent.name = 'Europe'
Answer: The capitals of European countries are [Tirana, Andorra la Vella, Yerevan, Vienna, Baku, Minsk, Brussels, Sarajevo, Sofia, Zagreb, Nicosia, Prague, Copenhagen, Tallinn, Helsinki, Paris, Tbilisi, Berlin, Athens, Budapest, Reykjavik, Dublin, Rome, Astana, Pristina, Riga, Vaduz, Vilnius, Luxembourg, Skopje, Valletta, Chisinau, Monaco, Podgorica, Amsterdam, Oslo, Warsaw, Lisbon, Bucharest, Moscow, San Marino, Belgrade, Bratislava, Ljubljana, Madrid, Stockholm, Bern, Ankara, Kyiv, London, Vatican City]': DPY-4010: a bind variable replacement value for placeholder ":THE" was not provided
SELECT l.percentage FROM mondial_language l
INNER JOIN mondial_country c ON l.country = c.code
WHERE l.name LIKE '%French%' AND c.name = 'Andorra'
SELECT percentage
FROM language
WHERE country = 'AND' AND name = 'French'
True cols: Index(['PERCENTAGE'], dtype='object')
Adj. True cols: Index(['PERCENTAGE'], dtype='object')
Predicted cols: Index(['PERCENTAGE'], dtype='object')
Adj. Predicted cols: Index(['PERCENTAGE'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name FROM mondial_river WHERE length > 1000
SELECT name
FROM river
WHERE length > 1000
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT c.name FROM mondial_country c
INNER JOIN mondial_population p ON p.country = c.code
ORDER BY p.population_growth ASC FETCH FIRST 1 ROWS ONLY
SELECT country
FROM population
WHERE population_growth = (SELECT MIN(population_growth) FROM population)
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['COUNTRY'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT c.capital FROM mondial_country c WHERE c.capital NOT IN (SELECT lo.city FROM mondial_located lo )
SELECT c.capital
FROM country c
LEFT JOIN located l ON c.capital = l.city
WHERE l.city IS NULL
True cols: Index(['CAPITAL'], dtype='object')
Adj. True cols: Index(['CAPITAL'], dtype='object')
Predicted cols: Index(['CAPITAL'], dtype='object')
Adj. Predicted cols: Index(['CAPITAL'], dtype='object')
True: query matches sql (Similarity: 0.9846153846153847, column match: 1.0)
SELECT p.CAPITAL
FROM MONDIAL_PROVINCE p
WHERE p.name like '%Andaluca%'
SELECT capital
FROM province
WHERE name = 'Andaluca'
True cols: Index(['CAPITAL'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['CAPITAL'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT abbreviation FROM mondial_organization WHERE name='General Confederation of Trade Unions'
SELECT abbreviation
FROM organization
WHERE name = 'General Confederation of Trade Unions'
True cols: Index(['ABBREVIATION'], dtype='object')
Adj. True cols: Index(['ABBREVIATION'], dtype='object')
Predicted cols: Index(['ABBREVIATION'], dtype='object')
Adj. Predicted cols: Index(['ABBREVIATION'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT city FROM mondial_organization WHERE abbreviation='UPU'
SELECT city.name
FROM city
JOIN organization ON city.name = organization.city
WHERE organization.abbreviation = 'UPU'
True cols: Index(['CITY'], dtype='object')
Adj. True cols: Index(['CITY'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT c.name
FROM mondial_country c
JOIN mondial_ismember m
ON c.code=m.country
WHERE m.organization=ALL(SELECT organization
FROM mondial_ismember m
WHERE
m.country=c.code)
SELECT country.name
FROM country
JOIN ismember ON country.code = ismember.country
GROUP BY country.name
HAVING COUNT(ismember.organization) = 1
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT c.name
FROM mondial_country c
WHERE c.code NOT IN (SELECT m.country
FROM mondial_ismember m
WHERE organization='NATO')
SELECT name
FROM country
WHERE code NOT IN (SELECT country
                   FROM ismember
                   WHERE organization = 'NATO')
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT c.name
FROM mondial_country c
JOIN mondial_ismember m
ON c.code=m.country
WHERE organization='NATO'
SELECT name
FROM country
WHERE code IN (
    SELECT country
    FROM ismember
    WHERE organization = 'NATO'
)
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name FROM mondial_river WHERE length < 50
SELECT name
FROM river
WHERE length < 50
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT l.area, l.elevation, l.type FROM MONDIAL_GEO_LAKE gl , MONDIAL_LAKE l, MONDIAL_COUNTRY c
WHERE (gl.LAKE = l.NAME)
AND (gl.COUNTRY = c.CODE)
AND  c.name = 'Italy'
SELECT name, area, elevation, type
FROM lake
WHERE country = 'I'
Error: Execution failed on sql 'SELECT name, area, elevation, type
FROM lake
WHERE country = 'I'': ORA-00904: "COUNTRY": invalid identifier
Help: https://docs.oracle.com/error-help/db/ora-00904/
SELECT c.capital
FROM mondial_country c
WHERE c.capital IN (SELECT o.city
FROM mondial_organization o) ORDER BY c.capital ASC
SELECT city.name
FROM city
JOIN organization ON city.name = organization.city
ORDER BY city.name ASC
True cols: Index(['CAPITAL'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT o.name
FROM mondial_organization o
WHERE NOT EXISTS (SELECT *
FROM mondial_ismember m
JOIN mondial_country c
ON m.country=c.code
WHERE m.organization=o.abbreviation
AND c.area <=4000
AND m.type= 'member')
SELECT abbreviation, name
FROM organization
WHERE abbreviation NOT IN (
    SELECT organization
    FROM ismember
    WHERE country IN (
        SELECT code
        FROM country
        WHERE area < 4000
    )
)
AND abbreviation IN (
    SELECT organization
    FROM ismember
    WHERE type = 'member'
)
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['ABBREVIATION', 'NAME'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT o.name
FROM mondial_organization o
WHERE NOT EXISTS (SELECT *
FROM mondial_ismember m
JOIN mondial_country c
ON m.country=c.code
WHERE m.organization=o.abbreviation
AND c.area > 10000
AND c.population < 3000
AND m.type= 'member')
SELECT abbreviation, name
FROM organization
WHERE abbreviation NOT IN (
    SELECT organization
    FROM ismember
    WHERE country IN (
        SELECT code
        FROM country
        WHERE area > 10000 AND population < 3000
    )
)
AND type = 'member'
Error: Execution failed on sql 'SELECT abbreviation, name
FROM organization
WHERE abbreviation NOT IN (
    SELECT organization
    FROM ismember
    WHERE country IN (
        SELECT code
        FROM country
        WHERE area > 10000 AND population < 3000
    )
)
AND type = 'member'': ORA-00904: "TYPE": invalid identifier
Help: https://docs.oracle.com/error-help/db/ora-00904/
SELECT DISTINCT e.inflation FROM mondial_economy e
INNER JOIN mondial_country c ON e.country = c.code
INNER JOIN mondial_geo_sea gs ON gs.country = c.code
INNER JOIN mondial_sea s ON s.name = gs.sea
WHERE s.name LIKE '%Arabian Sea%' ORDER BY e.inflation
SELECT country.name, economy.inflation
FROM country
JOIN economy ON country.code = economy.country
JOIN geo_sea ON country.code = geo_sea.country
WHERE geo_sea.sea = 'Arabian Sea'
True cols: Index(['INFLATION'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['NAME', 'INFLATION'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT c.capital FROM mondial_country c
INNER JOIN mondial_encompasses e ON e.country = c.code
INNER JOIN mondial_continent co ON co.name = e.continent
WHERE co.name = 'Africa'
SELECT country.capital
FROM country
JOIN encompasses ON country.code = encompasses.country
JOIN continent ON encompasses.continent = continent.name
WHERE continent.name = 'Africa'
Answer: The capitals of the countries that belong to the continent Africa are: Abuja, Algiers, Luanda, Porto-Novo, Gaborone, Ouagadougou, Bujumbura, Yaounde, Praia, Bangui, N'Djamena, Moroni, Kinshasa, Djibouti, Cairo, Malabo, Asmara, Addis Ababa, Libreville, Banjul, Accra, Conakry, Bissau, Nairobi, Maseru, Monrovia, Tripoli, Antananarivo, Lilongwe, Bamako, Nouakchott, Port Louis, Rabat, Maputo, Windhoek, Niamey, Abuja, Kigali, Sao Tome, Dakar, Victoria, Freetown, Mogadishu, Pretoria, Juba, Khartoum, Mbabane, Dodoma, Lome, Tunis, Kampala, Lusaka, Harare.
Error: Execution failed on sql 'SELECT country.capital
FROM country
JOIN encompasses ON country.code = encompasses.country
JOIN continent ON encompasses.continent = continent.name
WHERE continent.name = 'Africa'
Answer: The capitals of the countries that belong to the continent Africa are: Abuja, Algiers, Luanda, Porto-Novo, Gaborone, Ouagadougou, Bujumbura, Yaounde, Praia, Bangui, N'Djamena, Moroni, Kinshasa, Djibouti, Cairo, Malabo, Asmara, Addis Ababa, Libreville, Banjul, Accra, Conakry, Bissau, Nairobi, Maseru, Monrovia, Tripoli, Antananarivo, Lilongwe, Bamako, Nouakchott, Port Louis, Rabat, Maputo, Windhoek, Niamey, Abuja, Kigali, Sao Tome, Dakar, Victoria, Freetown, Mogadishu, Pretoria, Juba, Khartoum, Mbabane, Dodoma, Lome, Tunis, Kampala, Lusaka, Harare.': DPY-2041: missing ending quote (')
SELECT DISTINCT e.inflation FROM mondial_economy e
INNER JOIN mondial_country c ON e.country = c.code
INNER JOIN mondial_geo_sea gs ON gs.country = c.code
INNER JOIN mondial_sea s ON s.name = gs.sea
WHERE s.name LIKE '%Arabian Sea%' AND e.INFLATION IS NOT NULL
SELECT country.name, economy.inflation
FROM country
JOIN economy ON country.code = economy.country
JOIN geo_sea ON country.code = geo_sea.country
WHERE geo_sea.sea = 'Arabian Sea' AND economy.inflation IS NOT NULL
True cols: Index(['INFLATION'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['NAME', 'INFLATION'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT count(*) FROM mondial_country c
INNER JOIN mondial_encompasses e ON e.country = c.code
INNER JOIN mondial_continent co ON co.name = e.continent
WHERE co.name = 'Africa'
SELECT COUNT(*) FROM continent WHERE name = 'Africa'
True cols: Index(['COUNT(*)'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['COUNT(*)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT name FROM country WHERE code NOT IN (SELECT country FROM ismember WHERE organization = 'NATO')
INTERSECT SELECT name FROM country WHERE code NOT IN (SELECT country FROM ismember WHERE organization = 'UNESCO')
SELECT name
FROM country
WHERE code NOT IN (SELECT country
                   FROM ismember
                   WHERE organization IN ('NATO', 'UNESCO'))
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT area FROM mondial_continent WHERE name = 'Europe'
SELECT area FROM continent WHERE name = 'Europe'
True cols: Index(['AREA'], dtype='object')
Adj. True cols: Index(['AREA'], dtype='object')
Predicted cols: Index(['AREA'], dtype='object')
Adj. Predicted cols: Index(['AREA'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT area FROM mondial_continent WHERE name = 'America'
SELECT area FROM continent WHERE name = 'America'
True cols: Index(['AREA'], dtype='object')
Adj. True cols: Index(['AREA'], dtype='object')
Predicted cols: Index(['AREA'], dtype='object')
Adj. Predicted cols: Index(['AREA'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)

c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)

SELECT d.name, d.area
FROM desert d
JOIN geo_desert gd ON d.name = gd.desert
JOIN province p ON gd.province = p.name AND gd.country = p.country
WHERE p.name = 'California'
True cols: Index(['NAME', 'AREA'], dtype='object')
Adj. True cols: Index(['NAME', 'AREA'], dtype='object')
Predicted cols: Index(['NAME', 'AREA'], dtype='object')
Adj. Predicted cols: Index(['NAME', 'AREA'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT c.name, l.percentage FROM mondial_language l INNER JOIN mondial_country c
ON l.country = c.code WHERE l.name = 'French'
SELECT country.name, language.percentage
FROM country
JOIN language ON country.code = language.country
WHERE language.name = 'French'
True cols: Index(['NAME', 'PERCENTAGE'], dtype='object')
Adj. True cols: Index(['NAME', 'PERCENTAGE'], dtype='object')
Predicted cols: Index(['NAME', 'PERCENTAGE'], dtype='object')
Adj. Predicted cols: Index(['NAME', 'PERCENTAGE'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT ci.name
FROM mondial_city ci
INNER JOIN mondial_country co
ON co.code = ci.country
INNER JOIN mondial_language l
ON l.country = co.code
WHERE l.name = 'Portuguese';
SELECT city.name
FROM city
JOIN language ON city.country = language.country
WHERE language.name = 'Portuguese'
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT SUM(p.area)
FROM mondial_province p
INNER JOIN mondial_country c
ON p.country = c.code
WHERE c.name = 'Canada';
SELECT SUM(area) FROM province WHERE country = 'CAN'
True cols: Index(['SUM(P.AREA)'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['SUM(AREA)'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT length FROM mondial_river WHERE name LIKE '%Tigris%'
SELECT length
FROM river
WHERE name = 'Tigris'
True cols: Index(['LENGTH'], dtype='object')
Adj. True cols: Index(['LENGTH'], dtype='object')
Predicted cols: Index(['LENGTH'], dtype='object')
Adj. Predicted cols: Index(['LENGTH'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name
FROM mondial_airport
WHERE elevation > 1000.0;
SELECT name, elevation
FROM airport
WHERE elevation > 1000
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME', 'ELEVATION'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT a.name
FROM mondial_airport a
INNER JOIN mondial_country c
ON c.code = a.country
WHERE c.name = 'United States' AND a.elevation <200;
SELECT name, elevation
FROM airport
WHERE country = 'USA' AND elevation < 200
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME', 'ELEVATION'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name
FROM mondial_mountain
WHERE elevation > 8000;
SELECT name, elevation
FROM mountain
WHERE elevation > 8000
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME', 'ELEVATION'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name
FROM mondial_airport
ORDER BY LENGTH(name) DESC
FETCH FIRST 3 ROWS ONLY;
SELECT name
FROM airport
ORDER BY LENGTH(name) DESC
FETCH FIRST 3 ROWS ONLY
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name
FROM mondial_lake
WHERE area < 5000;
SELECT name
FROM lake
WHERE area < 5000
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT SUM(area)
FROM mondial_sea
WHERE depth > 1000;
SELECT SUM(area)
FROM sea
WHERE depth > 1000
True cols: Index(['SUM(AREA)'], dtype='object')
Adj. True cols: Index(['SUM(AREA)'], dtype='object')
Predicted cols: Index(['SUM(AREA)'], dtype='object')
Adj. Predicted cols: Index(['SUM(AREA)'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT name
FROM mondial_country
WHERE name LIKE 'B%' AND population > 10000000;
SELECT name
FROM country
WHERE name LIKE 'B%' AND population > 10000000
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT cio.othername
FROM mondial_cityothername cio
INNER JOIN mondial_country c
ON cio.country = c.code
WHERE c.name = 'Brazil'
SELECT cityothername.city
FROM cityothername
JOIN country ON cityothername.country = country.code
WHERE country.name = 'Brazil'
True cols: Index(['OTHERNAME'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['CITY'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT name
FROM mondial_city
WHERE latitude > 45;
SELECT name
FROM city
WHERE latitude > 45
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT count(DISTINCT cio.city)
FROM mondial_cityothername cio
INNER JOIN mondial_country c
ON cio.country = c.code
WHERE c.area >30000
SELECT COUNT(DISTINCT city)
FROM cityothername co
JOIN city c ON co.country = c.country
JOIN country cn ON c.country = cn.code
WHERE cn.area > 30000
Answer: The number of cities with another name in countries with an area greater than 30000 is [number of cities].
Error: Execution failed on sql 'SELECT COUNT(DISTINCT city)
FROM cityothername co
JOIN city c ON co.country = c.country
JOIN country cn ON c.country = cn.code
WHERE cn.area > 30000
Answer: The number of cities with another name in countries with an area greater than 30000 is [number of cities].': DPY-4010: a bind variable replacement value for placeholder ":THE" was not provided
SELECT name
FROM mondial_desert
WHERE area > 10000;
SELECT name, area
FROM desert
WHERE area > 10000
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index(['NAME'], dtype='object')
Predicted cols: Index(['NAME', 'AREA'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT island.name
FROM island
JOIN lakeonisland ON island.name = lakeonisland.island
JOIN lake ON lake.name = lakeonisland.lake
WHERE lake.elevation > 100;
SELECT island
FROM islandin
WHERE lake IN (
    SELECT name
    FROM lake
    WHERE elevation > 100
)
True cols: Index(['NAME'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['ISLAND'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
SELECT moi.mountain
FROM mondial_mountainonisland moi
INNER JOIN mondial_island isl
ON moi.island = isl.name
WHERE isl.area > 100000
SELECT m.name
FROM mountain m
JOIN mountainonisland mi ON m.name = mi.mountain
JOIN island i ON mi.island = i.name
WHERE i.area > 100000
True cols: Index(['MOUNTAIN'], dtype='object')
Adj. True cols: Index(['MOUNTAIN'], dtype='object')
Predicted cols: Index(['NAME'], dtype='object')
Adj. Predicted cols: Index(['NAME'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT c.name AS country, SUM(p.area) AS total_province_area
FROM mondial_country c
INNER JOIN mondial_province p
ON c.code = p.country
GROUP BY c.name;
SELECT c.name AS country, SUM(p.area) AS total_area
FROM country c
JOIN province p ON c.code = p.country
GROUP BY c.name
ORDER BY total_area DESC
True cols: Index(['COUNTRY', 'TOTAL_PROVINCE_AREA'], dtype='object')
Adj. True cols: Index(['COUNTRY', 'TOTAL_PROVINCE_AREA'], dtype='object')
Predicted cols: Index(['COUNTRY', 'TOTAL_AREA'], dtype='object')
Adj. Predicted cols: Index(['COUNTRY', 'TOTAL_AREA'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT c.name AS country, AVG(ci.elevation) AS average_city_population, SUM(ci.population) AS total_city_area
FROM mondial_country c
INNER JOIN mondial_city ci
ON c.code = ci.country
GROUP BY c.name;
SELECT c.name, AVG(ci.elevation) AS average_elevation, SUM(ci.population) AS total_population
FROM country c
JOIN city ci ON c.code = ci.country
GROUP BY c.name
True cols: Index(['COUNTRY', 'AVERAGE_CITY_POPULATION', 'TOTAL_CITY_AREA'], dtype='object')
Adj. True cols: Index(['COUNTRY', 'AVERAGE_CITY_POPULATION', 'TOTAL_CITY_AREA'], dtype='object')
Predicted cols: Index(['NAME', 'AVERAGE_ELEVATION', 'TOTAL_POPULATION'], dtype='object')
Adj. Predicted cols: Index(['NAME', 'AVERAGE_ELEVATION', 'TOTAL_POPULATION'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT e.inflation FROM mondial_country c JOIN mondial_economy e ON c.code=e.country WHERE c.name LIKE '%Germany%'
SELECT inflation FROM economy WHERE country = 'D'
True cols: Index(['INFLATION'], dtype='object')
Adj. True cols: Index(['INFLATION'], dtype='object')
Predicted cols: Index(['INFLATION'], dtype='object')
Adj. Predicted cols: Index(['INFLATION'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT p.government
FROM mondial_country c
INNER JOIN mondial_politics p
ON p.country = c.code
WHERE c.name = 'Iran'
SELECT government
FROM politics
WHERE country = 'IR'
True cols: Index(['GOVERNMENT'], dtype='object')
Adj. True cols: Index(['GOVERNMENT'], dtype='object')
Predicted cols: Index(['GOVERNMENT'], dtype='object')
Adj. Predicted cols: Index(['GOVERNMENT'], dtype='object')
True: query matches sql (Similarity: 1.0, column match: 1.0)
SELECT e.industry
FROM mondial_economy e
INNER JOIN mondial_country c
ON c.code = e.country
WHERE c.name = 'Japan'

c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\..\..\functions\dataset_utils.py:423: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_df = pd.read_sql(SQL_query, con=self.db_connection)

SELECT industry FROM economy WHERE country = 'JPN'
True cols: Index(['INDUSTRY'], dtype='object')
Adj. True cols: Index([], dtype='object')
Predicted cols: Index(['INDUSTRY'], dtype='object')
Adj. Predicted cols: Index([], dtype='object')
False: no match found
1565264
4.7
1561725 3539
379.0118622779846

In [7]:
df = pd.DataFrame(results_fk, columns=['experiment', 'simple', 'medium', 'complex', 'total', 'overall_simple', 'overall_medium', 'overall_complex', 'overall_total','input_tokens', 'output_tokens', 'total_tokens','total_cost', 'total_time'])
df['experiment'] = df['experiment'].apply(get_experiment_name)
df = df.sort_values(by='overall_total', ascending=False)
df

,experiment,simple,medium,complex,total,overall_simple,overall_medium,overall_complex,overall_total,input_tokens,output_tokens,total_tokens,total_cost,total_time
0,SQLQueryChain - MONDIAL_GPT - GPT-3.5,25,20,14,59,0.7576,0.6061,0.4118,0.59,1561725,3539,1565264,4.7,0:06:19

In [8]:
df.to_csv("results.csv")