# Getting M-Schema Up and Running

## Testing SQLAlchemy and create_engine Connection

In [ ]:
from sqlalchemy import create_engine, text

try:
    db_engine = create_engine("oracle+oracledb://MONDIAL_GPT:TextDB123@localhost:1522/?service_name=XEPDB1")
    with db_engine.connect() as connection:
        result = connection.execute(text("SELECT name FROM v$database"))
        print(result.fetchall())
except Exception as e:
    print("Connection failed:", e)

## Importing and Testing M-Schema

In [9]:
from mschema.schema_engine import SchemaEngine

db_name = "MONDIAL_GPT"

schema_engine = SchemaEngine(engine=db_engine, db_name=db_name)
mschema = schema_engine.mschema
mschema_str = mschema.to_mschema()
print(mschema_str)
mschema.save(f'./{db_name}.json')

c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\venv\Lib\site-packages\llama_index\core\utilities\sql_wrapper.py:111: SAWarning: Did not recognize type 'GEOCOORD' of column 'coordinates'
  self._metadata.reflect(
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\venv\Lib\site-packages\llama_index\core\utilities\sql_wrapper.py:111: SAWarning: Did not recognize type 'GEOCOORD' of column 'source'
  self._metadata.reflect(
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\venv\Lib\site-packages\llama_index\core\utilities\sql_wrapper.py:111: SAWarning: Did not recognize type 'GEOCOORD' of column 'estuary'
  self._metadata.reflect(
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\mschema\schema_engine.py:80: SAWarning: Did not recognize type 'GEOCOORD' of column 'coordinates'
  fields = self._inspector.get_columns(table_name, schema=self._schema)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\mschema\schema_engine.py:80: SAWarning: Did not recognize type 'GEOCOORD' of column 'source'
  fields = self._inspector.get_columns(table_name, schema=self._schema)
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\experiments\M-Schema\mschema\schema_engine.py:80: SAWarning: Did not recognize type 'GEOCOORD' of column 'estuary'
  fields = self._inspector.get_columns(table_name, schema=self._schema)

【DB_ID】 MONDIAL_GPT
【Schema】
# Table: countryothername
[
(country:VARCHAR, Primary Key),
(othername:VARCHAR, Primary Key)
]
# Table: mondial_islandin
[
(island:VARCHAR, Examples: [Chongming, Manhattan, Svalbard]),
(sea:VARCHAR, Examples: [Norwegian Sea, Greenland Sea, Barents Sea]),
(lake:VARCHAR, Examples: [Lake Huron, Lake Nicaragua, Ozero Baikal]),
(river:VARCHAR, Examples: [Yangtze, Hudson River, Donau]),
(meta_repcol:VARCHAR, Examples: [Chongming, Manhattan, Svalbard])
]
# Table: geo_island
[
(island:VARCHAR, Primary Key, Examples: [Sumatra, Honshu, Unalaska]),
(country:VARCHAR, Primary Key, Examples: [RI, J, USA]),
(province:VARCHAR, Primary Key, Examples: [Aceh, Aichi, Akita])
]
# Table: mondial_provinceothername
[
(province:VARCHAR, Examples: [Liï¿½ge]),
(country:VARCHAR, Examples: [B, CO, E]),
(othername:VARCHAR, Examples: [Luik]),
(meta_repcol:VARCHAR, Examples: [Luik])
]
# Table: teste_funcionario
[
(idfuncionario:INTEGER, Primary Key, Examples: [1, 2, 3]),
(nome:VARCHAR, Examples: [Joï¿½o Silva, Maria Santos, Carlos Oliveira]),
(cargo:VARCHAR, Examples: [Gerente de Vendas]),
(datacontratacao:DATE, Examples: [2020-05-15 00:00:00])
]
# Table: mergeswith
[
(sea1:VARCHAR, Primary Key, Examples: [Andaman Sea, Arabian Sea, Arafura Sea]),
(sea2:VARCHAR, Primary Key, Examples: [Gulf of Bengal, Indian Ocean, Malakka Strait])
]
# Table: mountain
[
(name:VARCHAR, Primary Key, Examples: [Aconcagua, Aenos, Agung]),
(mountains:VARCHAR, Examples: [Brazilian Highlands]),
(elevation:NUMBER, Examples: [1017.0, 2335.0, 2791.0]),
(type:VARCHAR, Examples: [volcanic, volcano, monolith]),
(coordinates:NULL)
]
# Table: organization
[
(abbreviation:VARCHAR, Primary Key, Examples: [ABEDA, ACP, ADB]),
(name:VARCHAR, Examples: [ASEAN Regional Forum]),
(city:VARCHAR, Examples: [Caracas, Montevideo, Al Qahirah]),
(country:VARCHAR, Examples: [YV, ROU, ET]),
(province:VARCHAR, Examples: [Distrito Federal, Uruguay, Egypt]),
(established:DATE, Examples: [1975-10-17 00:00:00])
]
# Table: mondial_geo_desert
[
(desert:VARCHAR, Examples: [Erg Maqteir, Erg Ouarane, Trarza]),
(country:VARCHAR, Examples: [RIM, AFG, RN]),
(province:VARCHAR, Examples: [Adrar, Afghanistan, Agadez]),
(meta_repcol:VARCHAR, Examples: [Erg Maqteir, Erg Ouarane, Trarza])
]
# Table: locatedon
[
(city:VARCHAR, Primary Key, Examples: [Ajaccio, Ambon, Basildon]),
(province:VARCHAR, Primary Key, Examples: [Scotland, Pitcairn, Corse]),
(country:VARCHAR, Primary Key, Examples: [GB, PITC, F]),
(island:VARCHAR, Primary Key, Examples: [Great Britain, Pitcairn, Corse])
]
# Table: islandin
[
(island:VARCHAR, Examples: [Isle of Man, Anglesey, Isle of Wight]),
(sea:VARCHAR, Examples: [Irish Sea, The Channel, Baltic Sea]),
(lake:VARCHAR, Examples: [Lake Victoria, Koltsevoye Lake, Ozero Baikal]),
(river:VARCHAR, Examples: [Donau, Waag, Save])
]
# Table: mondial_locatedon
[
(city:VARCHAR, Examples: [Labuan, Ajaccio, Ambon]),
(province:VARCHAR, Examples: [La Habana, Labuan, Cyprus]),
(country:VARCHAR, Examples: [C, MAL, CY]),
(island:VARCHAR, Examples: [Cuba, Labuan, Cyprus]),
(meta_repcol:VARCHAR, Examples: [Labuan, Ajaccio, Ambon])
]
# Table: countrypops
[
(country:VARCHAR, Primary Key, Examples: [A, AFG, AG]),
(year:NUMBER, Primary Key, Examples: [1869.0, 1910.0, 1934.0]),
(population:NUMBER, Examples: [28211.0, 71183.0, 7929048.0])
]
# Table: mondial_city
[
(name:VARCHAR, Examples: [Neftejugansk, Salekhard, Antwerpen]),
(country:VARCHAR, Examples: [R, B, L]),
(province:VARCHAR, Examples: [Amurskaya, Antwerpen, Brcko]),
(population:NUMBER, Examples: [4215.0, 80151.0, 168576.0]),
(latitude:NUMBER, Examples: [53.02, 46.97, 61.08]),
(longitude:NUMBER, Examples: [150.8, 72.7, 5.78]),
(elevation:NUMBER, Examples: [50.0, 6.0, 14.0]),
(meta_repcol:VARCHAR, Examples: [Neftejugansk, Salekhard, Antwerpen])
]
# Table: mondial_language
[
(country:VARCHAR, Examples: [WAFU, RA, BOL]),
(name:VARCHAR, Examples: [French, Spanish, Quechua]),
(percentage:NUMBER, Examples: [10.8, 100.0, 60.7]),
(meta_repcol:VARCHAR, Examples: [French, Spanish, Quechua])
]
# Table: mondial_airport
[
(name:VARCHAR, Examples: [Dï¿½sseldorf, Kotoka Intl, Chios]),
(iatacode:VARCHAR, Examples: [GWT, FRA, NUE]),
(country:VARCHAR, Examples: [D, GH, GBZ]),
(city:VARCHAR, Examples: [Leipzig, Dï¿½sseldorf, Accra]),
(province:VARCHAR, Examples: [Nordrhein-Westfalen, Guam, Guinea]),
(island:VARCHAR, Examples: [Sylt, Crete, Mykonos]),
(latitude:NUMBER, Examples: [51.289453, 51.132767, 35.339719]),
(longitude:NUMBER, Examples: [7.684831, 8.08048, 13.767161]),
(elevation:NUMBER, Examples: [16.0, 323.0, 37.0]),
(gmtoffset:NUMBER, Examples: [1.0, 0.0, 2.0]),
(meta_repcol:VARCHAR, Examples: [STR - Stuttgart, DUS - Dï¿½sseldorf, IOA - Ioannina])
]
# Table: country
[
(name:VARCHAR, Examples: [Afghanistan, Albania, Algeria]),
(code:VARCHAR, Primary Key, Examples: [A, AFG, AG]),
(capital:VARCHAR, Examples: [Charlotte Amalie, Pago Pago, Canberra]),
(province:VARCHAR, Examples: [Virgin Islands]),
(area:NUMBER, Examples: [352.0, 199.0, 7692024.0]),
(population:NUMBER, Examples: [106405.0, 55519.0, 23135281.0])
]
# Table: geo_lake
[
(lake:VARCHAR, Primary Key, Examples: [Lake Kossou, Barrage de Mbakaou, Lake Abbe]),
(country:VARCHAR, Primary Key, Examples: [CI, CAM, ETH]),
(province:VARCHAR, Primary Key, Examples: [Abidjan, Adamaoua, Afar])
]
# Table: riveronisland
[
(river:VARCHAR, Primary Key, Examples: [Agus River, Asahan, Bann]),
(island:VARCHAR, Primary Key, Examples: [Mindanao, Sumatra, Ireland])
]
# Table: city
[
(name:VARCHAR, Primary Key, Examples: [Abengourou, Abu Dhabi, Abuja]),
(country:VARCHAR, Primary Key, Examples: [NL, E, D]),
(province:VARCHAR, Primary Key, Examples: [Nordrhein-Westfalen, Abuja, Al Ladhiqiyah]),
(population:NUMBER, Examples: [108145.0, 123440.0, 196244.0]),
(latitude:NUMBER, Examples: [52.37, 51.85, 51.92]),
(longitude:NUMBER, Examples: [5.78, 6.1, 4.32]),
(elevation:NUMBER, Examples: [6.0, 14.0, 113.0])
]
# Table: mondial_geo_mountain
[
(mountain:VARCHAR, Examples: [Cerro Tristeza, Fuyul Sojol, Doddabetta]),
(country:VARCHAR, Examples: [CL, A, GR]),
(province:VARCHAR, Examples: [Tabouk, Thailand, Valais]),
(meta_repcol:VARCHAR, Examples: [Cerro Tristeza, Fuyul Sojol, Doddabetta])
]
# Table: mondial_geo_source
[
(river:VARCHAR, Examples: [Pearl River, Xiang Jiang, Mondego]),
(country:VARCHAR, Examples: [CN, P, GCA]),
(province:VARCHAR, Examples: [Guangdong, Guangxi, Guarda]),
(meta_repcol:VARCHAR, Examples: [Tone, Rio Magdalena, Maranon])
]
# Table: cityothername
[
(city:VARCHAR, Primary Key, Examples: [Ngiva, Sumgayit, Antwerpen]),
(country:VARCHAR, Primary Key, Examples: [A, AL, ANG]),
(province:VARCHAR, Primary Key, Examples: [Wien, Albania, Cunene]),
(othername:VARCHAR, Primary Key, Examples: [Antwerp, Moji Guacu, Kotte])
]
# Table: lakeonisland
[
(lake:VARCHAR, Primary Key, Examples: [Arresï¿½, Danau Kumbang, Koltsevoye Lake]),
(island:VARCHAR, Primary Key, Examples: [Seeland, Sumatra, Onekotan])
]
# Table: provincelocalname
[
(province:VARCHAR, Primary Key, Examples: [Barisal, Chittagong, Dhaka]),
(country:VARCHAR, Primary Key, Examples: [BD, BY, CN]),
(localname:VARCHAR, Examples: [ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½])
]
# Table: countrylocalname
[
(country:VARCHAR, Primary Key, Examples: [A, AFG, AG]),
(localname:VARCHAR, Examples: [Republiek Suriname (de)])
]
# Table: river
[
(name:VARCHAR, Primary Key, Examples: [Aare, Acre, Adda]),
(river:VARCHAR, Examples: [Rio Usumacinta, Rio Magdalena, Orinoco]),
(lake:VARCHAR, Examples: [Represa de Ilha Solteira]),
(sea:VARCHAR, Examples: [Yellow Sea, Pacific Ocean, Gulf of Mexico]),
(length:NUMBER, Examples: [4845.0, 965.0, 1000.0]),
(area:NUMBER, Examples: [752000.0, 240000.0, 134400.0]),
(source:NULL),
(mountains:VARCHAR, Examples: [Kunlun]),
(sourceelevation:NUMBER, Examples: [4500.0, 2600.0, 2140.0]),
(estuary:NULL),
(estuaryelevation:NUMBER, Examples: [0.0, 0.5, 15.0])
]
# Table: island
[
(name:VARCHAR, Examples: [Porto Santo, Sao Miguel, Hispaniola]),
(islands:VARCHAR, Examples: [Madeira, Azores, Greater Antilles]),
(area:NUMBER, Examples: [42.0, 747.0, 76192.0]),
(elevation:NUMBER, Examples: [517.0, 1105.0, 3098.0]),
(type:VARCHAR, Examples: [volcanic, lime, coral]),
(coordinates:NULL)
]
# Table: mondial_riverthrough
[
(river:VARCHAR, Examples: [Aare, Adda, Alz]),
(lake:VARCHAR, Examples: [Brienzersee, Thunersee, Lago di Como]),
(meta_repcol:VARCHAR, Examples: [Aare, Adda, Alz])
]
# Table: ismember
[
(country:VARCHAR, Primary Key, Examples: [A, AFG, AG]),
(organization:VARCHAR, Primary Key, Examples: [ADB, AG, AfDB]),
(type:VARCHAR, Examples: [member, observer, associate member])
]
# Table: mondial_river
[
(name:VARCHAR, Examples: [Inn, Ilz, Regen]),
(river:VARCHAR, Examples: [Donau, Inn, Drau]),
(lake:VARCHAR, Examples: [Lake Skutari, Dead Sea, Caspian Sea]),
(sea:VARCHAR, Examples: [Mediterranean Sea, Persian Gulf, White Sea]),
(length:NUMBER, Examples: [517.0, 62.0, 125.0]),
(area:NUMBER, Examples: [25700.0, 850.0, 2953.0]),
(source:NULL),
(mountains:VARCHAR, Examples: [Alps, Bayrischer Wald, Sudety Mountains]),
(sourceelevation:NUMBER, Examples: [2484.0, 1300.0, 875.0]),
(estuary:NULL),
(estuaryelevation:NUMBER, Examples: [291.0, 325.0, 360.0]),
(meta_repcol:VARCHAR, Examples: [Alz, Waag, Dï¿½mboviï¿½a])
]
# Table: mondial_population
[
(country:VARCHAR, Examples: [AL, GR, MK]),
(population_growth:NUMBER, Examples: [0.3, 0.01, 0.21]),
(infant_mortality:NUMBER, Examples: [13.19, 4.78, 7.9]),
(meta_repcol:VARCHAR, Examples: [AL, GR, MK])
]
# Table: mondial_sea
[
(name:VARCHAR, Examples: [Atlantic Ocean, Mediterranean Sea, Black Sea]),
(area:NUMBER, Examples: [2500000.0, 436000.0, 11350.0]),
(depth:NUMBER, Examples: [9219.0, 5267.0, 2211.0]),
(meta_repcol:VARCHAR, Examples: [Atlantic Ocean, Mediterranean Sea, Black Sea])
]
# Table: lake
[
(name:VARCHAR, Primary Key, Examples: [Ammersee, Arresï¿½, Atlin Lake]),
(river:VARCHAR, Examples: [Caloosahatchee River, Tennessee River, Columbia River]),
(area:NUMBER, Examples: [1890.0, 648.0, 147.0]),
(elevation:NUMBER, Examples: [4.0, 1883.0, 1279.0]),
(depth:NUMBER, Examples: [4.0, 594.0, 10.0]),
(height:NUMBER, Examples: [235.0, 216.0, 221.0]),
(type:VARCHAR, Examples: [dam, caldera, saline]),
(coordinates:NULL)
]
# Table: mondial_island
[
(name:VARCHAR, Examples: [Arran, Isle of Man, Anglesey]),
(islands:VARCHAR, Examples: [Inner Hebrides, British Isles, Channel Islands]),
(area:NUMBER, Examples: [430.0, 588.0, 715.0]),
(elevation:NUMBER, Examples: [874.0, 621.0, 220.0]),
(type:VARCHAR, Examples: [volcanic, lime, coral]),
(coordinates:NULL),
(meta_repcol:VARCHAR, Examples: [Arran, Isle of Man, Anglesey])
]
# Table: population
[
(country:VARCHAR, Primary Key, Examples: [A, AFG, AG]),
(population_growth:NUMBER, Examples: [0.3, 0.01, 0.21]),
(infant_mortality:NUMBER, Examples: [13.19, 4.78, 7.9])
]
# Table: mondial_geo_sea
[
(sea:VARCHAR, Examples: [Red Sea, Gulf of Aden, Gulf of Bengal]),
(country:VARCHAR, Examples: [DJI, ER, YE]),
(province:VARCHAR, Examples: [Somalia, Odisha, Thailand]),
(meta_repcol:VARCHAR, Examples: [Red Sea, Gulf of Aden, Gulf of Bengal])
]
# Table: desert
[
(name:VARCHAR, Primary Key, Examples: [Arabian Desert, Aralkum, Atacama]),
(area:NUMBER, Examples: [1200000.0, 95000.0, 70000.0]),
(coordinates:NULL)
]
# Table: mondial_citypops
[
(city:VARCHAR, Examples: [Solingen, Ludwigshafen, Leipzig]),
(country:VARCHAR, Examples: [D, H, I]),
(province:VARCHAR, Examples: [Nordrhein-Westfalen, Rheinland-Pfalz, Bï¿½cs-Kiskun]),
(year:NUMBER, Examples: [1987.0, 2011.0, 1992.0]),
(population:NUMBER, Examples: [166865.0, 142365.0, 110708.0]),
(meta_repcol:VARCHAR, Examples: [Solingen, Ludwigshafen, Leipzig])
]
# Table: mondial_encompasses
[
(country:VARCHAR, Examples: [AL, GR, MK]),
(continent:VARCHAR, Examples: [Europe, Asia, Africa]),
(percentage:NUMBER, Examples: [100.0, 25.0, 75.0]),
(meta_repcol:VARCHAR, Examples: [AL, GR, MK])
]
# Table: mondial_cityothername
[
(city:VARCHAR, Examples: [Oporto, Cusco, Mardan]),
(country:VARCHAR, Examples: [OM, P, PA]),
(province:VARCHAR, Examples: [Oman, Evora, Madeira]),
(othername:VARCHAR, Examples: [ï¿½vora, Santiago de Veraguas, Mardan]),
(meta_repcol:VARCHAR, Examples: [ï¿½vora, Santiago de Veraguas, Mardan])
]
# Table: provinceothername
[
(province:VARCHAR, Primary Key, Examples: [Liï¿½ge]),
(country:VARCHAR, Primary Key, Examples: [B, CO, E]),
(othername:VARCHAR, Primary Key, Examples: [Luik])
]
# Table: mondial_politics
[
(country:VARCHAR, Examples: [SMAR, SBAR, CO]),
(independence:DATE, Examples: [2010-07-20 00:00:00]),
(wasdependent:VARCHAR, Examples: [E, GB, United Nations]),
(dependent:VARCHAR, Examples: [F, USA, GB]),
(government:VARCHAR),
(meta_repcol:VARCHAR, Examples: [SMAR, SBAR, CO])
]
# Table: mountainonisland
[
(mountain:VARCHAR, Primary Key, Examples: [Aenos, Agung, Andringitra]),
(island:VARCHAR, Primary Key, Examples: [Kefallinia, Bali, Madagaskar])
]
# Table: mondial_continent
[
(name:VARCHAR, Examples: [Europe, Asia, Australia/Oceania]),
(area:NUMBER, Examples: [9938000, 44579000, 8600000]),
(meta_repcol:VARCHAR, Examples: [Europe, Asia, Australia/Oceania])
]
# Table: mondial_provpops
[
(province:VARCHAR, Examples: [Amurskaya, Antwerpen, Brcko]),
(country:VARCHAR, Examples: [R, B, NL]),
(year:NUMBER, Examples: [2013.0, 2014.0, 2010.0]),
(population:NUMBER, Examples: [172671.0, 156996.0, 1114042.0]),
(meta_repcol:VARCHAR, Examples: [Amurskaya, Antwerpen, Brcko])
]
# Table: religion
[
(country:VARCHAR, Primary Key, Examples: [STP, BERM, AUS]),
(name:VARCHAR, Primary Key, Examples: [Adventist]),
(percentage:NUMBER, Examples: [58.5, 23.2, 0.9])
]
# Table: mondial_mergeswith
[
(sea1:VARCHAR, Examples: [Andaman Sea, Arabian Sea, Arafura Sea]),
(sea2:VARCHAR, Examples: [Gulf of Bengal, Indian Ocean, Malakka Strait]),
(meta_repcol:VARCHAR)
]
# Table: encompasses
[
(country:VARCHAR, Primary Key, Examples: [A, AFG, AG]),
(continent:VARCHAR, Primary Key, Examples: [Europe, Asia, America]),
(percentage:NUMBER, Examples: [100.0, 25.0, 75.0])
]
# Table: mondial_geo_lake
[
(lake:VARCHAR, Examples: [Lago Albano, Lago di Bolsena, Lago di Bracciano]),
(country:VARCHAR, Examples: [I, R, Z]),
(province:VARCHAR, Examples: [Lazio, Leningradskaya, Lombardia]),
(meta_repcol:VARCHAR, Examples: [Lago Albano, Lago di Bolsena, Lago di Bracciano])
]
# Table: mondial_lake
[
(name:VARCHAR, Examples: [Lake Natron, Lake Malawi, Lake Chilwa]),
(river:VARCHAR, Examples: [Shire, Fimi, Zaire]),
(area:NUMBER, Examples: [1040.0, 29600.0, 687.0]),
(elevation:NUMBER, Examples: [600.0, 474.0, 300.0]),
(depth:NUMBER, Examples: [2.0, 704.0, 10.0]),
(height:NUMBER, Examples: [235.0, 216.0, 221.0]),
(type:VARCHAR, Examples: [saline, dam, impact]),
(coordinates:NULL),
(meta_repcol:VARCHAR, Examples: [Lake Natron, Lake Malawi, Lake Chilwa])
]
# Table: geo_river
[
(river:VARCHAR, Primary Key, Examples: [Aare, Limmat, Reuss]),
(country:VARCHAR, Primary Key, Examples: [CH, CI, BR]),
(province:VARCHAR, Primary Key, Examples: [Al Qunaytirah, Amurskaya, Antwerpen])
]
# Table: mondial_religion
[
(country:VARCHAR, Examples: [UA, R, B]),
(name:VARCHAR, Examples: [Christian Orthodox]),
(percentage:NUMBER, Examples: [83.5, 8.0, 2.2]),
(meta_repcol:VARCHAR, Examples: [Christian Orthodox])
]
# Table: mondial_country
[
(name:VARCHAR, Examples: [Haiti, El Salvador, Honduras]),
(code:VARCHAR, Examples: [RH, ES, HCA]),
(capital:VARCHAR, Examples: [Port-au-Prince, San Salvador, Tegucigalpa]),
(province:VARCHAR, Examples: [Haiti, El Salvador, Francisco Morazï¿½n]),
(area:NUMBER, Examples: [27750.0, 21040.0, 112090.0]),
(population:NUMBER, Examples: [9896400.0, 6290420.0, 8045990.0]),
(meta_repcol:VARCHAR, Examples: [Haiti, El Salvador, Honduras])
]
# Table: airport
[
(iatacode:VARCHAR, Primary Key, Examples: [AAE, AAL, AAN]),
(name:VARCHAR, Examples: [Wuxu]),
(country:VARCHAR, Examples: [CN, XMAS, COCO]),
(city:VARCHAR, Examples: [Yantai, Hefei, Nanyang]),
(province:VARCHAR, Examples: [Guangdong, Xizang, Qinghai]),
(island:VARCHAR, Examples: [Hainan, Zhoushan, Christmas Island]),
(latitude:NUMBER, Examples: [39.124353, 22.608267, 37.1871]),
(longitude:NUMBER, Examples: [123.918131, 118.862025, 105.393]),
(elevation:NUMBER, Examples: [730.0, 44.0, 1895.0]),
(gmtoffset:NUMBER, Examples: [8.0, 7.0, 6.5])
]
# Table: language
[
(country:VARCHAR, Primary Key, Examples: [AFG, NAM, AL]),
(name:VARCHAR, Primary Key, Examples: [Afghan Persian, Afrikaans, Albanian]),
(percentage:NUMBER, Examples: [98.8, 0.5, 99.0])
]
# Table: mondial_ethnicgroup
[
(country:VARCHAR, Examples: [ZW, BI, RWA]),
(name:VARCHAR, Examples: [Shona, Ndebele, Chewa/Nyanja]),
(percentage:NUMBER, Examples: [70.0, 20.0, 6.0]),
(meta_repcol:VARCHAR, Examples: [Shona, Ndebele, Chewa/Nyanja])
]
# Table: mondial_organization
[
(abbreviation:VARCHAR, Examples: [CAEU, SELEC, CE]),
(name:VARCHAR),
(city:VARCHAR, Examples: [Amman, Bucuresti, Strasbourg]),
(country:VARCHAR, Examples: [JOR, RO, F]),
(province:VARCHAR, Examples: [Jordan, Bucuresti, Alsace]),
(established:DATE, Examples: [1957-06-02 00:00:00]),
(meta_repcol:VARCHAR)
]
# Table: mondial_economy
[
(country:VARCHAR, Examples: [TCH, GQ, G]),
(gdp:NUMBER, Examples: [13590.0, 17080.0, 19970.0]),
(agriculture:NUMBER, Examples: [46.3, 4.6, 3.6]),
(service:NUMBER, Examples: [43.8, 8.1, 32.5]),
(industry:NUMBER, Examples: [9.9, 87.3, 63.9]),
(inflation:NUMBER, Examples: [4.5, 6.0, 1.2]),
(unemployment:NUMBER, Examples: [22.3, 21.0, 20.0]),
(meta_repcol:VARCHAR, Examples: [TCH, GQ, G])
]
# Table: mondial_mountain
[
(name:VARCHAR, Examples: [Saltoro Kangri, Nanda Devi, Annapurna]),
(mountains:VARCHAR, Examples: [Karakorum, Himalaya, Transhimalaya]),
(elevation:NUMBER, Examples: [7795.0, 8611.0, 8051.0]),
(type:VARCHAR, Examples: [volcanic, volcano, granite]),
(coordinates:NULL),
(meta_repcol:VARCHAR, Examples: [Saltoro Kangri, Nanda Devi, Annapurna])
]
# Table: mondial_located
[
(city:VARCHAR, Examples: [Kingstown, Saipan, Barra Mansa]),
(province:VARCHAR, Examples: [Haiti, Atlï¿½ntida, Victoria]),
(country:VARCHAR, Examples: [USA, NIC, PA]),
(river:VARCHAR, Examples: [Potomac River, Murrumbidgee River, Paraguay]),
(lake:VARCHAR, Examples: [Lake Nicaragua, Lake Burley Griffin, Lake Mai Ndombe]),
(sea:VARCHAR, Examples: [Pacific Ocean, Caribbean Sea, Atlantic Ocean]),
(meta_repcol:VARCHAR, Examples: [Kingstown, Saipan, Barra Mansa])
]
# Table: teste_fornecedor
[
(idfornecedor:INTEGER, Primary Key, Examples: [201, 202, 203]),
(nome:VARCHAR, Examples: [Fornecedor X, Fornecedor Y, Fornecedor Z]),
(produtofornecido:VARCHAR, Examples: [Componentes Eletrï¿½nicos]),
(contato:VARCHAR, Examples: [Ana Silva, Josï¿½ Santos, Maria Oliveira]),
(telefone:VARCHAR, Examples: [11 1111-1111, 22 2222-2222, 33 3333-3333])
]
# Table: teste_cliente
[
(idcliente:INTEGER, Primary Key, Examples: [101, 102, 103]),
(nome:VARCHAR, Examples: [Empresa A, Cliente B, Cliente C]),
(email:VARCHAR),
(telefone:VARCHAR, Examples: [11 1234-5678, 21 9876-5432, 31 5555-5555]),
(idfuncionarioresponsavel:INTEGER, Examples: [1, 2]),
(idfornecedorresponsavel:NUMBER, Examples: [201.0, 202.0])
]
# Table: mondial_countrypops
[
(country:VARCHAR, Examples: [NIUE, NORF, NMIS]),
(year:NUMBER, Examples: [1966.0, 1971.0, 1976.0]),
(population:NUMBER, Examples: [3281.0, 2300.0, 11365.0]),
(meta_repcol:VARCHAR, Examples: [NIUE, NORF, NMIS])
]
# Table: mondial_geo_river
[
(river:VARCHAR, Examples: [Saskatchewan River, Mara, Araguaia]),
(country:VARCHAR, Examples: [CDN, EAT, BR]),
(province:VARCHAR, Examples: [Mekong River Delta, Meta, Michigan]),
(meta_repcol:VARCHAR, Examples: [Rio Parnaiba, Merrimack River, Parana])
]
# Table: mondial_ismember
[
(country:VARCHAR, Examples: [WAN, RT, CI]),
(organization:VARCHAR, Examples: [ECOWAS, ECO, EurasEC]),
(type:VARCHAR, Examples: [member, observer, cooperating state]),
(meta_repcol:VARCHAR, Examples: [WAN, RT, CI])
]
# Table: province
[
(name:VARCHAR, Primary Key, Examples: [Abuja, Al Ladhiqiyah, Al Qunaytirah]),
(country:VARCHAR, Primary Key, Examples: [CH, WAN, CI]),

In [15]:
from langchain_openai import ChatOpenAI
from langchain.chains import create_sql_query_chain
from urllib.parse import quote  
from langchain.callbacks import get_openai_callback
import time
from dotenv import load_dotenv
import os
import sys
import json
load_dotenv()

import warnings
warnings.filterwarnings("ignore", category=SyntaxWarning)

experiment_path = '..\..'
path = os.path.abspath('')
module_path = os.path.join(path, experiment_path)
if module_path not in sys.path:
    sys.path.append(module_path+"\\functions")

from sqldatabase_langchain_utils import SQLDatabaseLangchainUtils

SCHEMA = 'mondial_gpt'
PREFIX = 'mondial'

FILE_NAME_RESULT = f"sql_queries_chatgpt_mschema_{SCHEMA}.json"

def save_queries(queries):
    data = {"queries":queries}
    with open(FILE_NAME_RESULT, "w") as arquivo_json:
        json.dump(data, arquivo_json, indent=4) 

def read_queries():
    with open(FILE_NAME_RESULT, encoding='utf-8', errors='ignore') as json_data:
        data = json.load(json_data, strict=False)
    queries = data["queries"]
    return queries

json_file_path = f"../../datasets/{SCHEMA}_db_connection.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    db_connection = json.load(json_data, strict=False)

db = SQLDatabaseLangchainUtils(db_connection=db_connection)

exclude = [
    f"{SCHEMA}_tmdp",
    f"{SCHEMA}_tmdpmap",
    f"{SCHEMA}_tmds",
    f"{SCHEMA}_tmjmap",
    f"{SCHEMA}_tpv",
    f"{SCHEMA}_tmdc",
    f"{SCHEMA}_tmdcmap",
    f"{SCHEMA}_tmdej",
    f"{SCHEMA}_log_action",
    f"{SCHEMA}_log_error",
    f"{SCHEMA}_favorite_item", 
    f"{SCHEMA}_favorite_query",
    f"{SCHEMA}_favorite_tag",
    f"{SCHEMA}_favorite_tag_item",
    f"{SCHEMA}_favorite_visualization",
    f"{SCHEMA}_dashboard",
    f"{SCHEMA}_history",
    "teste_cliente",
    "teste_fornecedor",
    "teste_funcionario"
]

include_tables = [s for s in db.get_table_names() if not s.startswith(PREFIX) and s not in exclude]
db = SQLDatabaseLangchainUtils(db_connection=db_connection, include_tables=include_tables)

c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\venv\Lib\site-packages\langchain_community\utilities\sql_database.py:123: SAWarning: Did not recognize type 'GEOCOORD' of column 'coordinates'
  self._metadata.reflect(
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\venv\Lib\site-packages\langchain_community\utilities\sql_database.py:123: SAWarning: Did not recognize type 'GEOCOORD' of column 'source'
  self._metadata.reflect(
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\venv\Lib\site-packages\langchain_community\utilities\sql_database.py:123: SAWarning: Did not recognize type 'GEOCOORD' of column 'estuary'
  self._metadata.reflect(

### Prompt

In [20]:
from langchain.prompts.prompt import PromptTemplate

f = open(f"prompt.txt", "r")
prompt_template = f.read()
f.close()

prompt_template += mschema_str
prompt_template += "\n\nQuestion: {input}"

PROMPT = PromptTemplate(
    input_variables=["input", "top_k", "table_info"], template=prompt_template
)

print(PROMPT)

input_variables=['input', 'table_info', 'top_k'] input_types={} partial_variables={} template='You are an Oracle SQL expert. Given an input question, first create a syntactically correct Oracle SQL query to run, then look at the results of the query and return the answer to the input question.\nUnless the user specifies in the question a specific number of examples to obtain, don\'t query for at {top_k} most results or any using the FETCH FIRST n ROWS ONLY clause as per Oracle SQL. You can order the results to return the most informative data in the database.\nNever query for all columns from a table. You must query only the columns that are needed to answer the question.\nPay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\nPay attention to use TRUNC(SYSDATE) function to get the current date, if the question involves "today". \n\nSome hints:\n- Don\'t use double quotes in column name\n- \nExample:\n`SELECT "column_name" FROM table` should be `SELECT column_name FROM table`\n- Don\'t use LEFT JOIN, only JOIN\n\nUse the following format:\n\nQuestion: Question here\nSQLQuery: SQL Query to run\nSQLResult: Result of the SQLQuery\nAnswer: Final answer here\n\nOnly use the following tables:\n{table_info}\n\nThis is the database schema:\n【DB_ID】 MONDIAL_GPT\n【Schema】\n# Table: countryothername\n[\n(country:VARCHAR, Primary Key),\n(othername:VARCHAR, Primary Key)\n]\n# Table: mondial_islandin\n[\n(island:VARCHAR, Examples: [Chongming, Manhattan, Svalbard]),\n(sea:VARCHAR, Examples: [Norwegian Sea, Greenland Sea, Barents Sea]),\n(lake:VARCHAR, Examples: [Lake Huron, Lake Nicaragua, Ozero Baikal]),\n(river:VARCHAR, Examples: [Yangtze, Hudson River, Donau]),\n(meta_repcol:VARCHAR, Examples: [Chongming, Manhattan, Svalbard])\n]\n# Table: geo_island\n[\n(island:VARCHAR, Primary Key, Examples: [Sumatra, Honshu, Unalaska]),\n(country:VARCHAR, Primary Key, Examples: [RI, J, USA]),\n(province:VARCHAR, Primary Key, Examples: [Aceh, Aichi, Akita])\n]\n# Table: mondial_provinceothername\n[\n(province:VARCHAR, Examples: [Liï¿½ge]),\n(country:VARCHAR, Examples: [B, CO, E]),\n(othername:VARCHAR, Examples: [Luik]),\n(meta_repcol:VARCHAR, Examples: [Luik])\n]\n# Table: teste_funcionario\n[\n(idfuncionario:INTEGER, Primary Key, Examples: [1, 2, 3]),\n(nome:VARCHAR, Examples: [Joï¿½o Silva, Maria Santos, Carlos Oliveira]),\n(cargo:VARCHAR, Examples: [Gerente de Vendas]),\n(datacontratacao:DATE, Examples: [2020-05-15 00:00:00])\n]\n# Table: mergeswith\n[\n(sea1:VARCHAR, Primary Key, Examples: [Andaman Sea, Arabian Sea, Arafura Sea]),\n(sea2:VARCHAR, Primary Key, Examples: [Gulf of Bengal, Indian Ocean, Malakka Strait])\n]\n# Table: mountain\n[\n(name:VARCHAR, Primary Key, Examples: [Aconcagua, Aenos, Agung]),\n(mountains:VARCHAR, Examples: [Brazilian Highlands]),\n(elevation:NUMBER, Examples: [1017.0, 2335.0, 2791.0]),\n(type:VARCHAR, Examples: [volcanic, volcano, monolith]),\n(coordinates:NULL)\n]\n# Table: organization\n[\n(abbreviation:VARCHAR, Primary Key, Examples: [ABEDA, ACP, ADB]),\n(name:VARCHAR, Examples: [ASEAN Regional Forum]),\n(city:VARCHAR, Examples: [Caracas, Montevideo, Al Qahirah]),\n(country:VARCHAR, Examples: [YV, ROU, ET]),\n(province:VARCHAR, Examples: [Distrito Federal, Uruguay, Egypt]),\n(established:DATE, Examples: [1975-10-17 00:00:00])\n]\n# Table: mondial_geo_desert\n[\n(desert:VARCHAR, Examples: [Erg Maqteir, Erg Ouarane, Trarza]),\n(country:VARCHAR, Examples: [RIM, AFG, RN]),\n(province:VARCHAR, Examples: [Adrar, Afghanistan, Agadez]),\n(meta_repcol:VARCHAR, Examples: [Erg Maqteir, Erg Ouarane, Trarza])\n]\n# Table: locatedon\n[\n(city:VARCHAR, Primary Key, Examples: [Ajaccio, Ambon, Basildon]),\n(province:VARCHAR, Primary Key, Examples: [Scotland, Pitcairn, Corse]),\n(country:VARCHAR, Primary Key, Examples: [GB, PITC, F]),\n(island:VARCHAR, Primary Key, Examples: [Great Britain, Pitcairn, Corse])\n]\n# Table: islandin\n[\n(island:VARCHAR, Examples: [Isle of Man, Anglesey, Isle of Wight]),\n(sea:VARCHAR, Examples: [Irish Sea, The Channel, Baltic Sea]),\n(lake:VARCHAR, Examples: [Lake Victoria, Koltsevoye Lake, Ozero Baikal]),\n(river:VARCHAR, Examples: [Donau, Waag, Save])\n]\n# Table: mondial_locatedon\n[\n(city:VARCHAR, Examples: [Labuan, Ajaccio, Ambon]),\n(province:VARCHAR, Examples: [La Habana, Labuan, Cyprus]),\n(country:VARCHAR, Examples: [C, MAL, CY]),\n(island:VARCHAR, Examples: [Cuba, Labuan, Cyprus]),\n(meta_repcol:VARCHAR, Examples: [Labuan, Ajaccio, Ambon])\n]\n# Table: countrypops\n[\n(country:VARCHAR, Primary Key, Examples: [A, AFG, AG]),\n(year:NUMBER, Primary Key, Examples: [1869.0, 1910.0, 1934.0]),\n(population:NUMBER, Examples: [28211.0, 71183.0, 7929048.0])\n]\n# Table: mondial_city\n[\n(name:VARCHAR, Examples: [Neftejugansk, Salekhard, Antwerpen]),\n(country:VARCHAR, Examples: [R, B, L]),\n(province:VARCHAR, Examples: [Amurskaya, Antwerpen, Brcko]),\n(population:NUMBER, Examples: [4215.0, 80151.0, 168576.0]),\n(latitude:NUMBER, Examples: [53.02, 46.97, 61.08]),\n(longitude:NUMBER, Examples: [150.8, 72.7, 5.78]),\n(elevation:NUMBER, Examples: [50.0, 6.0, 14.0]),\n(meta_repcol:VARCHAR, Examples: [Neftejugansk, Salekhard, Antwerpen])\n]\n# Table: mondial_language\n[\n(country:VARCHAR, Examples: [WAFU, RA, BOL]),\n(name:VARCHAR, Examples: [French, Spanish, Quechua]),\n(percentage:NUMBER, Examples: [10.8, 100.0, 60.7]),\n(meta_repcol:VARCHAR, Examples: [French, Spanish, Quechua])\n]\n# Table: mondial_airport\n[\n(name:VARCHAR, Examples: [Dï¿½sseldorf, Kotoka Intl, Chios]),\n(iatacode:VARCHAR, Examples: [GWT, FRA, NUE]),\n(country:VARCHAR, Examples: [D, GH, GBZ]),\n(city:VARCHAR, Examples: [Leipzig, Dï¿½sseldorf, Accra]),\n(province:VARCHAR, Examples: [Nordrhein-Westfalen, Guam, Guinea]),\n(island:VARCHAR, Examples: [Sylt, Crete, Mykonos]),\n(latitude:NUMBER, Examples: [51.289453, 51.132767, 35.339719]),\n(longitude:NUMBER, Examples: [7.684831, 8.08048, 13.767161]),\n(elevation:NUMBER, Examples: [16.0, 323.0, 37.0]),\n(gmtoffset:NUMBER, Examples: [1.0, 0.0, 2.0]),\n(meta_repcol:VARCHAR, Examples: [STR - Stuttgart, DUS - Dï¿½sseldorf, IOA - Ioannina])\n]\n# Table: country\n[\n(name:VARCHAR, Examples: [Afghanistan, Albania, Algeria]),\n(code:VARCHAR, Primary Key, Examples: [A, AFG, AG]),\n(capital:VARCHAR, Examples: [Charlotte Amalie, Pago Pago, Canberra]),\n(province:VARCHAR, Examples: [Virgin Islands]),\n(area:NUMBER, Examples: [352.0, 199.0, 7692024.0]),\n(population:NUMBER, Examples: [106405.0, 55519.0, 23135281.0])\n]\n# Table: geo_lake\n[\n(lake:VARCHAR, Primary Key, Examples: [Lake Kossou, Barrage de Mbakaou, Lake Abbe]),\n(country:VARCHAR, Primary Key, Examples: [CI, CAM, ETH]),\n(province:VARCHAR, Primary Key, Examples: [Abidjan, Adamaoua, Afar])\n]\n# Table: riveronisland\n[\n(river:VARCHAR, Primary Key, Examples: [Agus River, Asahan, Bann]),\n(island:VARCHAR, Primary Key, Examples: [Mindanao, Sumatra, Ireland])\n]\n# Table: city\n[\n(name:VARCHAR, Primary Key, Examples: [Abengourou, Abu Dhabi, Abuja]),\n(country:VARCHAR, Primary Key, Examples: [NL, E, D]),\n(province:VARCHAR, Primary Key, Examples: [Nordrhein-Westfalen, Abuja, Al Ladhiqiyah]),\n(population:NUMBER, Examples: [108145.0, 123440.0, 196244.0]),\n(latitude:NUMBER, Examples: [52.37, 51.85, 51.92]),\n(longitude:NUMBER, Examples: [5.78, 6.1, 4.32]),\n(elevation:NUMBER, Examples: [6.0, 14.0, 113.0])\n]\n# Table: mondial_geo_mountain\n[\n(mountain:VARCHAR, Examples: [Cerro Tristeza, Fuyul Sojol, Doddabetta]),\n(country:VARCHAR, Examples: [CL, A, GR]),\n(province:VARCHAR, Examples: [Tabouk, Thailand, Valais]),\n(meta_repcol:VARCHAR, Examples: [Cerro Tristeza, Fuyul Sojol, Doddabetta])\n]\n# Table: mondial_geo_source\n[\n(river:VARCHAR, Examples: [Pearl River, Xiang Jiang, Mondego]),\n(country:VARCHAR, Examples: [CN, P, GCA]),\n(province:VARCHAR, Examples: [Guangdong, Guangxi, Guarda]),\n(meta_repcol:VARCHAR, Examples: [Tone, Rio Magdalena, Maranon])\n]\n# Table: cityothername\n[\n(city:VARCHAR, Primary Key, Examples: [Ngiva, Sumgayit, Antwerpen]),\n(country:VARCHAR, Primary Key, Examples: [A, AL, ANG]),\n(province:VARCHAR, Primary Key, Examples: [Wien, Albania, Cunene]),\n(othername:VARCHAR, Primary Key, Examples: [Antwerp, Moji Guacu, Kotte])\n]\n# Table: lakeonisland\n[\n(lake:VARCHAR, Primary Key, Examples: [Arresï¿½, Danau Kumbang, Koltsevoye Lake]),\n(island:VARCHAR, Primary Key, Examples: [Seeland, Sumatra, Onekotan])\n]\n# Table: provincelocalname\n[\n(province:VARCHAR, Primary Key, Examples: [Barisal, Chittagong, Dhaka]),\n(country:VARCHAR, Primary Key, Examples: [BD, BY, CN]),\n(localname:VARCHAR, Examples: [ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½])\n]\n# Table: countrylocalname\n[\n(country:VARCHAR, Primary Key, Examples: [A, AFG, AG]),\n(localname:VARCHAR, Examples: [Republiek Suriname (de)])\n]\n# Table: river\n[\n(name:VARCHAR, Primary Key, Examples: [Aare, Acre, Adda]),\n(river:VARCHAR, Examples: [Rio Usumacinta, Rio Magdalena, Orinoco]),\n(lake:VARCHAR, Examples: [Represa de Ilha Solteira]),\n(sea:VARCHAR, Examples: [Yellow Sea, Pacific Ocean, Gulf of Mexico]),\n(length:NUMBER, Examples: [4845.0, 965.0, 1000.0]),\n(area:NUMBER, Examples: [752000.0, 240000.0, 134400.0]),\n(source:NULL),\n(mountains:VARCHAR, Examples: [Kunlun]),\n(sourceelevation:NUMBER, Examples: [4500.0, 2600.0, 2140.0]),\n(estuary:NULL),\n(estuaryelevation:NUMBER, Examples: [0.0, 0.5, 15.0])\n]\n# Table: island\n[\n(name:VARCHAR, Examples: [Porto Santo, Sao Miguel, Hispaniola]),\n(islands:VARCHAR, Examples: [Madeira, Azores, Greater Antilles]),\n(area:NUMBER, Examples: [42.0, 747.0, 76192.0]),\n(elevation:NUMBER, Examples: [517.0, 1105.0, 3098.0]),\n(type:VARCHAR, Examples: [volcanic, lime, coral]),\n(coordinates:NULL)\n]\n# Table: mondial_riverthrough\n[\n(river:VARCHAR, Examples: [Aare, Adda, Alz]),\n(lake:VARCHAR, Examples: [Brienzersee, Thunersee, Lago di Como]),\n(meta_repcol:VARCHAR, Examples: [Aare, Adda, Alz])\n]\n# Table: ismember\n[\n(country:VARCHAR, Primary Key, Examples: [A, AFG, AG]),\n(organization:VARCHAR, Primary Key, Examples: [ADB, AG, AfDB]),\n(type:VARCHAR, Examples: [member, observer, associate member])\n]\n# Table: mondial_river\n[\n(name:VARCHAR, Examples: [Inn, Ilz, Regen]),\n(river:VARCHAR, Examples: [Donau, Inn, Drau]),\n(lake:VARCHAR, Examples: [Lake Skutari, Dead Sea, Caspian Sea]),\n(sea:VARCHAR, Examples: [Mediterranean Sea, Persian Gulf, White Sea]),\n(length:NUMBER, Examples: [517.0, 62.0, 125.0]),\n(area:NUMBER, Examples: [25700.0, 850.0, 2953.0]),\n(source:NULL),\n(mountains:VARCHAR, Examples: [Alps, Bayrischer Wald, Sudety Mountains]),\n(sourceelevation:NUMBER, Examples: [2484.0, 1300.0, 875.0]),\n(estuary:NULL),\n(estuaryelevation:NUMBER, Examples: [291.0, 325.0, 360.0]),\n(meta_repcol:VARCHAR, Examples: [Alz, Waag, Dï¿½mboviï¿½a])\n]\n# Table: mondial_population\n[\n(country:VARCHAR, Examples: [AL, GR, MK]),\n(population_growth:NUMBER, Examples: [0.3, 0.01, 0.21]),\n(infant_mortality:NUMBER, Examples: [13.19, 4.78, 7.9]),\n(meta_repcol:VARCHAR, Examples: [AL, GR, MK])\n]\n# Table: mondial_sea\n[\n(name:VARCHAR, Examples: [Atlantic Ocean, Mediterranean Sea, Black Sea]),\n(area:NUMBER, Examples: [2500000.0, 436000.0, 11350.0]),\n(depth:NUMBER, Examples: [9219.0, 5267.0, 2211.0]),\n(meta_repcol:VARCHAR, Examples: [Atlantic Ocean, Mediterranean Sea, Black Sea])\n]\n# Table: lake\n[\n(name:VARCHAR, Primary Key, Examples: [Ammersee, Arresï¿½, Atlin Lake]),\n(river:VARCHAR, Examples: [Caloosahatchee River, Tennessee River, Columbia River]),\n(area:NUMBER, Examples: [1890.0, 648.0, 147.0]),\n(elevation:NUMBER, Examples: [4.0, 1883.0, 1279.0]),\n(depth:NUMBER, Examples: [4.0, 594.0, 10.0]),\n(height:NUMBER, Examples: [235.0, 216.0, 221.0]),\n(type:VARCHAR, Examples: [dam, caldera, saline]),\n(coordinates:NULL)\n]\n# Table: mondial_island\n[\n(name:VARCHAR, Examples: [Arran, Isle of Man, Anglesey]),\n(islands:VARCHAR, Examples: [Inner Hebrides, British Isles, Channel Islands]),\n(area:NUMBER, Examples: [430.0, 588.0, 715.0]),\n(elevation:NUMBER, Examples: [874.0, 621.0, 220.0]),\n(type:VARCHAR, Examples: [volcanic, lime, coral]),\n(coordinates:NULL),\n(meta_repcol:VARCHAR, Examples: [Arran, Isle of Man, Anglesey])\n]\n# Table: population\n[\n(country:VARCHAR, Primary Key, Examples: [A, AFG, AG]),\n(population_growth:NUMBER, Examples: [0.3, 0.01, 0.21]),\n(infant_mortality:NUMBER, Examples: [13.19, 4.78, 7.9])\n]\n# Table: mondial_geo_sea\n[\n(sea:VARCHAR, Examples: [Red Sea, Gulf of Aden, Gulf of Bengal]),\n(country:VARCHAR, Examples: [DJI, ER, YE]),\n(province:VARCHAR, Examples: [Somalia, Odisha, Thailand]),\n(meta_repcol:VARCHAR, Examples: [Red Sea, Gulf of Aden, Gulf of Bengal])\n]\n# Table: desert\n[\n(name:VARCHAR, Primary Key, Examples: [Arabian Desert, Aralkum, Atacama]),\n(area:NUMBER, Examples: [1200000.0, 95000.0, 70000.0]),\n(coordinates:NULL)\n]\n# Table: mondial_citypops\n[\n(city:VARCHAR, Examples: [Solingen, Ludwigshafen, Leipzig]),\n(country:VARCHAR, Examples: [D, H, I]),\n(province:VARCHAR, Examples: [Nordrhein-Westfalen, Rheinland-Pfalz, Bï¿½cs-Kiskun]),\n(year:NUMBER, Examples: [1987.0, 2011.0, 1992.0]),\n(population:NUMBER, Examples: [166865.0, 142365.0, 110708.0]),\n(meta_repcol:VARCHAR, Examples: [Solingen, Ludwigshafen, Leipzig])\n]\n# Table: mondial_encompasses\n[\n(country:VARCHAR, Examples: [AL, GR, MK]),\n(continent:VARCHAR, Examples: [Europe, Asia, Africa]),\n(percentage:NUMBER, Examples: [100.0, 25.0, 75.0]),\n(meta_repcol:VARCHAR, Examples: [AL, GR, MK])\n]\n# Table: mondial_cityothername\n[\n(city:VARCHAR, Examples: [Oporto, Cusco, Mardan]),\n(country:VARCHAR, Examples: [OM, P, PA]),\n(province:VARCHAR, Examples: [Oman, Evora, Madeira]),\n(othername:VARCHAR, Examples: [ï¿½vora, Santiago de Veraguas, Mardan]),\n(meta_repcol:VARCHAR, Examples: [ï¿½vora, Santiago de Veraguas, Mardan])\n]\n# Table: provinceothername\n[\n(province:VARCHAR, Primary Key, Examples: [Liï¿½ge]),\n(country:VARCHAR, Primary Key, Examples: [B, CO, E]),\n(othername:VARCHAR, Primary Key, Examples: [Luik])\n]\n# Table: mondial_politics\n[\n(country:VARCHAR, Examples: [SMAR, SBAR, CO]),\n(independence:DATE, Examples: [2010-07-20 00:00:00]),\n(wasdependent:VARCHAR, Examples: [E, GB, United Nations]),\n(dependent:VARCHAR, Examples: [F, USA, GB]),\n(government:VARCHAR),\n(meta_repcol:VARCHAR, Examples: [SMAR, SBAR, CO])\n]\n# Table: mountainonisland\n[\n(mountain:VARCHAR, Primary Key, Examples: [Aenos, Agung, Andringitra]),\n(island:VARCHAR, Primary Key, Examples: [Kefallinia, Bali, Madagaskar])\n]\n# Table: mondial_continent\n[\n(name:VARCHAR, Examples: [Europe, Asia, Australia/Oceania]),\n(area:NUMBER, Examples: [9938000, 44579000, 8600000]),\n(meta_repcol:VARCHAR, Examples: [Europe, Asia, Australia/Oceania])\n]\n# Table: mondial_provpops\n[\n(province:VARCHAR, Examples: [Amurskaya, Antwerpen, Brcko]),\n(country:VARCHAR, Examples: [R, B, NL]),\n(year:NUMBER, Examples: [2013.0, 2014.0, 2010.0]),\n(population:NUMBER, Examples: [172671.0, 156996.0, 1114042.0]),\n(meta_repcol:VARCHAR, Examples: [Amurskaya, Antwerpen, Brcko])\n]\n# Table: religion\n[\n(country:VARCHAR, Primary Key, Examples: [STP, BERM, AUS]),\n(name:VARCHAR, Primary Key, Examples: [Adventist]),\n(percentage:NUMBER, Examples: [58.5, 23.2, 0.9])\n]\n# Table: mondial_mergeswith\n[\n(sea1:VARCHAR, Examples: [Andaman Sea, Arabian Sea, Arafura Sea]),\n(sea2:VARCHAR, Examples: [Gulf of Bengal, Indian Ocean, Malakka Strait]),\n(meta_repcol:VARCHAR)\n]\n# Table: encompasses\n[\n(country:VARCHAR, Primary Key, Examples: [A, AFG, AG]),\n(continent:VARCHAR, Primary Key, Examples: [Europe, Asia, America]),\n(percentage:NUMBER, Examples: [100.0, 25.0, 75.0])\n]\n# Table: mondial_geo_lake\n[\n(lake:VARCHAR, Examples: [Lago Albano, Lago di Bolsena, Lago di Bracciano]),\n(country:VARCHAR, Examples: [I, R, Z]),\n(province:VARCHAR, Examples: [Lazio, Leningradskaya, Lombardia]),\n(meta_repcol:VARCHAR, Examples: [Lago Albano, Lago di Bolsena, Lago di Bracciano])\n]\n# Table: mondial_lake\n[\n(name:VARCHAR, Examples: [Lake Natron, Lake Malawi, Lake Chilwa]),\n(river:VARCHAR, Examples: [Shire, Fimi, Zaire]),\n(area:NUMBER, Examples: [1040.0, 29600.0, 687.0]),\n(elevation:NUMBER, Examples: [600.0, 474.0, 300.0]),\n(depth:NUMBER, Examples: [2.0, 704.0, 10.0]),\n(height:NUMBER, Examples: [235.0, 216.0, 221.0]),\n(type:VARCHAR, Examples: [saline, dam, impact]),\n(coordinates:NULL),\n(meta_repcol:VARCHAR, Examples: [Lake Natron, Lake Malawi, Lake Chilwa])\n]\n# Table: geo_river\n[\n(river:VARCHAR, Primary Key, Examples: [Aare, Limmat, Reuss]),\n(country:VARCHAR, Primary Key, Examples: [CH, CI, BR]),\n(province:VARCHAR, Primary Key, Examples: [Al Qunaytirah, Amurskaya, Antwerpen])\n]\n# Table: mondial_religion\n[\n(country:VARCHAR, Examples: [UA, R, B]),\n(name:VARCHAR, Examples: [Christian Orthodox]),\n(percentage:NUMBER, Examples: [83.5, 8.0, 2.2]),\n(meta_repcol:VARCHAR, Examples: [Christian Orthodox])\n]\n# Table: mondial_country\n[\n(name:VARCHAR, Examples: [Haiti, El Salvador, Honduras]),\n(code:VARCHAR, Examples: [RH, ES, HCA]),\n(capital:VARCHAR, Examples: [Port-au-Prince, San Salvador, Tegucigalpa]),\n(province:VARCHAR, Examples: [Haiti, El Salvador, Francisco Morazï¿½n]),\n(area:NUMBER, Examples: [27750.0, 21040.0, 112090.0]),\n(population:NUMBER, Examples: [9896400.0, 6290420.0, 8045990.0]),\n(meta_repcol:VARCHAR, Examples: [Haiti, El Salvador, Honduras])\n]\n# Table: airport\n[\n(iatacode:VARCHAR, Primary Key, Examples: [AAE, AAL, AAN]),\n(name:VARCHAR, Examples: [Wuxu]),\n(country:VARCHAR, Examples: [CN, XMAS, COCO]),\n(city:VARCHAR, Examples: [Yantai, Hefei, Nanyang]),\n(province:VARCHAR, Examples: [Guangdong, Xizang, Qinghai]),\n(island:VARCHAR, Examples: [Hainan, Zhoushan, Christmas Island]),\n(latitude:NUMBER, Examples: [39.124353, 22.608267, 37.1871]),\n(longitude:NUMBER, Examples: [123.918131, 118.862025, 105.393]),\n(elevation:NUMBER, Examples: [730.0, 44.0, 1895.0]),\n(gmtoffset:NUMBER, Examples: [8.0, 7.0, 6.5])\n]\n# Table: language\n[\n(country:VARCHAR, Primary Key, Examples: [AFG, NAM, AL]),\n(name:VARCHAR, Primary Key, Examples: [Afghan Persian, Afrikaans, Albanian]),\n(percentage:NUMBER, Examples: [98.8, 0.5, 99.0])\n]\n# Table: mondial_ethnicgroup\n[\n(country:VARCHAR, Examples: [ZW, BI, RWA]),\n(name:VARCHAR, Examples: [Shona, Ndebele, Chewa/Nyanja]),\n(percentage:NUMBER, Examples: [70.0, 20.0, 6.0]),\n(meta_repcol:VARCHAR, Examples: [Shona, Ndebele, Chewa/Nyanja])\n]\n# Table: mondial_organization\n[\n(abbreviation:VARCHAR, Examples: [CAEU, SELEC, CE]),\n(name:VARCHAR),\n(city:VARCHAR, Examples: [Amman, Bucuresti, Strasbourg]),\n(country:VARCHAR, Examples: [JOR, RO, F]),\n(province:VARCHAR, Examples: [Jordan, Bucuresti, Alsace]),\n(established:DATE, Examples: [1957-06-02 00:00:00]),\n(meta_repcol:VARCHAR)\n]\n# Table: mondial_economy\n[\n(country:VARCHAR, Examples: [TCH, GQ, G]),\n(gdp:NUMBER, Examples: [13590.0, 17080.0, 19970.0]),\n(agriculture:NUMBER, Examples: [46.3, 4.6, 3.6]),\n(service:NUMBER, Examples: [43.8, 8.1, 32.5]),\n(industry:NUMBER, Examples: [9.9, 87.3, 63.9]),\n(inflation:NUMBER, Examples: [4.5, 6.0, 1.2]),\n(unemployment:NUMBER, Examples: [22.3, 21.0, 20.0]),\n(meta_repcol:VARCHAR, Examples: [TCH, GQ, G])\n]\n# Table: mondial_mountain\n[\n(name:VARCHAR, Examples: [Saltoro Kangri, Nanda Devi, Annapurna]),\n(mountains:VARCHAR, Examples: [Karakorum, Himalaya, Transhimalaya]),\n(elevation:NUMBER, Examples: [7795.0, 8611.0, 8051.0]),\n(type:VARCHAR, Examples: [volcanic, volcano, granite]),\n(coordinates:NULL),\n(meta_repcol:VARCHAR, Examples: [Saltoro Kangri, Nanda Devi, Annapurna])\n]\n# Table: mondial_located\n[\n(city:VARCHAR, Examples: [Kingstown, Saipan, Barra Mansa]),\n(province:VARCHAR, Examples: [Haiti, Atlï¿½ntida, Victoria]),\n(country:VARCHAR, Examples: [USA, NIC, PA]),\n(river:VARCHAR, Examples: [Potomac River, Murrumbidgee River, Paraguay]),\n(lake:VARCHAR, Examples: [Lake Nicaragua, Lake Burley Griffin, Lake M

In [21]:
query_chain  = create_sql_query_chain(ChatOpenAI(temperature=0, model_name='gpt-3.5-turbo-16k'), db.db, prompt=PROMPT)
query_chain

RunnableAssign(mapper={
  input: RunnableLambda(...),
  table_info: RunnableLambda(...)
})
| RunnableLambda(lambda x: {k: v for k, v in x.items() if k not in ('question', 'table_names_to_use')})

In [22]:
json_file_path = f"../../datasets/{PREFIX}/queries_{PREFIX}.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    queries = json.load(json_data, strict=False)
queries = queries['queries']
queries

[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': '',
  'type': 'simple'},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': '',
  'type': 'simple'},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': '',
  'type': 'medium'},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': '',
  'type': 'simple'},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': '',
  'type': 'complex'},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': '',
  'type': 'complex'},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': '',
  'type': 'medium'},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': '',
  'type': 'complex'},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': '',
  'type': 'medium'},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': '',
  'type': 'medium'},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': '',
  'type': 'complex'},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': '',
  'type': 'medium'},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': '',
  'type': 'medium'},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': '',
  'type': 'medium'},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': '',
  'type': 'medium'},
 {'id': '16',
  'question': 'Show the cities with longitude between 0 and 6.',
  'query_string': '',
  'type': 'simple'},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': '',
  'type': 'complex'},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': '',
  'type': 'simple'},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': '',
  'type': 'medium'},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query_string': '',
  'type': 'complex'},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query_string': '',
  'type': 'simple'},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query_string': '',
  'type': 'complex'},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the Caribbean Sea?',
  'query_string': '',
  'type': 'medium'},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query_string': '',
  'type': 'complex'},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query_string': '',
  'type': 'medium'},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',
  'query_string': '',
  'type': 'simple'},
 {'id': '27',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query_string': '',
  'type': 'simple'},
 {'id': '28',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query_string': '',
  'type': 'complex'},
 {'id': '29',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query_string': '',
  'type': 'complex'},
 {'id': '30',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query_string': '',
  'type': 'complex'},
 {'id': '31',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query_string': '',
  'type': 'medium'},
 {'id': '32',
  'question': 'What is the area and country of the Chatanga River?',
  'query_string': '',
  'type': 'simple'},
 {'id': '33',
  'question': 'Show the Airports with elevation more than 3000',
  'query_string': '',
  'type': 'simple'},
 {'id': '34',
  'question': 'What are the religions practiced in Mexico?',
  'query_string': '',
  'type': 'medium'},
 {'id': '35',
  'question': 'Show all rivers that do not flow into the sea.',
  'query_string': '',
  'type': 'medium'},
 {'id': '36',
  'question': 'List African countries by number of neighbors.',
  'query_string': '',
  'type': 'complex'},
 {'id': '37',
  'question': 'What is the average infant mortality rate for each continent?',
  'query_string': '',
  'type': 'simple'},
 {'id': '38',
  'question': 'What is the average mortality rate of the countries in America without considering Brazil?',
  'query_string': '',
  'type': 'complex'},
 {'id': '39',
  'question': 'List seas with area greater than 8000 and depth less than 100.',
  'query_string': '',
  'type': 'simple'},
 {'id': '40',
  'question': 'How many mountains are there in Asia?',
  'query_string': '',
  'type': 'complex'},
 {'id': '41',
  'question': 'How many countries that are close to the Mediterranean Sea?',
  'query_string': '',
  'type': 'complex'},
 {'id': '42',
  'question': 'Show the total for each type of government.',
  'query_string': '',
  'type': 'simple'},
 {'id': '43',
  'question': 'Which province has the largest desert in the world?',
  'query_string': '',
  'type': 'simple'},
 {'id': '44',
  'question': 'What is the largest desert in the world?',
  'query_string': '',
  'type': 'simple'},
 {'id': '45',
  'question': 'List, for all continents, the amount of deserts on each.',
  'query_string': '',
  'type': 'complex'},
 {'id': '46',
  'question': 'What are the neighboring seas of the Banda Sea?',
  'query_string': '',
  'type': 'medium'},
 {'id': '47',
  'question': 'List all the capitals of European countries.',
  'query_string': '',
  'type': 'medium'},
 {'id': '48',
  'question': 'What percentage of people speak French in Andorra?',
  'query_string': '',
  'type': 'complex'},
 {'id': '49',
  'question': 'Which rivers are longer than 1000 kilometers?',
  'query_string': '',
  'type': 'complex'},
 {'id': '50',
  'question': 'Which country had the lowest population growth?',
  'query_string': '',
  'type': 'simple'},
 {'id': '51',
  'question': 'List the name of capital cities for which we do not have data about the city in located',
  'query_string': '',
  'type': 'complex'},
 {'id': '52',
  'question': 'What is the capital of the provice Andalucía?',
  'query_string': '',
  'type': 'simple'},
 {'id': '53',
  'question': 'What is the abbreviation for the organization whose name is "General Confederation of Trade Unions"?',
  'query_string': '',
  'type': 'simple'},
 {'id': '54',
  'question': 'In which city is the organization with the abbreviation "UPU" ?',
  'query_string': '',
  'type': 'simple'},
 {'id': '55',
  'question': 'List the names of countries which are members of only one organization',
  'query_string': '',
  'type': 'complex'},
 {'id': '56',
  'question': 'List the name of countries which are not a member of NATO.',
  'query_string': '',
  'type': 'complex'},
 {'id': '57',
  'question': 'List the name of countries which are a member of NATO.',
  'query_string': '',
  'type': 'medium'},
 {'id': '58',
  'question': 'List the rivers with length less than 50',
  'query_string': '',
  'type': 'simple'},
 {'id': '59',
  'question': 'What are the area, elevation and type of lakes in country Italy?',
  'query_string': '',
  'type': 'simple'},
 {'id': '60',
  'question': ' List the names of capital cities which are the base for organizations in alphabetical order',
  'query_string': '',
  'type': 'complex'},
 {'id': '61',
  'question': 'List the name of organizations that do not have countries with an area smaller than 4000 and of the member type',
  'query_string': '',
  'type': 'complex'},
 {'id': '62',
  'question': 'List the name of organizations that do not have countries with  an area greater than 10000 and population smaller than 3000 and of the member type',
  'query_string': '',
  'type': 'complex'},
 {'id': '63',
  'question': 'Show the inflation rate of countries that are washed by the Arabian Sea',
  'query_string': '',
  'type': 'complex'},
 {'id': '64',
  'question': 'List all the capitals of the countries that belong to the continent Africa?',
  'query_string': '',
  'type': 'medium'},
 {'id': '65',
  'question': 'Show the inflation rate of the countries bathed by the Arabian Sea and there is no inflation with null value',
  'query_string': '',
  'type': 'complex'},
 {'id': '66',
  'question': 'How many countries are in Africa?',
  'query_string': '',
  'type': 'complex'},
 {'id': '67',
  'question': 'List the name of countries that are not members of NATO and UNESCO',
  'query_string': '',
  'type': 'complex'},
 {'id': '68',
  'question': 'What is the area of the continent Europe?',
  'query_string': '',
  'type': 'simple'},
 {'id': '69',
  'question': 'What is the area of continent America?',
  'query_string': '',
  'type': 'simple'},
 {'id': '70',
  'question': 'What is the area of continent Asia?',
  'query_string': '',
  'type': 'simple'},
 {'id': '71',
  'question': 'What is the area of Africa?',
  'query_string': '',
  'type': 'simple'},
 {'id': '72',
  'question': 'How many countries are in America?',
  'query_string': '',
  'type': 'complex'},
 {'id': '73',
  'question': 'What area is the largest continent?',
  'query_string': '',
  'type': 'medium'},
 {'id': '74',
  'question': 'List the countries that belong to the continent with the largest area',
  'query_string': '',
  'type': 'complex'},
 {'id': '75',
  'question': 'List the countries that belong to the continent with the largest area and whose language is English',
  'query_string': '',
  'type': 'complex'},
 {'id': '76',
  'question': 'List the names of cities, along with the name of their country for cities with a population greater than 5 million.  Display the results in descending order by population.',
  'query_string': '',
  'type': 'medium'},
 {'id': '77',
  'question': 'Show the name of the deserts in the province of Algeria',
  'query_string': '',
  'type': 'simple'},
 {'id': '78',
  'question': 'Show the name and area of the deserts in the province of California',
  'query_string': '',
  'type': 'simple'},
 {'id': '79',
  'question': 'List the country names and percentage of use of language where  French are used as languages.',
  'query_string': '',
  'type': 'simple'},
 {'id': '80',
  'question': 'What are the cities where �Portuguese� is spoken?',
  'query_string': '',
  'type': 'medium'},
 {'id': '81',
  'question': 'What is the total area of the provinces in Canada?',
  'query_string': '',
  'type': 'complex'},
 {'id': '82',
  'question': 'What is the length of the Tigris River?',
  'query_string': '',
  'type': 'simple'},
 {'id': '83',
  'question': 'List the Airports with elevation more than 1000',
  'query_string': '',
  'type': 'medium'},
 {'id': '84',
  'question': 'List airports in the United States with an elevation below 200 feet',
  'query_string': '',
  'type': 'complex'},
 {'id': '85',
  'question': 'What are the mountains with altitudes above 8000 meters?',
  'query_string': '',
  'type': 'medium'},
 {'id': '86',
  'question': 'What are the 3 airports with the largest name?',
  'query_string': '',
  'type': 'simple'},
 {'id': '87',
  'question': 'List lakes with an area of less than 5000 square kilometers.',
  'query_string': '',
  'type': 'medium'},
 {'id': '88',
  'question': 'What is the total area of the seas with a depth greater than 1000 meters?',
  'query_string': '',
  'type': 'medium'},
 {'id': '89',
  'question': 'Find the countries whose name starts with the letter "B" and have a population greater than 10 million',
  'query_string': '',
  'type': 'complex'},
 {'id': '90',
  'question': 'List cities with another name in Brazil',
  'query_string': '',
  'type': 'medium'},
 {'id': '91',
  'question': 'List all cities that are at a latitude greater than 45 degrees.',
  'query_string': '',
  'type': 'medium'},
 {'id': '92',
  'question': 'Show the number of cities with another name in countries with an area greater than 30000',
  'query_string': '',
  'type': 'medium'},
 {'id': '93',
  'question': 'Show the deserts with area greater than 10000',
  'query_string': '',
  'type': 'simple'},
 {'id': '94',
  'question': 'List the islands that belong to a lake with an elevation greater than 100',
  'query_string': '',
  'type': 'simple'},
 {'id': '95',
  'question': 'List all mountains located on islands with an area greater than 100,000 square kilometers',
  'query_string': '',
  'type': 'medium'},
 {'id': '96',
  'question': 'List the countries and the sum of their provincial areas.',
  'query_string': '',
  'type': 'simple'},
 {'id': '97',
  'question': 'Show the name of the countries, the average elevation and sum of the population of their cities',
  'query_string': '',
  'type': 'medium'},
 {'id': '98',
  'question': "What was Germany's inflation?",
  'query_string': '',
  'type': 'medium'},
 {'id': '99',
  'question': 'What type of government is Iran?',
  'query_string': '',
  'type': 'medium'},
 {'id': '100',
  'question': "What is the percentage of industries in relation to Japan's economy?",
  'query_string': '',
  'type': 'medium'}]

In [23]:
with get_openai_callback() as cb:
    sql_query = query_chain.invoke({"question":"What are the provinces with an area more than 10000?"})
    
    print(cb.total_tokens)
    print(cb.prompt_tokens)
    print(cb.completion_tokens)
    print(cb.total_cost)
sql_query

c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\venv\Lib\site-packages\langchain_community\utilities\sql_database.py:317: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "lake, river", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  metadata_table_names = [tbl.name for tbl in self._metadata.sorted_tables]
c:\Users\Tahsin\Desktop\Uni\COSC\Directed Studies\TextToSQL\venv\Lib\site-packages\langchain_community\utilities\sql_database.py:329: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "lake, river", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  for tbl in self._metadata.sorted_tables

15629
15617
12
0.046899

'SELECT name \nFROM province \nWHERE area > 10000'

In [24]:
import warnings
from sqlalchemy import exc

# Suppress SAWarning
warnings.filterwarnings("ignore", category=exc.SAWarning, message=".*Cannot correctly sort tables.*")

number_of_queries_to_delay = 25
count = 0
for instance in queries:
    if count == number_of_queries_to_delay:
        count = 0
        time.sleep(10)
    with get_openai_callback() as cb:
        start_time = time.time()
        sql_query = query_chain.invoke({"question":instance["question"]})
        end_time = time.time()
        instance["query_string"] = sql_query
        instance['total_tokens'] = cb.total_tokens
        instance['prompt_tokens'] = cb.prompt_tokens
        instance['completion_tokens'] = cb.completion_tokens
        instance['total_cost'] = cb.total_cost
        instance['time'] = end_time - start_time
        print(instance['id'], instance['question'], instance["query_string"], instance['time'], instance['total_cost'])
    save_queries(queries)
    count += 1
queries

1 What is the area of Thailand? SELECT area FROM country WHERE name = 'Thailand' 1.449566125869751 0.046877
2 What are the provinces with an area greater than 10000? SELECT name
FROM province
WHERE area > 10000 1.618485927581787 0.046899
3 What are the languages spoken in Poland? SELECT name
FROM language
WHERE country = 'PL' 1.1005311012268066 0.046884
4 How deep is Lake Kariba? SELECT depth FROM lake WHERE name = 'Lake Kariba' 0.9672372341156006 0.046881
5 What is the total of provinces of Netherlands? SELECT COUNT(*) FROM province WHERE country = 'NL' 1.389159917831421 0.046883
6 What is the percentage of religious people are hindu in thailand? SELECT percentage
FROM religion
WHERE country = 'TH' AND name = 'Hindu' 1.2618157863616943 0.046934
7 List the number of provinces each river flows through. SELECT river.name, COUNT(DISTINCT located.province) AS num_provinces
FROM river
JOIN located ON river.name = located.river
GROUP BY river.name
ORDER BY num_provinces DESC 1.6366322040557861 0.047006
8 Find all countries that became independent between 8/1/1910 and 8/1/1950. SELECT name
FROM politics
WHERE independence BETWEEN TO_DATE('8/1/1910', 'MM/DD/YYYY') AND TO_DATE('8/1/1950', 'MM/DD/YYYY') 1.0209219455718994 0.047041000000000006
9 What are the cities of Cuba? SELECT name FROM city WHERE country = 'CUB' 1.058518409729004 0.046877
10 What is the capital of Georgia? SELECT capital FROM country WHERE name = 'Georgia' 0.9665038585662842 0.046873
11 How many provinces have areas greater than 1000 in Niger? SELECT COUNT(*)
FROM province
WHERE country = 'NG' AND area > 1000 1.8221189975738525 0.046927
12 Tell me about the country with the area largest. SELECT name, area
FROM country
ORDER BY area DESC
FETCH FIRST 1 ROWS ONLY; 1.0811827182769775 0.046926
13 What is the host province and year of establishment of the organization "International Energy Agency"? SELECT province, established
FROM organization
WHERE name = 'International Energy Agency' 1.1326355934143066 0.04693
14 Find the name of all mountains whose elevation is higher than 1000. SELECT name
FROM mountain
WHERE elevation > 1000 1.0145561695098877 0.046905
15 Tell me the economy of the Caribbean Sea. SELECT * FROM economy WHERE country IN (SELECT country FROM sea WHERE name = 'Caribbean Sea') 1.0896942615509033 0.046918999999999995
16 Show the cities with longitude between 0 and 6. SELECT name, longitude
FROM city
WHERE longitude BETWEEN 0 AND 6 1.148512601852417 0.046912
17 Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1. SELECT city.name
FROM city
JOIN country ON city.country = country.code
WHERE city.population > 100000
AND city.elevation > 2500
AND country.population_growth > 1 1.0517702102661133 0.047068
18 Show all the different types of government. SELECT DISTINCT government FROM politics 4.399996280670166 0.046856
19 List all provinces in Germany SELECT name
FROM province
WHERE country = 'D' 4.424761533737183 0.046877999999999996
20 What is the percentage of mulatto ethnicity in Brazil? SELECT percentage
FROM ethnicgroup
WHERE country = 'BR' AND name = 'Mulatto' 4.768844366073608 0.046925
21 How many cities have populations less than 1000? SELECT COUNT(*) FROM city WHERE population < 1000 5.494422912597656 0.04688900000000001
22 What is the average elevation of airports in America? SELECT AVG(elevation) FROM airport WHERE country = 'USA' 4.046313047409058 0.046894000000000005
23 How many countries are adjacent to (or ecompassed by) the Caribbean Sea? SELECT COUNT(*)
FROM encompasses
WHERE continent = 'America' AND percentage > 0 4.439403533935547 0.046935000000000004
24 How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total? SELECT SUM(c.area)
FROM country c
JOIN encompasses e ON c.code = e.country
JOIN sea s ON e.continent = s.name
WHERE s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea'
OR s.name = 'Car 14.316210269927979 0.049917
25 For all countries, give the sum of the population of all its neighbors SELECT c1.name AS country, SUM(c2.population) AS total_population
FROM country c1
JOIN borders b ON c1.code = b.country1
JOIN country c2 ON b.country2 = c2.code
GROUP BY c1.name
ORDER BY c1.name ASC 1.5634479522705078 0.047093
26 What mountains are on the island of Borneo? SELECT mountain
FROM mondial_mountainonisland
WHERE island = 'Borneo' 1.0018951892852783 0.046921000000000004
27 Provide the name and total population of the country with the smallest area. SELECT name, population
FROM country
WHERE area = (SELECT MIN(area) FROM country) 1.1086318492889404 0.04693
28 The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country. SELECT DISTINCT c.code
FROM country c
JOIN river r ON c.code = r.country
JOIN geo_estuary ge ON r.name = ge.river
JOIN country nc ON ge.country = nc.code
WHERE c.code <> nc.code
ORDER BY c.code 1.664708137512207 0.047098999999999995
29 The codes of all countries where at least one mountain is located in each of their provinces SELECT DISTINCT c.code
FROM country c
JOIN province p ON c.code = p.country
JOIN geo_mountain gm ON p.name = gm.province AND c.code = gm.country
GROUP BY c.code
HAVING COUNT(DISTINCT p.name) = (SELECT COUNT(DISTINCT province) FROM geo_mountain)
ORDER BY c.code ASC 1.7895534038543701 0.04715
30 The code and total border lengths of all countries with at least one border. SELECT country.code, SUM(borders.length) AS total_border_length
FROM country
JOIN borders ON country.code = borders.country1
GROUP BY country.code
ORDER BY total_border_length DESC 2.235713005065918 0.047009
31 The names and codes of all countries in which at least one river originates. SELECT DISTINCT country.name, country.code
FROM country
JOIN river ON country.code = river.country
WHERE river.source IS NOT NULL
ORDER BY country.name ASC 5.187236785888672 0.046985000000000006
32 What is the area and country of the Chatanga River? SELECT area, country
FROM river
WHERE name = 'Chatanga' 3.8846187591552734 0.046908
33 Show the Airports with elevation more than 3000 SELECT name, elevation
FROM airport
WHERE elevation > 3000 6.238069772720337 0.046904
34 What are the religions practiced in Mexico? SELECT name FROM religion WHERE country = 'MEX' 3.077162027359009 0.046880000000000005
35 Show all rivers that do not flow into the sea. SELECT name
FROM river
WHERE sea IS NULL 6.887010097503662 0.046885
36 List African countries by number of neighbors. SELECT c.name, COUNT(b.country2) AS num_neighbors
FROM country c
JOIN borders b ON c.code = b.country1
WHERE c.continent = 'Africa'
GROUP BY c.name
ORDER BY num_neighbors DESC; 3.0899558067321777 0.047024
37 What is the average infant mortality rate for each continent? SELECT continent.name, AVG(population.infant_mortality) AS average_infant_mortality
FROM continent
JOIN country ON continent.name = encompasses.continent
JOIN population ON country.code = population.country
GROUP BY continent.name 4.250923156738281 0.047025000000000004
38 What is the average mortality rate of the countries in America without considering Brazil? SELECT AVG(population.infant_mortality)
FROM population
JOIN country ON population.country = country.code
JOIN encompasses ON country.code = encompasses.country
JOIN continent ON encompasses.continent = continent.name
WHERE continent.name = 'America' AND country.name != 'Brazil' 4.984719514846802 0.047077
39 List seas with area greater than 8000 and depth less than 100. SELECT name
FROM sea
WHERE area > 8000 AND depth < 100 4.0695884227752686 0.046928
40 How many mountains are there in Asia? SELECT COUNT(*) FROM mondial_geo_mountain WHERE country = 'AS' 5.021842002868652 0.046896
41 How many countries that are close to the Mediterranean Sea? SELECT COUNT(*)
FROM encompasses
WHERE continent = 'Europe' AND percentage > 0 4.3276660442352295 0.04691700000000001
42 Show the total for each type of government. SELECT government, COUNT(*) AS total
FROM politics
GROUP BY government 4.575848817825317 0.046895
43 Which province has the largest desert in the world? SELECT province
FROM mondial_geo_desert
WHERE area = (SELECT MAX(area) FROM mondial_geo_desert) 4.799830198287964 0.046942000000000005
44 What is the largest desert in the world? SELECT name, area FROM desert ORDER BY area DESC 4.830659866333008 0.046879
45 List, for all continents, the amount of deserts on each. SELECT continent.name, COUNT(desert.name) AS desert_count
FROM continent
JOIN mondial_geo_desert ON continent.name = mondial_geo_desert.continent
GROUP BY continent.name
ORDER BY desert_count DESC; 4.768035650253296 0.047034
46 What are the neighboring seas of the Banda Sea? SELECT sea2
FROM mergeswith
WHERE sea1 = 'Banda Sea' 4.741013526916504 0.046913
47 List all the capitals of European countries. SELECT country.capital
FROM country
JOIN continent ON encompasses.country = country.code
WHERE continent.name = 'Europe'
Answer: The capitals of European countries are [Tirana, Andorra la Vella, Yerevan, Vienna, Baku, Minsk, Brussels, Sarajevo, Sofia, Zagreb, Nicosia, Prague, Copenhagen, Tallinn, Helsinki, Paris, Tbilisi, Berlin, Athens, Budapest, Reykjavik, Dublin, Rome, Astana, Pristina, Riga, Vaduz, Vilnius, Luxembourg, Skopje, Valletta, Chisinau, Monaco, Podgorica, Amsterdam, Oslo, Warsaw, Lisbon, Bucharest, Moscow, San Marino, Belgrade, Bratislava, Ljubljana, Madrid, Stockholm, Bern, Ankara, Kyiv, London, Vatican City] 6.9469850063323975 0.047572
48 What percentage of people speak French in Andorra? SELECT percentage
FROM language
WHERE country = 'AND' AND name = 'French' 2.139031410217285 0.046914000000000004
49 Which rivers are longer than 1000 kilometers? SELECT name
FROM river
WHERE length > 1000 4.684114456176758 0.04689
50 Which country had the lowest population growth? SELECT country
FROM population
WHERE population_growth = (SELECT MIN(population_growth) FROM population) 4.709052324295044 0.046916
51 List the name of capital cities for which we do not have data about the city in located SELECT c.capital
FROM country c
LEFT JOIN located l ON c.capital = l.city
WHERE l.city IS NULL 1.3946082592010498 0.046973
52 What is the capital of the provice Andalucía? SELECT capital
FROM province
WHERE name = 'Andalucía' 1.205965518951416 0.046911
53 What is the abbreviation for the organization whose name is "General Confederation of Trade Unions"? SELECT abbreviation
FROM organization
WHERE name = 'General Confederation of Trade Unions' 1.4198102951049805 0.04694400000000001
54 In which city is the organization with the abbreviation "UPU" ? SELECT city.name
FROM city
JOIN organization ON city.name = organization.city
WHERE organization.abbreviation = 'UPU' 5.243889570236206 0.046954
55 List the names of countries which are members of only one organization SELECT country.name
FROM country
JOIN ismember ON country.code = ismember.country
GROUP BY country.name
HAVING COUNT(ismember.organization) = 1 4.844009637832642 0.046987
56 List the name of countries which are not a member of NATO. SELECT name
FROM country
WHERE code NOT IN (SELECT country
                   FROM ismember
                   WHERE organization = 'NATO') 4.441406965255737 0.046959
57 List the name of countries which are a member of NATO. SELECT name
FROM country
WHERE code IN (
    SELECT country
    FROM ismember
    WHERE organization = 'NATO'
) 4.572062253952026 0.04696
58 List the rivers with length less than 50 SELECT name
FROM river
WHERE length < 50 4.56525444984436 0.046886000000000004
59 What are the area, elevation and type of lakes in country Italy? SELECT name, area, elevation, type
FROM lake
WHERE country = 'I' 4.51643967628479 0.046926
60  List the names of capital cities which are the base for organizations in alphabetical order SELECT city.name
FROM city
JOIN organization ON city.name = organization.city
ORDER BY city.name ASC 4.700378179550171 0.046947
61 List the name of organizations that do not have countries with an area smaller than 4000 and of the member type SELECT abbreviation, name
FROM organization
WHERE abbreviation NOT IN (
    SELECT organization
    FROM ismember
    WHERE country IN (
        SELECT code
        FROM country
        WHERE area < 4000
    )
)
AND abbreviation IN (
    SELECT organization
    FROM ismember
    WHERE type = 'member'
) 5.137099742889404 0.047152
62 List the name of organizations that do not have countries with  an area greater than 10000 and population smaller than 3000 and of the member type SELECT abbreviation, name
FROM organization
WHERE abbreviation NOT IN (
    SELECT organization
    FROM ismember
    WHERE country IN (
        SELECT code
        FROM country
        WHERE area > 10000 AND population < 3000
    )
)
AND type = 'member' 4.6801605224609375 0.04714
63 Show the inflation rate of countries that are washed by the Arabian Sea SELECT country.name, economy.inflation
FROM country
JOIN economy ON country.code = economy.country
JOIN geo_sea ON country.code = geo_sea.country
WHERE geo_sea.sea = 'Arabian Sea' 5.690108776092529 0.047037999999999996
64 List all the capitals of the countries that belong to the continent Africa? SELECT country.capital
FROM country
JOIN encompasses ON country.code = encompasses.country
JOIN continent ON encompasses.continent = continent.name
WHERE continent.name = 'Africa'
Answer: The capitals of the countries that belong to the continent Africa are: Abuja, Algiers, Luanda, Porto-Novo, Gaborone, Ouagadougou, Bujumbura, Yaounde, Praia, Bangui, N'Djamena, Moroni, Kinshasa, Djibouti, Cairo, Malabo, Asmara, Addis Ababa, Libreville, Banjul, Accra, Conakry, Bissau, Nairobi, Maseru, Monrovia, Tripoli, Antananarivo, Lilongwe, Bamako, Nouakchott, Port Louis, Rabat, Maputo, Windhoek, Niamey, Abuja, Kigali, Sao Tome, Dakar, Victoria, Freetown, Mogadishu, Pretoria, Juba, Khartoum, Mbabane, Dodoma, Lome, Tunis, Kampala, Lusaka, Harare. 6.895574331283569 0.047818
65 Show the inflation rate of the countries bathed by the Arabian Sea and there is no inflation with null value SELECT country.name, economy.inflation
FROM country
JOIN economy ON country.code = economy.country
JOIN geo_sea ON country.code = geo_sea.country
WHERE geo_sea.sea = 'Arabian Sea' AND economy.inflation IS NOT NULL 1.4991190433502197 0.04708999999999999
66 How many countries are in Africa? SELECT COUNT(*) FROM continent WHERE name = 'Africa' 5.124475717544556 0.046877
67 List the name of countries that are not members of NATO and UNESCO SELECT name
FROM country
WHERE code NOT IN (SELECT country
                   FROM ismember
                   WHERE organization IN ('NATO', 'UNESCO')) 5.020555734634399 0.046978
68 What is the area of the continent Europe? SELECT area FROM continent WHERE name = 'Europe' 3.4798290729522705 0.046879
69 What is the area of continent America? SELECT area FROM continent WHERE name = 'America' 4.961827754974365 0.046876
70 What is the area of continent Asia? SELECT area FROM continent WHERE name = 'Asia' 4.544373273849487 0.046876
71 What is the area of Africa? SELECT area FROM continent WHERE name = 'Africa' 4.778607130050659 0.046873
72 How many countries are in America? SELECT COUNT(*) FROM encompasses WHERE continent = 'America' 4.836225986480713 0.046877
73 What area is the largest continent? SELECT area FROM continent ORDER BY area DESC LIMIT 1 4.591137647628784 0.046877
74 List the countries that belong to the continent with the largest area SELECT c.name
FROM country c
JOIN encompasses e ON c.code = e.country
JOIN continent co ON e.continent = co.name
WHERE co.area = (SELECT MAX(area) FROM continent) 5.213446617126465 0.047015
75 List the countries that belong to the continent with the largest area and whose language is English SELECT c.name
FROM country c
JOIN encompasses e ON c.code = e.country
JOIN continent co ON e.continent = co.name
JOIN language l ON c.code = l.country
WHERE co.area = (SELECT MAX(area) FROM continent)
AND l.name = 'English' 4.864464521408081 0.047102
76 List the names of cities, along with the name of their country for cities with a population greater than 5 million.  Display the results in descending order by population. SELECT city.name, country.name
FROM city
JOIN country ON city.country = country.code
WHERE city.population > 5000000
ORDER BY city.population DESC 2.1418235301971436 0.047049999999999995
77 Show the name of the deserts in the province of Algeria SELECT desert.name
FROM mondial_desert desert
JOIN geo_desert geo ON desert.name = geo.desert
WHERE geo.country = 'DZ' 0.9649186134338379 0.04697900000000001
78 Show the name and area of the deserts in the province of California SELECT d.name, d.area
FROM desert d
JOIN geo_desert gd ON d.name = gd.desert
JOIN province p ON gd.province = p.name AND gd.country = p.country
WHERE p.name = 'California' 2.0227785110473633 0.047049
79 List the country names and percentage of use of language where  French are used as languages. SELECT country.name, language.percentage
FROM country
JOIN language ON country.code = language.country
WHERE language.name = 'French' 3.9872183799743652 0.046973999999999995
80 What are the cities where �Portuguese� is spoken? SELECT city.name
FROM city
JOIN language ON city.country = language.country
WHERE language.name = 'Portuguese' 4.458108901977539 0.04695100000000001
81 What is the total area of the provinces in Canada? SELECT SUM(area) FROM province WHERE country = 'CAN' 3.5975382328033447 0.046893000000000004
82 What is the length of the Tigris River? SELECT length
FROM river
WHERE name = 'Tigris' 4.720354795455933 0.046901000000000005
83 List the Airports with elevation more than 1000 SELECT name, elevation
FROM airport
WHERE elevation > 1000 4.645780801773071 0.046904
84 List airports in the United States with an elevation below 200 feet SELECT name, elevation
FROM airport

[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query_string': "SELECT area FROM country WHERE name = 'Thailand'",
  'type': 'simple',
  'total_tokens': 15622,
  'prompt_tokens': 15611,
  'completion_tokens': 11,
  'total_cost': 0.046877,
  'time': 1.449566125869751},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query_string': 'SELECT name \nFROM province \nWHERE area > 10000',
  'type': 'simple',
  'total_tokens': 15629,
  'prompt_tokens': 15617,
  'completion_tokens': 12,
  'total_cost': 0.046899,
  'time': 1.618485927581787},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query_string': "SELECT name\nFROM language\nWHERE country = 'PL'",
  'type': 'medium',
  'total_tokens': 15624,
  'prompt_tokens': 15612,
  'completion_tokens': 12,
  'total_cost': 0.046884,
  'time': 1.1005311012268066},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query_string': "SELECT depth FROM lake WHERE name = 'Lake Kariba'",
  'type': 'simple',
  'total_tokens': 15623,
  'prompt_tokens': 15611,
  'completion_tokens': 12,
  'total_cost': 0.046881,
  'time': 0.9672372341156006},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query_string': "SELECT COUNT(*) FROM province WHERE country = 'NL'",
  'type': 'complex',
  'total_tokens': 15624,
  'prompt_tokens': 15613,
  'completion_tokens': 11,
  'total_cost': 0.046883,
  'time': 1.389159917831421},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query_string': "SELECT percentage\nFROM religion\nWHERE country = 'TH' AND name = 'Hindu'",
  'type': 'complex',
  'total_tokens': 15638,
  'prompt_tokens': 15618,
  'completion_tokens': 20,
  'total_cost': 0.046934,
  'time': 1.2618157863616943},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query_string': 'SELECT river.name, COUNT(DISTINCT located.province) AS num_provinces\nFROM river\nJOIN located ON river.name = located.river\nGROUP BY river.name\nORDER BY num_provinces DESC',
  'type': 'medium',
  'total_tokens': 15655,
  'prompt_tokens': 15614,
  'completion_tokens': 41,
  'total_cost': 0.047006,
  'time': 1.6366322040557861},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query_string': "SELECT name\nFROM politics\nWHERE independence BETWEEN TO_DATE('8/1/1910', 'MM/DD/YYYY') AND TO_DATE('8/1/1950', 'MM/DD/YYYY')",
  'type': 'complex',
  'total_tokens': 15667,
  'prompt_tokens': 15627,
  'completion_tokens': 40,
  'total_cost': 0.047041000000000006,
  'time': 1.0209219455718994},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query_string': "SELECT name FROM city WHERE country = 'CUB'",
  'type': 'medium',
  'total_tokens': 15622,
  'prompt_tokens': 15611,
  'completion_tokens': 11,
  'total_cost': 0.046877,
  'time': 1.058518409729004},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query_string': "SELECT capital FROM country WHERE name = 'Georgia'",
  'type': 'medium',
  'total_tokens': 15621,
  'prompt_tokens': 15611,
  'completion_tokens': 10,
  'total_cost': 0.046873,
  'time': 0.9665038585662842},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query_string': "SELECT COUNT(*) \nFROM province \nWHERE country = 'NG' AND area > 1000",
  'type': 'complex',
  'total_tokens': 15636,
  'prompt_tokens': 15617,
  'completion_tokens': 19,
  'total_cost': 0.046927,
  'time': 1.8221189975738525},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query_string': 'SELECT name, area\nFROM country\nORDER BY area DESC\nFETCH FIRST 1 ROWS ONLY;',
  'type': 'medium',
  'total_tokens': 15635,
  'prompt_tokens': 15614,
  'completion_tokens': 21,
  'total_cost': 0.046926,
  'time': 1.0811827182769775},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query_string': "SELECT province, established\nFROM organization\nWHERE name = 'International Energy Agency'",
  'type': 'medium',
  'total_tokens': 15638,
  'prompt_tokens': 15622,
  'completion_tokens': 16,
  'total_cost': 0.04693,
  'time': 1.1326355934143066},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query_string': 'SELECT name\nFROM mountain\nWHERE elevation > 1000',
  'type': 'medium',
  'total_tokens': 15631,
  'prompt_tokens': 15619,
  'completion_tokens': 12,
  'total_cost': 0.046905,
  'time': 1.0145561695098877},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query_string': "SELECT * FROM economy WHERE country IN (SELECT country FROM sea WHERE name = 'Caribbean Sea')",
  'type': 'medium',
  'total_tokens': 15633,
  'prompt_tokens': 15613,
  'completion_tokens': 20,
  'total_cost': 0.046918999999999995,
  'time': 1.0896942615509033},
 {'id': '16',
  'question': 'Show the cities with longitude between 0 and 6.',
  'query_string': 'SELECT name, longitude\nFROM city\nWHERE longitude BETWEEN 0 AND 6',
  'type': 'simple',
  'total_tokens': 15632,
  'prompt_tokens': 15616,
  'completion_tokens': 16,
  'total_cost': 0.046912,
  'time': 1.148512601852417},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query_string': 'SELECT city.name \nFROM city \nJOIN country ON city.country = country.code \nWHERE city.population > 100000 \nAND city.elevation > 2500 \nAND country.population_growth > 1',
  'type': 'complex',
  'total_tokens': 15676,
  'prompt_tokens': 15636,
  'completion_tokens': 40,
  'total_cost': 0.047068,
  'time': 1.0517702102661133},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query_string': 'SELECT DISTINCT government FROM politics',
  'type': 'simple',
  'total_tokens': 15617,
  'prompt_tokens': 15612,
  'completion_tokens': 5,
  'total_cost': 0.046856,
  'time': 4.399996280670166},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query_string': "SELECT name \nFROM province \nWHERE country = 'D'",
  'type': 'medium',
  'total_tokens': 15622,
  'prompt_tokens': 15610,
  'completion_tokens': 12,
  'total_cost': 0.046877999999999996,
  'time': 4.424761533737183},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query_string': "SELECT percentage\nFROM ethnicgroup\nWHERE country = 'BR' AND name = 'Mulatto'",
  'type': 'complex',
  'total_tokens': 15635,
  'prompt_tokens': 15615,
  'completion_tokens': 20,
  'total_cost': 0.046925,
  'time': 4.768844366073608},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query_string': 'SELECT COUNT(*) FROM city WHERE population < 1000',
  'type': 'simple',
  'total_tokens': 15626,
  'prompt_tokens': 15615,
  'completion_tokens': 11,
  'total_cost': 0.04688900000000001,
  'time': 5.494422912597656},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query_string': "SELECT AVG(elevation) FROM airport WHERE country = 'USA'",
  'type': 'complex',
  'total_tokens': 15627,
  'prompt_tokens': 15614,
  'completion_tokens': 13,
  'total_cost': 0.046894000000000005,
  'time': 4.046313047409058},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the Caribbean Sea?',
  'query_string': "SELECT COUNT(*) \nFROM encompasses \nWHERE continent = 'America' AND percentage > 0",
  'type': 'medium',
  'total_tokens': 15639,
  'prompt_tokens': 15621,
  'completion_tokens': 18,
  'total_cost': 0.046935000000000004,
  'time': 4.439403533935547},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query_string': "SELECT SUM(c.area) \nFROM country c \nJOIN encompasses e ON c.code = e.country \nJOIN sea s ON e.continent = s.name \nWHERE s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Caribbean Sea' OR s.name = 'Caribbean Sea' \nOR s.name = 'Car",
  'type': 'complex',
  'total_tokens': 16386,
  'prompt_tokens': 15627,
  'completion_tokens': 759,
  'total_cost': 0.049917,
  'time': 14.316210269927979},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query_string': 'SELECT c1.name AS country, SUM(c2.population) AS total_population\nFROM country c1\nJOIN borders b ON c1.code = b.country1\nJOIN country c2 ON b.country2 = c2.code\nGROUP BY c1.name\nORDER BY c1.name ASC',
  'type': 'medium',
  'total_tokens': 15678,
  'prompt_tokens': 15619,
  'completion_tokens': 59,
  'total_cost': 0.047093,
  'time': 1.5634479522705078},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',
  'query_string': "SELECT mountain \nFROM mondial_mountainonisland \nWHERE island = 'Borneo'",
  'type': 'simple',
  'total_tokens': 15634,
  'prompt_tokens': 15615,
  'completion_tokens': 19,
  'total_cost': 0.046921000000000004,
  'time': 1.0018951892852783},
 {'id': '27',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query_string': 'SELECT name, population\nFROM country\nWHERE area = (SELECT MIN(area) FROM country)',
  'type': 'simple',
  'total_tokens': 15637,
  'prompt_tokens': 15618,
  'completion_tokens': 19,
  'total_cost': 0.04693,
  'time': 1.1086318492889404},
 {'id': '28',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query_string': 'SELECT DISTINCT c.code\nFROM country c\nJOIN river r ON c.code = r.country\nJOIN geo_estuary ge ON r.name = ge.river\nJOIN country nc ON ge.country = nc.code\nWHERE c.code <> nc.code\nORDER BY c.code',
  'type': 'complex',
  'total_tokens': 15682,
  'prompt_tokens': 15629,
  'completion_tokens': 53,
  'total_cost': 0.047098999999999995,
  'time': 1.664708137512207},
 {'id': '29',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query_string': 'SELECT DISTINCT c.code\nFROM country c\nJOIN province p ON c.code = p.country\nJOIN geo_mountain gm ON p.name = gm.province AND c.code = gm.country\nGROUP BY c.code\nHAVING COUNT(DISTINCT p.name) = (SELECT COUNT(DISTINCT province) FROM geo_mountain)\nORDER BY c.code ASC',
  'type': 'complex',
  'total_tokens': 15693,
  'prompt_tokens': 15622,
  'completion_tokens': 71,
  'total_cost': 0.04715,
  'time': 1.7895534038543701},
 {'id': '30',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query_string': 'SELECT country.code, SUM(borders.length) AS total_border_length\nFROM country\nJOIN borders ON country.code = borders.country1\nGROUP BY country.code\nORDER BY total_border_length DESC',
  'type': 'complex',
  'total_tokens': 15657,
  'prompt_tokens': 15619,
  'completion_tokens': 38,
  'total_cost': 0.047009,
  'time': 2.235713005065918},
 {'id': '31',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query_string': 'SELECT DISTINCT country.name, country.code\nFROM country\nJOIN river ON country.code = river.country\nWHERE river.source IS NOT NULL\nORDER BY country.name ASC',
  'type': 'medium',
  'total_tokens': 15651,
  'prompt_tokens': 15619,
  'completion_tokens': 32,
  'total_cost': 0.046985000000000006,
  'time': 5.187236785888672},
 {'id': '32',
  'question': 'What is the area and country of the Chatanga River?',
  'query_string': "SELECT area, country\nFROM river\nWHERE name = 'Chatanga'",
  'type': 'simple',
  'total_tokens': 15631,
  'prompt_tokens': 15616,
  'completion_tokens': 15,
  'total_cost': 0.046908,
  'time': 3.8846187591552734},
 {'id': '33',
  'question': 'Show the Airports with elevation more than 3000',
  'query_string': 'SELECT name, elevation\nFROM airport\nWHERE elevation > 3000',
  'type': 'simple',
  'total_tokens': 15630,
  'prompt_tokens': 15616,
  'completion_tokens': 14,
  'total_cost': 0.046904,
  'time': 6.238069772720337},
 {'id': '34',
  'question': 'What are the religions practiced in Mexico?',
  'query_string': "SELECT name FROM religion WHERE country = 'MEX'",
  'type': 'medium',
  'total_tokens': 15623,
  'prompt_tokens': 15612,
  'completion_tokens': 11,
  'total_cost': 0.046880000000000005,
  'time': 3.077162027359009},
 {'id': '35',
  'question': 'Show all rivers that do not flow into the sea.',
  'query_string': 'SELECT name \nFROM river \nWHERE sea IS NULL',
  'type': 'medium',
  'total_tokens': 15625,
  'prompt_tokens': 15615,
  'completion_tokens': 10,
  'total_cost': 0.046885,
  'time': 6.887010097503662},
 {'id': '36',
  'question': 'List African countries by number of neighbors.',
  'query_string': "SELECT c.name, COUNT(b.country2) AS num_neighbors\nFROM country c\nJOIN borders b ON c.code = b.country1\nWHERE c.continent = 'Africa'\nGROUP BY c.name\nORDER BY num_neighbors DESC;",
  'type': 'complex',
  'total_tokens': 15659,
  'prompt_tokens': 15612,
  'completion_tokens': 47,
  'total_cost': 0.047024,
  'time': 3.0899558067321777},
 {'id': '37',
  'question': 'What is the average infant mortality rate for each continent?',
  'query_string': 'SELECT continent.name, AVG(population.infant_mortality) AS average_infant_mortality\nFROM continent\nJOIN country ON continent.name = encompasses.continent\nJOIN population ON country.code = population.country\nGROUP BY continent.name',
  'type': 'simple',
  'total_tokens': 15660,
  'prompt_tokens': 15615,
  'completion_tokens': 45,
  'total_cost': 0.047025000000000004,
  'time': 4.250923156738281},
 {'id': '38',
  'question': 'What is the average mortality rate of the countries in America without considering Brazil?',
  'query_string': "SELECT AVG(population.infant_mortality) \nFROM population \nJOIN country ON population.country = country.code \nJOIN encompasses ON country.code = encompasses.country \nJOIN continent ON encompasses.continent = continent.name \nWHERE continent.name = 'America' AND country.name != 'Brazil'",
  'type': 'complex',
  'total_tokens': 15674,
  'prompt_tokens': 15619,
  'completion_tokens': 55,
  'total_cost': 0.047077,
  'time': 4.984719514846802},
 {'id': '39',
  'question': 'List seas with area greater than 8000 and depth less than 100.',
  'query_string': 'SELECT name \nFROM sea \nWHERE area > 8000 AND depth < 100',
  'type': 'simple',
  'total_tokens': 15637,
  'prompt_tokens': 15620,
  'completion_tokens': 17,
  'total_cost': 0.046928,
  'time': 4.0695884227752686},
 {'id': '40',
  'question': 'How many mountains are there in Asia?',
  'query_string': "SELECT COUNT(*) FROM mondial_geo_mountain WHERE country = 'AS'",
  'type': 'complex',
  'total_tokens': 15627,
  'prompt_tokens': 15612,
  'completion_tokens': 15,
  'total_cost': 0.046896,
  'time': 5.021842002868652},
 {'id': '41',
  'question': 'How many countries that are close to the Mediterranean Sea?',
  'query_string': "SELECT COUNT(*) \nFROM encompasses \nWHERE continent = 'Europe' AND percentage > 0",
  'type': 'complex',
  'total_tokens': 15633,
  'prompt_tokens': 15615,
  'completion_tokens': 18,
  'total_cost': 0.04691700000000001,
  'time': 4.3276660442352295},
 {'id': '42',
  'question': 'Show the total for each type of government.',
  'query_string': 'SELECT government, COUNT(*) AS total\nFROM politics\nGROUP BY government',
  'type': 'simple',
  'total_tokens': 15627,
  'prompt_tokens': 15613,
  'completion_tokens': 14,
  'total_cost': 0.046895,
  'time': 4.575848817825317},
 {'id': '43',
  'question': 'Which province has the largest desert in the world?',
  'query_string': 'SELECT province \nFROM mondial_geo_desert \nWHERE area = (SELECT MAX(area) FROM mondial_geo_desert)',
  'type': 'simple',
  'total_tokens': 15639,
  'prompt_tokens': 15614,
  'completion_tokens': 25,
  'total_cost': 0.046942000000000005,
  'time': 4.799830198287964},
 {'id': '44',
  'question': 'What is the largest desert in the world?',
  'query_string': 'SELECT name, area FROM desert ORDER BY area DESC',
  'type': 'simple',
  'total_tokens': 15623,
  'prompt_tokens': 15613,
  'completion_tokens': 10,
  'total_cost': 0.046879,
  'time': 4.830659866333008},
 {'id': '45',
  'question': 'List, for all continents, the amount of deserts on each.',
  'query_string': 'SELECT continent.name, COUNT(desert.name) AS desert_count\nFROM continent\nJOIN mondial_geo_desert ON continent.name = mondial_geo_desert.continent\nGROUP BY continent.name\nORDER BY desert_count DESC;',
  'type': 'complex',
  'total_tokens': 15663,
  'prompt_tokens': 15618,
  'completion_tokens': 45,
  'total_cost': 0.047034,
  'time': 4.768035650253296},
 {'id': '46',
  'question': 'What are the neighboring seas of the Banda Sea?',
  'query_string': "SELECT sea2\nFROM mergeswith\nWHERE sea1 = 'Banda Sea'",
  'type': 'medium',
  'total_tokens': 15632,
  'prompt_tokens': 15615,
  'completion_tokens': 17,
  'total_cost': 0.046913,
  'time': 4.741013526916504},
 {'id': '47',
  'question': 'List all the capitals of European countries.',
  'query_string': "SELECT country.capital\nFROM country\nJOIN continent ON encompasses.country = country.code\nWHERE continent.name = 'Europe'\nAnswer: The capitals of European countries are [Tirana, Andorra la Vella, Yerevan, Vienna, Baku, Minsk, Brussels, Sarajevo, Sofia, Zagreb, Nicosia, Prague, Copenhagen, Tallinn, Helsinki, Paris, Tbilisi, Berlin, Athens, Budapest, Reykjavik, Dublin, Rome, Astana, Pristina, Riga, Vaduz, Vilnius, Luxembourg, Skopje, Valletta, Chisinau, Monaco, Podgorica, Amsterdam, Oslo, Warsaw, Lisbon, Bucharest, Moscow, San Marino, Belgrade, Bratislava, Ljubljana, Madrid, Stockholm, Bern, Ankara, Kyiv, London, Vatican City]",
  'type': 'medium',