# Sampling Similar NL-to-SQL Pairs for Enhanced Prompting

In [31]:
from langchain.sql_database import SQLDatabase

from langchain_openai import ChatOpenAI
from langchain.chains import create_sql_query_chain
from urllib.parse import quote  
from langchain.callbacks import get_openai_callback
import time
from dotenv import load_dotenv
import os
import sys
import json
load_dotenv()

import warnings
warnings.filterwarnings("ignore", category=SyntaxWarning)

experiment_path = '..\..'
path = os.path.abspath('')
module_path = os.path.join(path, experiment_path)
if module_path not in sys.path:
    sys.path.append(module_path+"\\functions")

from sqldatabase_langchain_utils import SQLDatabaseLangchainUtils

## Schema

In [32]:
SCHEMA = 'mondial_gpt'
PREFIX = 'mondial'

FILE_NAME_RESULT = f"sql_queries_chatgpt_few_shot_{SCHEMA}.json"

def save_queries(queries):
    data = {"queries":queries}
    with open(FILE_NAME_RESULT, "w") as arquivo_json:
        json.dump(data, arquivo_json, indent=4) 

def read_queries():
    with open(FILE_NAME_RESULT, encoding='utf-8', errors='ignore') as json_data:
        data = json.load(json_data, strict=False)
    queries = data["queries"]
    return queries

## Connection

In [33]:
json_file_path = f"../../datasets/{SCHEMA}_db_connection.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    db_connection = json.load(json_data, strict=False)

## Database Information

In [34]:
from sqlalchemy.types import UserDefinedType

class GeoCoordType(UserDefinedType):
    def get_col_spec(self):
        return "GEOCOORD"

    def bind_processor(self, dialect):
        def process(value):
            return value
        return process

    def result_processor(self, dialect, coltype):
        def process(value):
            return value
        return process

from sqlalchemy.dialects.oracle import base as oracle_base
oracle_base.ischema_names["GEOCOORD"] = GeoCoordType

In [35]:
db = SQLDatabaseLangchainUtils(db_connection=db_connection)

exclude = [
    f"{SCHEMA}_tmdp",
    f"{SCHEMA}_tmdpmap",
    f"{SCHEMA}_tmds",
    f"{SCHEMA}_tmjmap",
    f"{SCHEMA}_tpv",
    f"{SCHEMA}_tmdc",
    f"{SCHEMA}_tmdcmap",
    f"{SCHEMA}_tmdej",
    f"{SCHEMA}_log_action",
    f"{SCHEMA}_log_error",
    f"{SCHEMA}_favorite_item", 
    f"{SCHEMA}_favorite_query",
    f"{SCHEMA}_favorite_tag",
    f"{SCHEMA}_favorite_tag_item",
    f"{SCHEMA}_favorite_visualization",
    f"{SCHEMA}_dashboard",
    f"{SCHEMA}_history",
    "teste_cliente",
    "teste_fornecedor",
    "teste_funcionario"
]

include_tables = [s for s in db.get_table_names() if not s.startswith(PREFIX) and s not in exclude]
db = SQLDatabaseLangchainUtils(db_connection=db_connection, include_tables=include_tables)

## Importing Dataset

In [36]:
json_file_path = f"../../datasets/{PREFIX}/{PREFIX}_dataset.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    dataset = json.load(json_data, strict=False)
dataset = dataset['dataset']
filtered_dataset = [{"id": entry["id"], "question": entry["question"], "query": entry["query"]} for entry in dataset]
filtered_dataset

[{'id': '1',
  'question': 'What is the area of Thailand?',
  'query': "SELECT max(area) FROM mondial_country where name  = 'Thailand'"},
 {'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query': 'SELECT name FROM mondial_province where area > 10000'},
 {'id': '3',
  'question': 'What are the languages spoken in Poland?',
  'query': "SELECT mondial_language.name FROM mondial_language INNER JOIN mondial_country ON mondial_language.country = mondial_country.code WHERE mondial_country.name = 'Poland'"},
 {'id': '4',
  'question': 'How deep is Lake Kariba?',
  'query': "SELECT depth FROM mondial_lake where name LIKE '%Lake Kariba%'"},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query': "SELECT count(*) FROM mondial_province p INNER JOIN mondial_country c ON p.country = c.code WHERE c.name = 'Netherlands'"},
 {'id': '6',
  'question': 'What is the percentage of religious people are hindu in thailand?',
  'query': "SELECT r.percentage FROM mondial_religion r INNER JOIN mondial_country c ON r.country = c.code WHERE c.name = 'Thailand' AND r.name LIKE '%Hindu%'"},
 {'id': '7',
  'question': 'List the number of provinces each river flows through.',
  'query': 'SELECT river.name, COUNT(DISTINCT geo_river.province) FROM river JOIN geo_river ON river.name = geo_river.river GROUP BY river.name'},
 {'id': '8',
  'question': 'Find all countries that became independent between 8/1/1910 and 8/1/1950.',
  'query': "SELECT c.name FROM mondial_country c \nINNER JOIN mondial_politics p ON c.code = p.country \nWHERE independence > DATE '1910-08-01' AND independence < DATE '1950-08-01'"},
 {'id': '9',
  'question': 'What are the cities of Cuba?',
  'query': "SELECT * FROM mondial_city ci INNER JOIN mondial_country c on ci.country = c.code where c.name = 'Cuba'"},
 {'id': '10',
  'question': 'What is the capital of Georgia?',
  'query': "SELECT capital FROM mondial_country WHERE name = 'Georgia'"},
 {'id': '11',
  'question': 'How many provinces have areas greater than 1000 in Niger?',
  'query': "SELECT count(p.name) FROM mondial_province p INNER JOIN mondial_country c on p.country = c.code where c.name = 'Niger' AND p.area > 1000"},
 {'id': '12',
  'question': 'Tell me about the country with the area largest.',
  'query': 'SELECT name FROM mondial_country GROUP BY name ORDER BY max(area) DESC FETCH FIRST 1 ROWS ONLY;'},
 {'id': '13',
  'question': 'What is the host province and year of establishment of the organization "International Energy Agency"?',
  'query': "SELECT o.province, o.established  FROM mondial_organization o WHERE o.name LIKE '%International Energy Agency%'"},
 {'id': '14',
  'question': 'Find the name of all mountains whose elevation is higher than 1000.',
  'query': 'SELECT name FROM mondial_mountain WHERE elevation > 1000.0'},
 {'id': '15',
  'question': 'Tell me the economy of the Caribbean Sea.',
  'query': "SELECT DISTINCT e.* FROM mondial_economy e \nINNER JOIN mondial_country c ON e.country = c.code\nINNER JOIN mondial_geo_sea gs ON gs.country = c.code\nINNER JOIN mondial_sea s ON s.name = gs.sea\nWHERE s.name LIKE '%Caribbean Sea%'"},
 {'id': '16',
  'question': 'Show the cities with longitude between 0 and 6.',
  'query': 'SELECT name FROM mondial_city WHERE longitude BETWEEN 0 AND 6'},
 {'id': '17',
  'question': 'Select cities whose population is greater than 100000, altitude greater than 2500, and the country you belong to has population growth greater than 1.',
  'query': 'SELECT ci.name FROM mondial_city ci\nINNER JOIN mondial_country c ON c.code = ci.country\nINNER JOIN mondial_population p ON p.country = c.code \nWHERE ci.population > 100000 AND ci.elevation > 2500 AND \np.population_growth > 1'},
 {'id': '18',
  'question': 'Show all the different types of government.',
  'query': 'SELECT DISTINCT government FROM mondial_politics'},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query': "SELECT p.name FROM mondial_province p INNER JOIN mondial_country c ON p.country = c.code  WHERE c.name = 'Germany'"},
 {'id': '20',
  'question': 'What is the percentage of mulatto ethnicity in Brazil?',
  'query': "SELECT eg.percentage FROM mondial_ethnicgroup eg INNER JOIN mondial_country c ON c.code = eg.country WHERE c.name = 'Brazil' AND eg.name LIKE '%Mulatto%'"},
 {'id': '21',
  'question': 'How many cities have populations less than 1000?',
  'query': 'SELECT count(*) FROM mondial_city WHERE population < 1000'},
 {'id': '22',
  'question': 'What is the average elevation of airports in America?',
  'query': "SELECT avg(a.elevation) FROM mondial_airport a\nINNER JOIN mondial_country c ON c.code = a.country \nINNER JOIN mondial_encompasses e ON e.country = c.code\nINNER JOIN mondial_continent co ON co.name = e.continent\nWHERE co.name = 'America'"},
 {'id': '23',
  'question': 'How many countries are adjacent to (or ecompassed by) the Caribbean Sea?',
  'query': "SELECT COUNT(DISTINCT ec.country) AS number_of_countries\nFROM mondial_geo_sea gs\nJOIN mondial_encompasses ec ON gs.country = ec.country\nWHERE gs.sea = 'Caribbean Sea';"},
 {'id': '24',
  'question': 'How much area do the countries that are adjacent to (or encompassed by) the Caribbean Sea cover in total?',
  'query': "SELECT SUM(DISTINCT c.area) AS total_area\nFROM mondial_Country c\nJOIN mondial_encompasses e ON c.code = e.country\nJOIN mondial_geo_sea gs ON e.country = gs.country\nWHERE gs.sea = 'Caribbean Sea';"},
 {'id': '25',
  'question': 'For all countries, give the sum of the population of all its neighbors',
  'query': 'SELECT c.name AS country_name, SUM(c1.population) AS total_neighbor_population\nFROM mondial_Country c\nJOIN mondial_Borders b ON c.code = b.country1\nJOIN mondial_Country c1 ON b.country2 = c1.code\nGROUP BY c.name;'},
 {'id': '26',
  'question': 'What mountains are on the island of Borneo?',
  'query': "SELECT mountain FROM mondial_mountainonisland WHERE island LIKE '%Borneo%'"},
 {'id': '27',
  'question': 'Provide the name and total population of the country with the smallest area.',
  'query': 'SELECT name, population FROM mondial_country ORDER BY area ASC FETCH FIRST 1 ROWS ONLY;'},
 {'id': '28',
  'question': 'The codes of all countries for which at least one river that originates in this country has its estuary in a neighboring country.',
  'query': 'SELECT DISTINCT s.country\nFROM mondial_geo_estuary e, mondial_borders b, mondial_geo_source s\nWHERE ((e.country = b.country1 AND s.country = b.country2)\nOR (e.country = b.country2 AND s.country = b.country1))\nAND e.river = s.river;'},
 {'id': '29',
  'question': 'The codes of all countries where at least one mountain is located in each of their provinces',
  'query': 'SELECT code FROM mondial_country\nWHERE code NOT IN (\nSELECT p.country FROM (\nSELECT name, country\nFROM mondial_province\nWHERE (name, country) NOT IN (SELECT province, country FROM mondial_geo_mountain)) p);'},
 {'id': '30',
  'question': 'The code and total border lengths of all countries with at least one border.',
  'query': 'SELECT b.country1, sum(b.length)\nFROM (SELECT country1, length FROM mondial_borders\nUNION ALL\nSELECT country2, length FROM mondial_borders\n) b\nGROUP BY b.country1;'},
 {'id': '31',
  'question': 'The names and codes of all countries in which at least one river originates.',
  'query': 'SELECT DISTINCT c.name, c.code\nFROM mondial_country c, mondial_geo_source g\nWHERE c.code = g.country;'},
 {'id': '32',
  'question': 'What is the area and country of the Chatanga River?',
  'query': "SELECT c.name, r.area FROM mondial_geo_river gr\nINNER JOIN mondial_country c ON c.code = gr.country \nINNER JOIN mondial_river r ON r.name = gr.river\nWHERE r.name = 'Chatanga'"},
 {'id': '33',
  'question': 'Show the Airports with elevation more than 3000',
  'query': 'SELECT name FROM mondial_airport WHERE elevation > 3000.0'},
 {'id': '34',
  'question': 'What are the religions practiced in Mexico?',
  'query': "SELECT r.name FROM mondial_religion r INNER JOIN mondial_country c ON c.code = r.country WHERE c.name = 'Mexico'"},
 {'id': '35',
  'question': 'Show all rivers that do not flow into the sea.',
  'query': 'SELECT name FROM mondial_River WHERE sea IS NULL;'},
 {'id': '36',
  'question': 'List African countries by number of neighbors.',
  'query': "SELECT c.name, COUNT(b.country2) AS num_neighbors FROM mondial_country c INNER JOIN mondial_borders b ON c.code = b.country1 \nINNER JOIN mondial_encompasses e ON c.code = e.country \nINNER JOIN mondial_continent co ON e.continent = co.name \nWHERE co.name = 'Africa' GROUP BY c.name ORDER BY num_neighbors DESC;"},
 {'id': '37',
  'question': 'What is the average infant mortality rate for each continent?',
  'query': 'SELECT c.name AS continent, AVG(p.infant_mortality) AS avg_infant_mortality\nFROM mondial_continent c\nJOIN mondial_encompasses e ON c.name = e.continent\nJOIN mondial_population p ON e.country = p.country\nGROUP BY c.name;'},
 {'id': '38',
  'question': 'What is the average mortality rate of the countries in America without considering Brazil?',
  'query': "SELECT AVG(p.infant_mortality) AS avg_infant_mortality\nFROM mondial_Country c\nJOIN mondial_Population p ON c.code = p.country\nJOIN mondial_encompasses e ON c.code = e.country\nJOIN mondial_Continent ct ON e.continent = ct.name\nWHERE ct.name = 'America' AND c.name != 'Brazil';"},
 {'id': '39',
  'question': 'List seas with area greater than 8000 and depth less than 100.',
  'query': 'SELECT name FROM mondial_sea WHERE area > 8000 AND depth < 100'},
 {'id': '40',
  'question': 'How many mountains are there in Asia?',
  'query': "SELECT count(DISTINCT m.name) FROM mondial_mountain m\nINNER JOIN mondial_geo_mountain gm ON m.name = gm.mountain \nINNER JOIN mondial_country c ON c.code = gm.country \nINNER JOIN mondial_encompasses e ON e.country = c.code\nINNER JOIN mondial_continent co ON co.name = e.continent\nWHERE co.name = 'Asia'"},
 {'id': '41',
  'question': 'How many countries that are close to the Mediterranean Sea?',
  'query': "SELECT count(DISTINCT c.name) FROM mondial_country c\nINNER JOIN mondial_geo_sea gs ON gs.country = c.code\nINNER JOIN mondial_sea s ON gs.sea = s.name \nWHERE s.name = 'Mediterranean Sea'"},
 {'id': '42',
  'question': 'Show the total for each type of government.',
  'query': 'SELECT government, count(government) FROM mondial_politics GROUP BY government'},
 {'id': '43',
  'question': 'Which province has the largest desert in the world?',
  'query': 'SELECT province FROM mondial_geo_desert gd \nINNER JOIN mondial_desert d ON gd.desert = d.name ORDER BY d.area DESC FETCH FIRST 1 ROWS ONLY;'},
 {'id': '44',
  'question': 'What is the largest desert in the world?',
  'query': 'SELECT name FROM mondial_desert ORDER BY area DESC FETCH FIRST 1 ROWS ONLY;'},
 {'id': '45',
  'question': 'List, for all continents, the amount of deserts on each.',
  'query': 'SELECT co.name, count(gd.desert) FROM mondial_geo_desert gd \nINNER JOIN mondial_country c ON c.code = gd.country \nINNER JOIN mondial_encompasses e ON e.country = c.code\nINNER JOIN mondial_continent co ON co.name = e.continent\nGROUP BY co.name'},
 {'id': '46',
  'question': 'What are the neighboring seas of the Banda Sea?',
  'query': "SELECT sea2 FROM mergeswith WHERE sea1 = 'Banda Sea' UNION SELECT sea1 FROM mergeswith WHERE sea2 = 'Banda Sea'"},
 {'id': '47',
  'question': 'List all the capitals of European countries.',
  'query': "SELECT c.capital FROM mondial_country c\nINNER JOIN mondial_encompasses e ON e.country = c.code\nINNER JOIN mondial_continent co ON co.name = e.continent\nWHERE co.name = 'Europe'"},
 {'id': '48',
  'question': 'What percentage of people speak French in Andorra?',
  'query': "SELECT l.percentage FROM mondial_language l \nINNER JOIN mondial_country c ON l.country = c.code\nWHERE l.name LIKE '%French%' AND c.name = 'Andorra'"},
 {'id': '49',
  'question': 'Which rivers are longer than 1000 kilometers?',
  'query': 'SELECT name FROM mondial_river WHERE length > 1000'},
 {'id': '50',
  'question': 'Which country had the lowest population growth?',
  'query': 'SELECT c.name FROM mondial_country c \nINNER JOIN mondial_population p ON p.country = c.code \nORDER BY p.population_growth ASC FETCH FIRST 1 ROWS ONLY'},
 {'id': '51',
  'question': 'List the name of capital cities for which we do not have data about the city in located',
  'query': 'SELECT c.capital FROM mondial_country c WHERE c.capital NOT IN (SELECT lo.city FROM mondial_located lo )'},
 {'id': '52',
  'question': 'What is the capital of the provice Andalucía?',
  'query': "SELECT p.CAPITAL\nFROM MONDIAL_PROVINCE p \nWHERE p.name like '%Andalucía%'"},
 {'id': '53',
  'question': 'What is the abbreviation for the organization whose name is "General Confederation of Trade Unions"?',
  'query': "SELECT abbreviation FROM mondial_organization WHERE name='General Confederation of Trade Unions'"},
 {'id': '54',
  'question': 'In which city is the organization with the abbreviation "UPU" ?',
  'query': "SELECT city FROM mondial_organization WHERE abbreviation='UPU'"},
 {'id': '55',
  'question': 'List the names of countries which are members of only one organization',
  'query': 'SELECT c.name\nFROM mondial_country c\nJOIN mondial_ismember m\nON c.code=m.country\nWHERE m.organization=ALL(SELECT organization\nFROM mondial_ismember m\nWHERE\nm.country=c.code)'},
 {'id': '56',
  'question': 'List the name of countries which are not a member of NATO.',
  'query': "SELECT c.name\nFROM mondial_country c\nWHERE c.code NOT IN (SELECT m.country\nFROM mondial_ismember m\nWHERE organization='NATO')"},
 {'id': '57',
  'question': 'List the name of countries which are a member of NATO.',
  'query': "SELECT c.name\nFROM mondial_country c\nJOIN mondial_ismember m\nON c.code=m.country\nWHERE organization='NATO'"},
 {'id': '58',
  'question': 'List the rivers with length less than 50',
  'query': 'SELECT name FROM mondial_river WHERE length < 50'},
 {'id': '59',
  'question': 'What are the area, elevation and type of lakes in country Italy?',
  'query': "SELECT l.area, l.elevation, l.type FROM MONDIAL_GEO_LAKE gl , MONDIAL_LAKE l, MONDIAL_COUNTRY c\nWHERE (gl.LAKE = l.NAME)\nAND (gl.COUNTRY = c.CODE)\nAND  c.name = 'Italy'"},
 {'id': '60',
  'question': 'List the names of capital cities which are the base for organizations in alphabetical order',
  'query': 'SELECT c.capital\nFROM mondial_country c\nWHERE c.capital IN (SELECT o.city\nFROM mondial_organization o) ORDER BY c.capital ASC'},
 {'id': '61',
  'question': 'List the name of organizations that do not have countries with an area smaller than 4000 and of the member type',
  'query': "SELECT o.name\nFROM mondial_organization o\nWHERE NOT EXISTS (SELECT *\nFROM mondial_ismember m\nJOIN mondial_country c\nON m.country=c.code\nWHERE m.organization=o.abbreviation\nAND c.area <=4000\nAND m.type= 'member')"},
 {'id': '62',
  'question': 'List the name of organizations that do not have countries with  an area greater than 10000 and population smaller than 3000 and of the member type',
  'query': "SELECT o.name\nFROM mondial_organization o\nWHERE NOT EXISTS (SELECT *\nFROM mondial_ismember m\nJOIN mondial_country c\nON m.country=c.code\nWHERE m.organization=o.abbreviation\nAND c.area > 10000\nAND c.population < 3000\nAND m.type= 'member')"},
 {'id': '63',
  'question': 'Show the inflation rate sorted of countries that are washed by the Arabian Sea',
  'query': "SELECT DISTINCT e.inflation FROM mondial_economy e \nINNER JOIN mondial_country c ON e.country = c.code\nINNER JOIN mondial_geo_sea gs ON gs.country = c.code\nINNER JOIN mondial_sea s ON s.name = gs.sea\nWHERE s.name LIKE '%Arabian Sea%' ORDER BY e.inflation"},
 {'id': '64',
  'question': 'List all the capitals of the countries that belong to the continent Africa?',
  'query': "SELECT c.capital FROM mondial_country c\nINNER JOIN mondial_encompasses e ON e.country = c.code\nINNER JOIN mondial_continent co ON co.name = e.continent\nWHERE co.name = 'Africa'"},
 {'id': '65',
  'question': 'Show the inflation rate of the countries bathed by the Arabian Sea and there is no inflation with null value',
  'query': "SELECT DISTINCT e.inflation FROM mondial_economy e \nINNER JOIN mondial_country c ON e.country = c.code\nINNER JOIN mondial_geo_sea gs ON gs.country = c.code\nINNER JOIN mondial_sea s ON s.name = gs.sea\nWHERE s.name LIKE '%Arabian Sea%' AND e.INFLATION IS NOT NULL"},
 {'id': '66',
  'question': 'How many countries are in Africa?',
  'query': "SELECT count(*) FROM mondial_country c\nINNER JOIN mondial_encompasses e ON e.country = c.code\nINNER JOIN mondial_continent co ON co.name = e.continent\nWHERE co.name = 'Africa'"},
 {'id': '67',
  'question': 'List the name of countries that are not members of NATO and UNESCO',
  'query': "SELECT name FROM country WHERE code NOT IN (SELECT country FROM ismember WHERE organization = 'NATO')\nINTERSECT SELECT name FROM country WHERE code NOT IN (SELECT country FROM ismember WHERE organization = 'UNESCO')"},
 {'id': '68',
  'question': 'What is the area of the continent Europe?',
  'query': "SELECT area FROM mondial_continent WHERE name = 'Europe'"},
 {'id': '69',
  'question': 'What is the area of continent America?',
  'query': "SELECT area FROM mondial_continent WHERE name = 'America'"},
 {'id': '70',
  'question': 'What is the area of continent Asia?',
  'query': "SELECT area FROM mondial_continent WHERE name = 'Asia'"},
 {'id': '71',
  'question': 'What is the area of Africa?',
  'query': "SELECT area FROM mondial_continent WHERE name = 'Africa'"},
 {'id': '72',
  'question': 'How many countries are in America?',
  'query': "SELECT count(*) FROM mondial_country c\nINNER JOIN mondial_encompasses e ON e.country = c.code\nINNER JOIN mondial_continent co ON co.name = e.continent\nWHERE co.name = 'America'"},
 {'id': '73',
  'question': 'What area is the largest continent?',
  'query': 'SELECT max(area) FROM mondial_continent'},
 {'id': '74',
  'question': 'List the countries that belong to the continent with the largest area',
  'query': 'SELECT c.name\nFROM mondial_country c\nINNER JOIN mondial_encompasses e ON e.country = c.code\nINNER JOIN mondial_continent co ON co.name = e.continent\nWHERE e.continent = (\n    SELECT name\n    FROM mondial_continent\n    GROUP BY name\n    ORDER BY MAX(area) DESC\n    FETCH FIRST 1 ROWS ONLY\n);'},
 {'id': '75',
  'question': 'List the countries that belong to the continent with the largest area and whose language is English',
  'query': "SELECT c.name\nFROM mondial_country c\nINNER JOIN mondial_encompasses e ON e.country = c.code\nINNER JOIN mondial_continent co ON co.name = e.continent\nINNER JOIN mondial_language l ON l.country = c.code\nWHERE e.continent = (\n    SELECT name\n    FROM mondial_continent\n    GROUP BY name\n    ORDER BY MAX(area) DESC\n    FETCH FIRST 1 ROWS ONLY\n) AND l.name='English';"},
 {'id': '76',
  'question': 'List the names of cities, along with the name of their country for cities with a population greater than 5 million.  Display the results in descending order by population.',
  'query': 'SELECT ci.name AS cityname, c.name AS countryname\nFROM mondial_city ci\nJOIN mondial_country c ON ci.country = c.code\nWHERE ci.population > 5000000\nORDER BY ci.population DESC;'},
 {'id': '77',
  'question': 'Show the name of the deserts in the province of Algeria',
  'query': "SELECT d.name FROM mondial_desert d \nINNER JOIN mondial_geo_desert gd ON gd.desert = d.name \nWHERE gd.province='Algeria'"},
 {'id': '78',
  'question': 'Show the name and area of the deserts in the province of California',
  'query': "SELECT d.name, d.area FROM mondial_desert d \nINNER JOIN mondial_geo_desert gd ON gd.desert = d.name \nWHERE gd.province='California'"},
 {'id': '79',
  'question': 'List the country names and percentage of use of language where  French are used as languages.',

In [37]:
base_pairs = filtered_dataset[:80]
test_pairs = filtered_dataset[80:]

## Functions for Similarity

In [38]:
from sentence_transformers import SentenceTransformer, util
import torch

embedder = SentenceTransformer('all-MiniLM-L6-v2')
base_nl_queries = [pair['question'] for pair in base_pairs]
base_embeddings = embedder.encode(base_nl_queries, convert_to_tensor=True)

def get_similar_examples(new_query, base_pairs, base_embeddings, top_k=3):
    new_embedding = embedder.encode(new_query, convert_to_tensor=True)
    cosine_scores = util.pytorch_cos_sim(new_embedding, base_embeddings)[0]
    top_results = torch.topk(cosine_scores, k=top_k)
    similar_examples = [base_pairs[idx] for idx in top_results.indices]
    return similar_examples

new_query = "What is the total area of the provinces in Canada"
similar_examples = get_similar_examples(new_query, base_pairs, base_embeddings, top_k=3)
similar_examples

[{'id': '2',
  'question': 'What are the provinces with an area greater than 10000?',
  'query': 'SELECT name FROM mondial_province where area > 10000'},
 {'id': '5',
  'question': 'What is the total of provinces of Netherlands?',
  'query': "SELECT count(*) FROM mondial_province p INNER JOIN mondial_country c ON p.country = c.code WHERE c.name = 'Netherlands'"},
 {'id': '19',
  'question': 'List all provinces in Germany',
  'query': "SELECT p.name FROM mondial_province p INNER JOIN mondial_country c ON p.country = c.code  WHERE c.name = 'Germany'"}]

In [39]:
def construct_prompt(similar_examples):
    prompt = "\n\nBelow are some examples of natural language queries and their corresponding SQL queries:\n\n"
    for ex in similar_examples:
        prompt += f"NL: {ex['question']}\nSQL: {ex['query']}\n\n"
    return prompt

## Creating the prompt

In [40]:
from langchain.prompts.prompt import PromptTemplate

f = open(f"prompt.txt", "r")
prompt_template = f.read()
f.close()

prompt_template += "\n\nBelow are some examples of natural language queries and their corresponding SQL queries:\n\n{few-shot}"

PROMPT = PromptTemplate(
    input_variables=["input", "table_info", "top_k", "few-shot"], template=prompt_template
)

print(PROMPT)

input_variables=['few-shot', 'input', 'table_info', 'top_k'] input_types={} partial_variables={} template='You are an Oracle SQL expert. Given an input question, first create a syntactically correct Oracle SQL query to run, then look at the results of the query and return the answer to the input question.\nUnless the user specifies in the question a specific number of examples to obtain, don\'t query for at {top_k} most results or any using the FETCH FIRST n ROWS ONLY clause as per Oracle SQL. You can order the results to return the most informative data in the database.\nNever query for all columns from a table. You must query only the columns that are needed to answer the question.\nPay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\nPay attention to use TRUNC(SYSDATE) function to get the current date, if the question involves "today". \n\nSome hints:\n- Don\'t use double quotes in column name\n- \nExample:\n`SELECT "column_name" FROM table` should be `SELECT column_name FROM table`\n- Don\'t use LEFT JOIN, only JOIN\n\nUse the following format:\n\nQuestion: Question here\nSQLQuery: SQL Query to run\nSQLResult: Result of the SQLQuery\nAnswer: Final answer here\n\nOnly use the following tables:\n{table_info}\n\nQuestion: {input}\n\nBelow are some examples of natural language queries and their corresponding SQL queries:\n\n{few-shot}'

## SQLQueryChain

In [41]:
query_chain  = create_sql_query_chain(ChatOpenAI(temperature=0, model_name='gpt-3.5-turbo-16k'), db.db, prompt=PROMPT)

### Example 1

In [42]:
with get_openai_callback() as cb:
    sql_query = query_chain.invoke({"question":"What is the total area of the provinces in Canada", "few-shot": similar_examples})
    
    print(cb.total_tokens)
    print(cb.prompt_tokens)
    print(cb.completion_tokens)
    print(cb.total_cost)
sql_query

6164
6149
15
0.018507000000000003

"SQLQuery: SELECT SUM(area) FROM province WHERE country = 'CAN'"

In [43]:
json_file_path = f"../../datasets/{PREFIX}/queries_{PREFIX}.json"
with open(json_file_path, encoding='utf-8', errors='ignore') as json_data:
    queries = json.load(json_data, strict=False)
queries = queries['queries']
queries = queries[80:]
queries

[{'id': '81',
  'question': 'What is the total area of the provinces in Canada?',
  'query_string': '',
  'type': 'complex'},
 {'id': '82',
  'question': 'What is the length of the Tigris River?',
  'query_string': '',
  'type': 'simple'},
 {'id': '83',
  'question': 'List the Airports with elevation more than 1000',
  'query_string': '',
  'type': 'medium'},
 {'id': '84',
  'question': 'List airports in the United States with an elevation below 200 feet',
  'query_string': '',
  'type': 'complex'},
 {'id': '85',
  'question': 'What are the mountains with altitudes above 8000 meters?',
  'query_string': '',
  'type': 'medium'},
 {'id': '86',
  'question': 'What are the 3 airports with the largest name?',
  'query_string': '',
  'type': 'simple'},
 {'id': '87',
  'question': 'List lakes with an area of less than 5000 square kilometers.',
  'query_string': '',
  'type': 'medium'},
 {'id': '88',
  'question': 'What is the total area of the seas with a depth greater than 1000 meters?',
  'query_string': '',
  'type': 'medium'},
 {'id': '89',
  'question': 'Find the countries whose name starts with the letter "B" and have a population greater than 10 million',
  'query_string': '',
  'type': 'complex'},
 {'id': '90',
  'question': 'List cities with another name in Brazil',
  'query_string': '',
  'type': 'medium'},
 {'id': '91',
  'question': 'List all cities that are at a latitude greater than 45 degrees.',
  'query_string': '',
  'type': 'medium'},
 {'id': '92',
  'question': 'Show the number of cities with another name in countries with an area greater than 30000',
  'query_string': '',
  'type': 'medium'},
 {'id': '93',
  'question': 'Show the deserts with area greater than 10000',
  'query_string': '',
  'type': 'simple'},
 {'id': '94',
  'question': 'List the islands that belong to a lake with an elevation greater than 100',
  'query_string': '',
  'type': 'simple'},
 {'id': '95',
  'question': 'List all mountains located on islands with an area greater than 100,000 square kilometers',
  'query_string': '',
  'type': 'medium'},
 {'id': '96',
  'question': 'List the countries and the sum of their provincial areas.',
  'query_string': '',
  'type': 'simple'},
 {'id': '97',
  'question': 'Show the name of the countries, the average elevation and sum of the population of their cities',
  'query_string': '',
  'type': 'medium'},
 {'id': '98',
  'question': "What was Germany's inflation?",
  'query_string': '',
  'type': 'medium'},
 {'id': '99',
  'question': 'What type of government is Iran?',
  'query_string': '',
  'type': 'medium'},
 {'id': '100',
  'question': "What is the percentage of industries in relation to Japan's economy?",
  'query_string': '',
  'type': 'medium'}]

In [ ]:
import warnings
from sqlalchemy import exc

# Suppress SAWarning
warnings.filterwarnings("ignore", category=exc.SAWarning, message=".*Cannot correctly sort tables.*")

number_of_queries_to_delay = 25
count = 0
for instance in queries:
    if count == number_of_queries_to_delay:
        count = 0
        time.sleep(10)
    with get_openai_callback() as cb:
        start_time = time.time()
        similar_examples = get_similar_examples(instance["question"], base_pairs, base_embeddings, top_k=3)
        print(similar_examples)
        sql_query = query_chain.invoke({"question":instance["question"], "few-shot": similar_examples})
        end_time = time.time()
        instance["query_string"] = sql_query
        instance['total_tokens'] = cb.total_tokens
        instance['prompt_tokens'] = cb.prompt_tokens
        instance['completion_tokens'] = cb.completion_tokens
        instance['total_cost'] = cb.total_cost
        instance['time'] = end_time - start_time
        print(instance['id'], instance['question'], instance["query_string"], instance['time'], instance['total_cost'])
    save_queries(queries)
    count += 1
queries

81 What is the total area of the provinces in Canada? SQLQuery: SELECT SUM(area) FROM province WHERE country = 'CAN' 0.8570704460144043 0.018555000000000002
82 What is the length of the Tigris River? SQLQuery: SELECT length FROM river WHERE name = 'Tigris' 0.8042933940887451 0.018543
83 List the Airports with elevation more than 1000 SQLQuery: SELECT name FROM airport WHERE elevation > 1000 0.5870575904846191 0.018607
84 List airports in the United States with an elevation below 200 feet SQLQuery:
SELECT name
FROM airport
WHERE country = 'USA' AND elevation < 200 0.8549323081970215 0.018649000000000002
85 What are the mountains with altitudes above 8000 meters? SQLQuery: SELECT name FROM mountain WHERE elevation > 8000 0.5952260494232178 0.018649
86 What are the 3 airports with the largest name? SQLQuery: SELECT name FROM airport ORDER BY LENGTH(name) DESC FETCH FIRST 3 ROWS ONLY; 0.7255043983459473 0.018711
87 List lakes with an area of less than 5000 square kilometers. SQLQuery: SELECT name FROM lake WHERE area < 5000 0.7761216163635254 0.018613
88 What is the total area of the seas with a depth greater than 1000 meters? SQLQuery: SELECT SUM(area) AS total_area
FROM sea
WHERE depth > 1000 1.5662257671356201 0.018807
89 Find the countries whose name starts with the letter "B" and have a population greater than 10 million SQLQuery:
SELECT name
FROM country
WHERE name LIKE 'B%' AND population > 10000000 0.8900661468505859 0.019097999999999997
90 List cities with another name in Brazil SQLQuery:
SELECT city.name
FROM city
JOIN country ON city.country = country.code
JOIN cityothername ON city.name = cityothername.city AND city.country = cityothername.country
WHERE country.name = 'Brazil' 0.9250433444976807 0.018759
91 List all cities that are at a latitude greater than 45 degrees. SQLQuery: SELECT name FROM city WHERE latitude > 45 0.742600679397583 0.018809999999999997
92 Show the number of cities with another name in countries with an area greater than 30000 SQLQuery:
SELECT COUNT(*)
FROM city
JOIN country ON city.country = country.code
WHERE country.area > 30000
AND city.name <> citylocalname.city 1.7808711528778076 0.018916
93 Show the deserts with area greater than 10000 SQLQuery: SELECT name, area FROM desert WHERE area > 10000 0.5697627067565918 0.018774000000000002
94 List the islands that belong to a lake with an elevation greater than 100 SQLQuery: SELECT island
FROM island
JOIN lakeonisland ON island.name = lakeonisland.island
JOIN lake ON lake.name = lakeonisland.lake
WHERE lake.elevation > 100 1.0672707557678223 0.018739
95 List all mountains located on islands with an area greater than 100,000 square kilometers SQLQuery:
SELECT mountain
FROM mountainonisland
JOIN island ON mountainonisland.island = island.name
WHERE island.area > 100000 0.9060380458831787 0.018569000000000002
96 List the countries and the sum of their provincial areas. SQLQuery: SELECT country, SUM(area) FROM province GROUP BY country 0.9025163650512695 0.018521000000000003
97 Show the name of the countries, the average elevation and sum of the population of their cities SQLQuery: SELECT c.name AS country_name, AVG(a.elevation) AS average_elevation, SUM(ci.population) AS total_population
FROM country c
JOIN province p ON c.code = p.country
JOIN city ci ON p.name = ci.province AND p.country = ci.country
JOIN airport a ON ci.name = a.city AND ci.country = a.country
GROUP BY c.name 1.3818387985229492 0.019118
98 What was Germany's inflation? SQLQuery: SELECT e.inflation FROM economy e JOIN country c ON e.country = c.code WHERE c.name = 'Germany' 0.7535891532897949 0.018896
99 What type of government is Iran? SQLQuery: SELECT government FROM politics WHERE country = 'IRN' 0.9403624534606934 0.018503000000000002
100 What is the percentage of industries in relation to Japan's economy? SQLQuery:
SELECT e.industry
FROM economy e
JOIN country c ON e.country = c.code
WHERE c.name = 'Japan' 0.9903898239135742 0.018875999999999997

[{'id': '81',
  'question': 'What is the total area of the provinces in Canada?',
  'query_string': "SQLQuery: SELECT SUM(area) FROM province WHERE country = 'CAN'",
  'type': 'complex',
  'total_tokens': 6180,
  'prompt_tokens': 6165,
  'completion_tokens': 15,
  'total_cost': 0.018555000000000002,
  'time': 0.8570704460144043},
 {'id': '82',
  'question': 'What is the length of the Tigris River?',
  'query_string': "SQLQuery: SELECT length FROM river WHERE name = 'Tigris'",
  'type': 'simple',
  'total_tokens': 6176,
  'prompt_tokens': 6161,
  'completion_tokens': 15,
  'total_cost': 0.018543,
  'time': 0.8042933940887451},
 {'id': '83',
  'question': 'List the Airports with elevation more than 1000',
  'query_string': 'SQLQuery: SELECT name FROM airport WHERE elevation > 1000',
  'type': 'medium',
  'total_tokens': 6198,
  'prompt_tokens': 6185,
  'completion_tokens': 13,
  'total_cost': 0.018607,
  'time': 0.5870575904846191},
 {'id': '84',
  'question': 'List airports in the United States with an elevation below 200 feet',
  'query_string': "SQLQuery: \nSELECT name \nFROM airport \nWHERE country = 'USA' AND elevation < 200",
  'type': 'complex',
  'total_tokens': 6209,
  'prompt_tokens': 6187,
  'completion_tokens': 22,
  'total_cost': 0.018649000000000002,
  'time': 0.8549323081970215},
 {'id': '85',
  'question': 'What are the mountains with altitudes above 8000 meters?',
  'query_string': 'SQLQuery: SELECT name FROM mountain WHERE elevation > 8000',
  'type': 'medium',
  'total_tokens': 6212,
  'prompt_tokens': 6199,
  'completion_tokens': 13,
  'total_cost': 0.018649,
  'time': 0.5952260494232178},
 {'id': '86',
  'question': 'What are the 3 airports with the largest name?',
  'query_string': 'SQLQuery: SELECT name FROM airport ORDER BY LENGTH(name) DESC FETCH FIRST 3 ROWS ONLY;',
  'type': 'simple',
  'total_tokens': 6230,
  'prompt_tokens': 6209,
  'completion_tokens': 21,
  'total_cost': 0.018711,
  'time': 0.7255043983459473},
 {'id': '87',
  'question': 'List lakes with an area of less than 5000 square kilometers.',
  'query_string': 'SQLQuery: SELECT name FROM lake WHERE area < 5000',
  'type': 'medium',
  'total_tokens': 6200,
  'prompt_tokens': 6187,
  'completion_tokens': 13,
  'total_cost': 0.018613,
  'time': 0.7761216163635254},
 {'id': '88',
  'question': 'What is the total area of the seas with a depth greater than 1000 meters?',
  'query_string': 'SQLQuery: SELECT SUM(area) AS total_area\nFROM sea\nWHERE depth > 1000',
  'type': 'medium',
  'total_tokens': 6262,
  'prompt_tokens': 6241,
  'completion_tokens': 21,
  'total_cost': 0.018807,
  'time': 1.5662257671356201},
 {'id': '89',
  'question': 'Find the countries whose name starts with the letter "B" and have a population greater than 10 million',
  'query_string': "SQLQuery: \nSELECT name \nFROM country \nWHERE name LIKE 'B%' AND population > 10000000",
  'type': 'complex',
  'total_tokens': 6358,
  'prompt_tokens': 6334,
  'completion_tokens': 24,
  'total_cost': 0.019097999999999997,
  'time': 0.8900661468505859},
 {'id': '90',
  'question': 'List cities with another name in Brazil',
  'query_string': "SQLQuery: \nSELECT city.name \nFROM city \nJOIN country ON city.country = country.code \nJOIN cityothername ON city.name = cityothername.city AND city.country = cityothername.country \nWHERE country.name = 'Brazil'",
  'type': 'medium',
  'total_tokens': 6237,
  'prompt_tokens': 6189,
  'completion_tokens': 48,
  'total_cost': 0.018759,
  'time': 0.9250433444976807},
 {'id': '91',
  'question': 'List all cities that are at a latitude greater than 45 degrees.',
  'query_string': 'SQLQuery: SELECT name FROM city WHERE latitude > 45',
  'type': 'medium',
  'total_tokens': 6266,
  'prompt_tokens': 6254,
  'completion_tokens': 12,
  'total_cost': 0.018809999999999997,
  'time': 0.742600679397583},
 {'id': '92',
  'question': 'Show the number of cities with another name in countries with an area greater than 30000',
  'query_string': 'SQLQuery: \nSELECT COUNT(*) \nFROM city \nJOIN country ON city.country = country.code \nWHERE country.area > 30000 \nAND city.name <> citylocalname.city',
  'type': 'medium',
  'total_tokens': 6293,
  'prompt_tokens': 6256,
  'completion_tokens': 37,
  'total_cost': 0.018916,
  'time': 1.7808711528778076},
 {'id': '93',
  'question': 'Show the deserts with area greater than 10000',
  'query_string': 'SQLQuery: SELECT name, area FROM desert WHERE area > 10000',
  'type': 'simple',
  'total_tokens': 6253,
  'prompt_tokens': 6238,
  'completion_tokens': 15,
  'total_cost': 0.018774000000000002,
  'time': 0.5697627067565918},
 {'id': '94',
  'question': 'List the islands that belong to a lake with an elevation greater than 100',
  'query_string': 'SQLQuery: SELECT island\nFROM island\nJOIN lakeonisland ON island.name = lakeonisland.island\nJOIN lake ON lake.name = lakeonisland.lake\nWHERE lake.elevation > 100',
  'type': 'simple',
  'total_tokens': 6232,
  'prompt_tokens': 6189,
  'completion_tokens': 43,
  'total_cost': 0.018739,
  'time': 1.0672707557678223},
 {'id': '95',
  'question': 'List all mountains located on islands with an area greater than 100,000 square kilometers',
  'query_string': 'SQLQuery: \nSELECT mountain\nFROM mountainonisland\nJOIN island ON mountainonisland.island = island.name\nWHERE island.area > 100000',
  'type': 'medium',
  'total_tokens': 6179,
  'prompt_tokens': 6147,
  'completion_tokens': 32,
  'total_cost': 0.018569000000000002,
  'time': 0.9060380458831787},
 {'id': '96',
  'question': 'List the countries and the sum of their provincial areas.',
  'query_string': 'SQLQuery: SELECT country, SUM(area) FROM province GROUP BY country',
  'type': 'simple',
  'total_tokens': 6169,
  'prompt_tokens': 6155,
  'completion_tokens': 14,
  'total_cost': 0.018521000000000003,
  'time': 0.9025163650512695},
 {'id': '97',
  'question': 'Show the name of the countries, the average elevation and sum of the population of their cities',
  'query_string': 'SQLQuery: SELECT c.name AS country_name, AVG(a.elevation) AS average_elevation, SUM(ci.population) AS total_population\nFROM country c\nJOIN province p ON c.code = p.country\nJOIN city ci ON p.name = ci.province AND p.country = ci.country\nJOIN airport a ON ci.name = a.city AND ci.country = a.country\nGROUP BY c.name',
  'type': 'medium',
  'total_tokens': 6346,
  'prompt_tokens': 6266,
  'completion_tokens': 80,
  'total_cost': 0.019118,
  'time': 1.3818387985229492},
 {'id': '98',
  'question': "What was Germany's inflation?",
  'query_string': "SQLQuery: SELECT e.inflation FROM economy e JOIN country c ON e.country = c.code WHERE c.name = 'Germany'",
  'type': 'medium',
  'total_tokens': 6290,
  'prompt_tokens': 6264,
  'completion_tokens': 26,
  'total_cost': 0.018896,
  'time': 0.7535891532897949},
 {'id': '99',
  'question': 'What type of government is Iran?',
  'query_string': "SQLQuery: SELECT government FROM politics WHERE country = 'IRN'",
  'type': 'medium',
  'total_tokens': 6163,
  'prompt_tokens': 6149,
  'completion_tokens': 14,
  'total_cost': 0.018503000000000002,
  'time': 0.9403624534606934},
 {'id': '100',
  'question': "What is the percentage of industries in relation to Japan's economy?",
  'query_string': "SQLQuery: \nSELECT e.industry\nFROM economy e\nJOIN country c ON e.country = c.code\nWHERE c.name = 'Japan'",
  'type': 'medium',
  'total_tokens': 6282,
  'prompt_tokens': 6252,
  'completion_tokens': 30,
  'total_cost': 0.018875999999999997,
  'time': 0.9903898239135742}]

In [46]:
with open(FILE_NAME_RESULT, encoding='utf-8', errors='ignore') as json_data:
    queries = json.load(json_data, strict=False)
queries = queries['queries']
for instance in queries:
    instance['query_string'] = instance['query_string'].lstrip("SQLQuery: ").strip()
save_queries(queries)

In [47]:
with open(FILE_NAME_RESULT, encoding='utf-8', errors='ignore') as json_data:
    queries = json.load(json_data, strict=False)
queries = queries['queries']
for instance in queries:
    if instance['query_string'][0] != "S":
        instance['query_string'] = "S"+ instance['query_string']
save_queries(queries)